{% extends "content_layout.html.twig" %}

{% block title %}{{ "user.checkEmail.CheckYourEmails"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="mt-1" alt="Robot"/></span>{{ "user.checkEmail.CheckYourEmails"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ "check-mail.jpg"|imgsize(550, 'extended/photo/', true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	<div class="alert alert-success">{{ "user.checkEmail.Congratulation"|trans([], "validators") }}</div>
	<p>{{ "user.checkEmail.CongratulationText"|trans([], "validators") }}</p>
{% endblock %}