{% extends "content_layout.html.twig" %}
{% block title %}{{ "user.confirmed.Congratulation"|trans({}, "validators") }}{% endblock %}

{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/alien_user.png') }}" width="25" class="mt-1" /></span>{{ "user.confirmed.Congratulation"|trans({}, "validators") }}</h2>{% endblock %}
{% block APBlog_body %}
	{% block fos_user_content %}
		<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}succes-black-gothic-girl.jpg" width="550" alt="Warrior girl" /></p>
		<div class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</div>
		<p><a href="{{ path('Security_Login') }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>
	{% endblock fos_user_content %}
{% endblock %}