{% extends "content_layout.html.twig" %}
{% block title %}{{ "user.index.CreateAccount"|trans([], "validators") }}{% endblock %}
{% block header_plus %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.tinymce_init_js() }}
	{{ macro_index.tinymce_js(form.presentation.vars.id) }}
{% endblock %}

{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/pyramid.png') }}" width="25" class="mt-1" alt="Maya pyramid"></span>{{ "user.index.CreateAccount"|trans([], "validators") }}</h2>{% endblock %}
{% block APBlog_body %}
	{% block fos_user_content %}
	{% include "user/Registration/register_content.html.twig" %}
	{% endblock fos_user_content %}
	
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}