<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "usefullink.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "usefullink.admin.Text"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.text) }}{{ form_widget(form.text) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.links, "usefullink.admin.Link"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.links) }}{{ form_widget(form.links, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.category, "usefullink.admin.Category"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.category) }}{{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.tags, "usefullink.admin.Tags"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.tags) }}{{ form_widget(form.tags, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "usefullink.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.licence, "usefullink.admin.Licence"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.licence) }}{{ form_widget(form.licence, { 'attr': {'class': 'form-control'} }) }}</div>