{% extends "content_layout.html.twig" %}
{% block title %}{{ "user.index.ModifCompte"|trans([], "validators") }}{% endblock %}
{% block header_plus %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.tinymce_init_js() }}
	{{ macro_index.tinymce_js(form.presentation.vars.id) }}
{% endblock %}

{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/rune.png') }}" width="25" class="mt-1" alt="Egypt God"/></span>{{ "user.index.ModifCompte"|trans([], "validators") }}</h2>{% endblock %}

{% block APBlog_body %}
	{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
	{{ form_start(form, {'action': path('apuser_update'), 'attr':{'class' : 'form-horizontal apuser_update', novalidate: 'novalidate'}}) }}
		<p class="image">{{ user.avatar|imgsize(550, user.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
		<br />
		<div class="form-table form-table-4cols form-table-collapse">
			<div class="form-table-cell form-table-cell-head">{{ "user.register.Pseudo"|trans([], "validators") }}</div>
			<div class="form-table-cell">{{ user.username }}</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.email, "user.register.Email"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.email) }}
				{{ form_widget(form.email, {'attr':{'class' : 'form-control'}}) }}
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.country, "user.register.Country"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.country) }}{{ form_widget(form.country, {'attr':{'class' : 'form-control'}}) }}</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.civility, "user.register.Civility"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.civility) }}
				{{ form_widget(form.civility, {'attr':{'class' : 'form-control'}}) }}
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.avatar, "user.register.Avatar"|trans([], "validators")) }}</div>
			<div class="form-table-cell text-left">
				<b><u>{{ "admin.general.CurrentFile"|trans([], "validators") }}</u></b> {{ user.avatar }}
				{{ form_errors(form.avatar) }}
				{{ form_widget(form.avatar, {'attr':{'class' : 'form-control'}}) }}
					<div>
						<span class="font-weight-bold">{{ "user.register.AcceptedFormat"|trans([], "validators") }} :</span> PNG, JPG, JPEG, GIF
						<br>
						<span class="font-weight-bold">{{ "user.register.FileSizeLimit"|trans([], "validators") }} :</span> 500 ko
					</div>
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.birthDate, "user.register.BirthDate"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.birthDate) }}
				{{ form_widget(form.birthDate, {'attr':{'class' : 'form-control'}}) }}
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.city, "user.register.City"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.city) }}
				{{ form_widget(form.city, {'attr':{'class' : 'form-control'}}) }}
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.blog, "user.register.Blog"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.blog) }}
				{{ form_widget(form.blog, {'attr':{'class' : 'form-control'}}) }}
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.siteWeb, "user.register.WebSite"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.siteWeb) }}
				{{ form_widget(form.siteWeb, {'attr':{'class' : 'form-control'}}) }}
			</div>
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.presentation, "user.register.Presentation"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.presentation) }}
				{{ form_widget(form.presentation, {'attr':{'class' : 'form-control'}}) }}
			</div>
		</div>
	
	<br>
	<h3>{{ "user.donation.ReceiveRewards"|trans([], "validators") }}</h3>
	<div class="form-table form-table-4cols form-table-collapse">
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.paypal) }}</div>
		<div class="form-table-cell">
			{{ form_errors(form.paypal) }}
			{{ form_widget(form.paypal, {'attr':{'class' : 'form-control'}}) }}
		</div>
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.bitcoin) }}</div>
		<div class="form-table-cell">
			{{ form_errors(form.bitcoin) }}
			{{ form_widget(form.bitcoin, {'attr':{'class' : 'form-control'}}) }}
		</div>
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.ethereum) }}</div>
		<div class="form-table-cell">
			{{ form_errors(form.ethereum) }}
			{{ form_widget(form.ethereum, {'attr':{'class' : 'form-control'}}) }}
		</div>
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.dogecoin) }}</div>
		<div class="form-table-cell">
			{{ form_errors(form.dogecoin) }}
			{{ form_widget(form.dogecoin, {'attr':{'class' : 'form-control'}}) }}
		</div>
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.cardano) }}</div>
		<div class="form-table-cell">
			{{ form_errors(form.cardano) }}
			{{ form_widget(form.cardano, {'attr':{'class' : 'form-control'}}) }}
		</div>
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.zilliqa) }}</div>
		<div class="form-table-cell">
			{{ form_errors(form.zilliqa) }}
			{{ form_widget(form.zilliqa, {'attr':{'class' : 'form-control'}}) }}
		</div>
	</div>
		{{ form_rest(form) }}
		{{ form_errors(form) }}
		<div class="clearfix">
		<div class="mt-3 float-right">
			<input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="submitcomment btn" />
		</div>
		</div>
	{{ form_end(form) }}
	
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}