<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />

<h3>{{ "bookEdition.admin.ListOfEditions"|trans([], "validators") }}</h3>
<table class="table table-striped table-bordered dataTable index_admin dt-responsive w-100">
	<thead>
		<th class="label_form">{{ "bookEdition.admin.Publisher"|trans([], "validators") }}</th>
		<th class="label_form">ISBN-10</th>
		<th class="label_form">ISBN-13</th>
		<th class="label_form">{{ "admin.index.Action"|trans([], "validators") }}</th>
	</thead>
	<tbody>

	</tbody>
	<tfoot>
		<th class="label_form">{{ "bookEdition.admin.Publisher"|trans([], "validators") }}</th>
		<th class="label_form">ISBN-10</th>
		<th class="label_form">ISBN-13</th>
		<th class="label_form">{{ "admin.index.Action"|trans([], "validators") }}</th>
	</tfoot>
</table>

<a href="{{ path('BookEdition_Admin_New', {bookId: bookId}) }}" class="btn btn-success">{{ "bookEdition.admin.AddEdition"|trans([], "validators") }}</a>

<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
<script>
	$(function ()
	{
		oTable = $('table.index_admin').DataTable( {
			"language": {
				"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
			},
			"searching": true,
			"info": true,
			"lengthChange": true,
			"order": [[ 0, "desc" ]],
			"pagingType": "full_numbers",
			"pageLength": {{ total_line_display }},
			"processing": true,
			"serverSide": true,
			"ajax": "{{ path('BookEdition_Admin_IndexDatatables', {bookId: bookId}) }}"
		});
	});
	{% block js_edit_additional %}{% endblock %}
</script>