{% extends "content_layout.html.twig" %}

{% block title %}{{ artist.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/disk.png') }}" width="25" class="mt-1" alt="Guitar"/></span>{{ artist.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			toDatatables("{{ app.request.locale }}", "{{ asset('extended/js/DataTables/language') }}");
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	{% set img = artist.photoIllustrationFilename|imgsize(null, artist.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, artist.photoIllustrationCaption, false) %}

	{% if img is not null %}
	<p class="image">{{ img|raw }}</p>
	<br>
	{% endif %}
	<hr>
	
	<ul class="fa-ul">
		<li><span class="fa-li"><i class="fas fa-volume-up"></i></span> <span class="font-weight-bold">{{ "music.album.NbrAlbum"|trans([], "validators") }}</span> {{ entities|length }}</li>
		<li><span class="fa-li"><i class="fas fa-drum"></i></span> <span class="font-weight-bold">{{ "music.album.Genre"|trans([], "validators") }}</span> {% if artist.genre is not empty %}<a href="{{ path('Music_Genre', {genreId: artist.genre.id, genreTitle: artist.genre.title}) }}">{{ artist.genre.title }}</a>{% endif %}</li>
		<li><span class="fa-li"><i class="fas fa-globe"></i></span> {% if artist.country is not empty %}<img src="{{ asset(artist.country.getAssetImagePath())~artist.country.flag }}" alt='' width='20' height='13'> {{ artist.country.title }}{% endif %}</li>
		<li><span class="fa-li"><i class="fas fa-external-link-alt"></i></span> <a href="{{ artist.website }}" alt="" target="_blank" class="font-weight-bold">{{ "music.album.Website"|trans([], "validators") }}</a></li>
	</ul>
	
	<hr>

	{{ artist.biography|raw }}
	<hr>

	{% if artist.artistBiographies|length > 0 %}
		<h3>{{ "artist.read.Members"|trans([], "validators") }}</h3>
		{% set members = biography_by_artist(artist) %}
		{% if members["current"] %}
			<h4>{{ "artist.read.CurrentMembers"|trans([], "validators") }}</h4>
			<table class="table">
				<tbody>
					{% for member in members["current"] %}
						<tr>
							<td><a href="{{ path('Biography_Show', {id: member.biographyId, title: member.biographyTitle}) }}" title="{{ member.biographyTitle }}">{{ member.stageName }}</a>{% if  member.biographyTitle != member.stageName %} (<i>{{ member.biographyTitle }}</i>) {% endif %}{% if member.years is not empty%} ({{ member.years }}){% endif %}</td>
							<td>
							{% set occupationArray = [] %}
							{% for occupation in member.occupations %}
								{% set occupationArray = occupationArray|merge([("artist.biography."~occupation|ucfirst)|trans([], "validators")]) %}
							{% endfor %}
							
							{{ occupationArray|join(", ") }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		{% if members["former"] %}
			<h4>{{ "artist.read.FormerMembers"|trans([], "validators") }}</h4>
			<table class="table">
				<tbody>
					{% for member in members["former"] %}
						<tr>
							<td><a href="{{ path('Biography_Show', {id: member.biographyId, title: member.biographyTitle}) }}" title="{{ member.biographyTitle }}">{{ member.stageName }}</a>{% if  member.biographyTitle != member.stageName %} (<i>{{ member.biographyTitle }}</i>) {% endif %}{% if member.years is not empty%} ({{ member.years }}){% endif %}</td>
							<td>
							{% set occupationArray = [] %}
							{% for occupation in member.occupations %}
								{% set occupationArray = occupationArray|merge([("artist.biography."~occupation|ucfirst)|trans([], "validators")]) %}
							{% endfor %}
							
							{{ occupationArray|join(", ") }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% endif %}
	<hr>
	<div class="tabs">
		<h3>{{ "artist.read.Discography"|trans([], "validators") }}</h3>
		<table class="doc_datatables table dt-responsive w-100">
			<thead>
				<tr>
					<th class="label_form">{{ "music.album.Title"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.album.NbrTitle"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.album.Read"|trans([], "validators") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entity in entities %}
					<tr>
						<td class="tdGene">{{ entity['album_title'] }}</td>
						<td class="tdGene"><span class="badge badge-info">{{ entity['number_title'] }}</span></td>
						<td><a href="{{ path('Music_Listen', { 'id' : entity['album_id'], 'artist' : entity['artist_title'], 'artistId' : entity['artist_id'], 'album' : entity['album_title'] }) }}">{{ "music.album.Read"|trans([], "validators") }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th class="label_form">{{ "music.album.Title"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.album.NbrTitle"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.album.Read"|trans([], "validators") }}</th>
				</tr>
			</tfoot>
		</table>
		
		{% if musicByArtists is not empty %}
		<h3>{{ "artist.read.Video"|trans([], "validators") }}</h3>
		<table class="doc_datatables table dt-responsive w-100">
			<thead>
				<tr>
					<th class="label_form">{{ "music.listen.Title"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.listen.Duration"|trans([], "validators") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entity in musicByArtists %}
					<tr>
					<td class="tdGene"><a href="{{ path('Music_Music', { 'id' : entity.id, 'music' : entity.musicPiece }) }}" alt="" class="font-weight-bold">{{ entity.musicPiece }}</a></td>
					<td><i class="far fa-clock"></i> {{ (entity.length|string_duration)|default('-') }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th class="label_form">{{ "music.listen.Title"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.listen.Duration"|trans([], "validators") }}</th>
				</tr>
			</tfoot>
		</table>
		{% endif %}

		{% if artist.identifiers is not empty %}
			{% set datas = json_decode(artist.identifiers) %}
			{% if datas is not empty %}
				<h3>{{ "artist.read.Identifiers"|trans([], "validators") }}</h3>
				<ul class="fa-ul">
					{% for data in datas %}
						<li><span class="fa-li"><i class="fas fa-fast-forward"></i></span> {{ data.identifier }} (<i><a href="{{ url_identifier(data.identifier, data.value) }}" target="_blank">{{ data.value }}</a></i>)</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}

		{% if artist.source is not empty %}
			<br>
			<h3>{{ "artist.read.Sources"|trans([], "validators") }}</h3>
			{{ source_document(artist.source, artist.language) }}
		{% endif %}
		
		<br>
		{{ "google"|advertisement|raw }}
	</div>
{% endblock %}