{% extends "content_layout.html.twig" %}

{% block title %}{{ musicGenre.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/disk.png') }}" width="25" class="mt-1" alt="Guitar"></span>{{ musicGenre.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			toDatatables("{{ app.request.locale }}", "{{ asset('extended/js/DataTables/language') }}");
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen">
{% endblock %}

{% block APBlog_body %}
	{% set img = musicGenre.photoIllustrationFilename|imgsize(550, musicGenre.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, musicGenre.photoIllustrationCaption, false) %}
	
	{% if img is not null %}
		<p class="image">{{ img|raw }}</p>
	{% endif %}
	
	{{ musicGenre.text|raw }}

	<hr>
	<p>{{ "musicGenre.index.NumberOfArtists"|trans([], "validators") }} <span class="badge bg-danger">{{ entities|length }}</span></p>
	<hr>
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "musicGenre.index.Artist"|trans([], "validators") }}</th>
				<th class="label_form">{{ "musicGenre.index.Country"|trans([], "validators") }}</th>
				<th class="label_form">{{ "musicGenre.index.Read"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.title }}</td>
					<td>{% if entity.country is not empty %}<img src="{{ asset(entity.country.getAssetImagePath())~entity.country.flag }}" alt='' width='20' height='13'> {{ entity.country.title }}{% endif %}</td>
					<td><a href="{{ path('Music_Album', { id: entity.id, title_slug: entity.urlSlug }) }}">{{ "musicGenre.index.Read"|trans([], "validators") }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% set sources = source_document(musicGenre.source, musicGenre.language) %}
	{% if sources is not empty %}
		<h3>{{ "musicGenre.index.Sources"|trans([], "validators") }}</h3>
		{{ sources|raw }}
	{% endif %}
	<hr>
	{{ "google"|advertisement|raw }}
{% endblock %}