{% extends "content_layout.html.twig" %}

{% block title %}{{ "music.index.Music"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/jukebox.png') }}" width="25" class="mt-1" alt="Jukebox"/></span>{{ "music.index.Music"|trans([], "validators") }}</h2>{% endblock h2_title %}
{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
	<script>
		$(function ()
		{
			oTable = $('table.music_datatables').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"ordering": true,
				"lengthChange": true,
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"processing": true,
				"serverSide": true,
				"order": [[ 0, "asc" ]],
				"ajax": {
					"url": "{{ path('Music_ListDatatables') }}",
					"type": "GET",
					"data": function(d) {
						d.form = $("#{{ form.vars.id }}").serialize()
					}
				},
				"preDrawCallback": function( settings ) {
					document.getElementById("count_artist").innerHTML = '<i class="fas fa-spinner fa-pulse fa-fw"></i>';
				},
				"drawCallback": function( settings ) {
					document.getElementById("count_artist").innerHTML = settings.json.recordsTotal;
				}
			});
		
			document.querySelector("#{{ form.vars.id }}").addEventListener("submit", (e) => {
				e.preventDefault();
				oTable.ajax.reload();
			});
		});
	</script>
{% endblock %}
{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/metalGirl.jpg') }}" width="550" alt="Métal Girl" /></p>
	<hr>
	<p>{{ "music.index.NbrArt"|trans([], "validators") }}<span class="badge bg-danger" id="count_artist"><i class="fas fa-spinner fa-pulse fa-fw"></i></span></p>
	<hr>
	<h3>{{ "artist.search.SearchSort"|trans([], "validators") }}</h3>
	{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
	{{ form_start(form, {'action': path('Music_Index'), 'method': 'POST', 'attr': {id: form.vars.id, 'class' : 'form-horizontal', novalidate: 'novalidate'}}) }}
		<div class="form-table form-table-4cols form-table-collapse">
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "artist.search.Title"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, {'attr':{'class' : 'form-control'}}) }}</div>

			<div class="form-table-cell form-table-cell-head">{{ form_label(form.country, "artist.search.Country"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.country) }}{{ form_widget(form.country, {'attr':{'class' : 'form-select'}}) }}</div>

			<div class="form-table-cell form-table-cell-head">{{ form_label(form.genre, "artist.search.Genre"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.genre) }}{{ form_widget(form.genre, {'attr':{'class' : 'form-select'}}) }}</div>

			<div class="form-table-cell form-table-cell-head">{{ form_label(form.bandStartingWith, "artist.search.BandStartingWith"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.bandStartingWith) }}{{ form_widget(form.bandStartingWith, {'attr':{'class' : 'form-select'}}) }}</div>
		</div>
		{{ form_rest(form) }}
		<button type="submit" class="btn submitcomment float-end">{{ "artist.search.Validate"|trans([], "validators") }}</button>
	{{ form_end(form) }}
	<br>
	<hr>
	<br>
	<table class="music_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "music.index.Artist"|trans([], "validators") }}</th>
				<th class="label_form">{{ "music.index.Genre"|trans([], "validators") }}</th>
				<th class="label_form">{{ "music.index.Listen"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "music.index.Artist"|trans([], "validators") }}</th>
				<th class="label_form">{{ "music.index.Genre"|trans([], "validators") }}</th>
				<th class="label_form">{{ "music.index.Listen"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	{{ "google"|advertisement|raw }}
{% endblock %}