{% extends "content_layout.html.twig" %}

{% block title %}{{ album.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/disk.png') }}" width="25" class="mt-1" alt="Guitar"/></span>{{ artist.title }} - {{ album.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			toDatatables("{{ app.request.locale }}", "{{ asset('extended/js/DataTables/language') }}");
		
			document.querySelector("a#news_licence_link").addEventListener("click", (e) => {
				var licenceModal = new bootstrap.Modal(document.getElementById('showColorboxByLicenceModal'));
				licenceModal.show(document.getElementById('showColorboxByLicenceModal'));
				e.preventDefault();
			});
		});
	</script>

	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': album } %}

	{% set img = album.photoIllustrationFilename|imgsize(550, album.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, album.photoIllustrationCaption, false) %}
	
	{% if img is not null %}
		<p class="image">{{ img|raw }}</p>
	{% endif %}

	<p id="media_duration"><img src="{{ asset('extended/photo/timer.svg') }}" alt="Timer" width="30" class="align-middle" /> {{ (entities|duration_entities)|default('-') }}</p>
	<hr>
	<ul class="fa-ul">
		<li><span class="fa-li"><i class="fas fa-music"></i></span> <span class="fw-bold">{{ "music.listen.NbrTitle"|trans([], "validators") }}</span> {{ entities|length }}</li>
		<li><span class="fa-li"><i class="fas fa-calendar-alt"></i></span> <span class="fw-bold">{{ "music.listen.ReleaseDate"|trans([], "validators") }}</span> {{ album.releaseYear|doPartialDate(app.request.locale) }}</li>
	</ul>
	<hr>

	{% if album.text is not empty %}
		{{ album.text|raw }}
		<hr>
	{% endif %}
	
	<h3>{{ "music.listen.TrackListing"|trans([], "validators") }}</h3>
	<div class="tabs">
		<table class="doc_datatables table dt-responsive w-100">
			<thead>
				<tr>
					<th class="label_form">{{ "music.listen.Title"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.listen.Duration"|trans([], "validators") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for entity in entities %}
					<tr>
					<td class="tdGene"><a href="{{ path('Music_Music', { 'id' : entity.id, 'music' : entity.musicPiece }) }}" alt="" class="fw-bold">{{ entity.musicPiece }}</a></td>
					<td><i class="far fa-clock"></i> {{ (entity.length|string_duration)|default('-') }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th class="label_form">{{ "music.listen.Title"|trans([], "validators") }}</th>
					<th class="label_form">{{ "music.listen.Duration"|trans([], "validators") }}</th>
				</tr>
			</tfoot>
		</table>
	
		{% set datas = get_store_by_entity(album, "album", "AlbumStore") %}
		
		{% if datas|length > 0 %}
			<br>
			<h3>{{ "store.index.Store"|trans([], "validators") }}</h3>
		{% endif %}
		
		{% for data in datas %}
			{% include "store/Store/_product.html.twig" with { entity: data } %}
		{% endfor %}
		
		{% if album.reviewScores is not empty %}
			{% set datas = json_decode(album.reviewScores) %}
			{% if datas is not empty %}
				<h3>{{ "album.read.ReviewScores"|trans([], "validators") }}</h3>
				<table class="table">
					<tbody>
						{% for data in datas %}
							<tr>
								<td class="td_form_table">{{ data.source }}</td>
								<td class="tdGene">{{ data.score }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		{% endif %}
	
		{% if album.identifiers is not empty %}
			{% set datas = json_decode(album.identifiers) %}
			{% if datas is not empty %}
				<h3>{{ "album.read.Identifiers"|trans([], "validators") }}</h3>
				<ul class="fa-ul">
					{% for data in datas %}
						<li><span class="fa-li"><i class="fas fa-fast-forward"></i></span> {{ data.identifier }} (<i><a href="{{ url_identifier(data.identifier, data.value) }}" target="_blank">{{ data.value }}</a></i>)</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
		
		{% if album.source is not empty %}
			<h3>{{ "music.index.Sources"|trans([], "validators") }}</h3>
			{{ source_document(album.source, album.language) }}
		{% endif %}
		<hr>
		<p class="image"><a href="" id="help_licence_link"><img src="{{ asset("extended/photo/licence/"~album.licence.logo) }}" alt="{{ album.licence.title }}" /></a></p>
		<br>
		{{ "google"|advertisement|raw }}
	</div>
{% endblock %}