{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.musicPiece }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/disk.png') }}" width="25" class="mt-1" alt="Guitar"/></span>{{ artist.title }} - {{ entity.musicPiece }}</h2>{% endblock h2_title %}

{% block meta_plus %}
	<meta name="twitter:card" content="summary" />
	<meta property="og:title" content="{{ entity.musicPiece }}" />

	{% if entity.embeddedCode is not empty %}
		{% set thumbnail = thumbnail_video(entity.embeddedCode) %}
		{% if thumbnail is not empty %}
			<meta property="og:image" content="{{ thumbnail }}" />
		{% endif %}
	{% endif %}
{% endblock %}

{% block APBlog_body %}
	{% if album is not empty %}
		{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': album } %}
		
		{% set img = album.photoIllustrationFilename|imgsize(550, album.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, album.photoIllustrationCaption, false) %}
		
		{% if img is not null %}
			<p class="image">{{ img|raw }}</p>
		{% endif %}
	{% endif %}
	
	<p id="media_duration"><img src="{{ asset('extended/photo/timer.svg') }}" alt="Timer" width="30" class="align-middle" /> {{ (entity.length|string_duration)|default('-') }}</p>
	<hr>
	<ul class="fa-ul">
		<li><span class="fa-li"><i class="fas fa-guitar"></i></span> <span class="fw-bold">{{ "music.music.Artist"|trans([], "validators") }}</span> <a href="{{ path('Music_Album', {id: artist.id, title_slug: artist.title}) }}">{{ artist.title }}</a></li>

		{% if album is not empty %}
			<li><span class="fa-li"><i class="fas fa-record-vinyl"></i></span> <span class="fw-bold">{{ "music.music.Album"|trans([], "validators") }}</span> <a href="{{ path('Music_Listen', {id: album.id, artistId: album.artist.id, artist: album.artist.title, album: album.title}) }}">{{ album.title }}</a></li>
		{% endif %}
	</ul>
	<hr>
	{% if entity.text is not empty %}
		{{ entity.text|raw }}
	{% endif %}
	<div class="tabs">
		{% if entity.musicPieceFile is not empty %}
			<h3>{{ "music.music.AudioFile"|trans([], "validators") }}</h3>
			<audio controls class="audio_show">
				<source src="{{ asset(entity.getAssetMusicPath()) }}{{ entity.musicPieceFile }}" type="audio/mp3">
			</audio>
			<p class="text-center">
				<img src="{{ asset('extended/photo/abstract-download-document.svg') }}" alt="Download file icon" class="align-middle" width="40"/>
				<a href="{{ path('Music_Download', {'id' : entity.id}) }}">{{ "music.music.DownloadFile"|trans([], "validators") }}</a>
			</p>
		{% endif %}

		{% if entity.embeddedCode is not empty %}
			<h3>{{ "music.music.Video"|trans([], "validators") }}</h3>
			{{ entity.embeddedCode|raw }}
		{% endif %}

		{% if entity.musicBiographies|length > 0 %}
			<h3>{{ "music.music.GuestMusicians"|trans([], "validators") }}</h3>
			{% set members = biography_by_music(entity) %}

			<table class="table">
				<tbody>
					{% for member in members %}
						<tr>
							<td><a href="{{ path('Biography_Show', {id: member.biographyId, title_slug: member.biographySlug}) }}" title="{{ member.biographyTitle }}">{{ member.stageName }}</a>{% if  member.biographyTitle != member.stageName %} (<i>{{ member.biographyTitle }}</i>) {% endif %}</td>
							<td>
							{% set occupationArray = [] %}
							{% for occupation in member.occupations %}
								{% set occupationArray = occupationArray|merge([("artist.biography."~occupation|ucfirst)|trans([], "validators")]) %}
							{% endfor %}
							
							{{ occupationArray|join(", ") }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	
		{% if album is not empty %}
			{% set datas = get_store_by_entity(album, "album", "AlbumStore") %}
			
			{% if datas|length > 0 %}
				<br>
				<h3>{{ "store.index.Store"|trans([], "validators") }}</h3>
			
				{% for data in datas %}
					{% include "store/Store/_product.html.twig" with { entity: data } %}
				{% endfor %}
				<hr>
			{% endif %}
			<p class="image"><a href="" id="help_licence_link"><img src="{{ asset('extended/photo/licence/'~album.licence.logo) }}" alt="{{ album.licence.title }}" /></a></p>
		{% endif %}

		{% if entity.identifiers is not empty %}
			{% set datas = json_decode(entity.identifiers) %}
			
			{% if datas is not empty %}
				<h3>{{ "music.listen.Identifiers"|trans([], "validators") }}</h3>
				<ul class="fa-ul">
					{% for data in datas %}
						<li><span class="fa-li"><i class="fas fa-fast-forward"></i></span> {{ data.identifier }} (<i><a href="{{ url_identifier(data.identifier, data.value) }}" target="_blank">{{ data.value }}</a></i>)</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
		
		<br>
		{% set sources = source_document(entity.source, entity.language) %}
		{% if sources is not empty %}
			<h3>{{ "music.index.Sources"|trans([], "validators") }}</h3>
			{{ sources|raw }}
		{% endif %}
		{{ "google"|advertisement|raw }}
	</div>
{% endblock %}