<a href="#" data-bs-toggle="modal" data-bs-target="#cryptoModal" class="btn btn-warning text-dark mb-3"><i class="fab fa-bitcoin" aria-hidden="true"></i> {{ 'index.donate.CryptocurrencyDonation'|trans([], "validators") }}</a>

<div class="modal fade black_modal cryptoModal" id="cryptoModal" tabindex="-1"  role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100 fw-bold">{{ "index.donate.DonateInCryptocurrency"|trans([], "validators") }}</h4>
			</div>
			<div class="modal-body">
				<div class="card-columns">
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/btc-logo.svg') }}" alt="Bitcoin" class="align-bottom" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/btc" target="_blank">Bitcoin</a></h4>
						</div>
						<img class="card-img-top" alt="Bitcoin" src="{{ asset('extended/photo/donation/btc-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("BITCOIN_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="18" src="{{ asset('extended/photo/donation/eth-logo.svg') }}" alt="Ethereum" class="align-middle" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/eth" target="_blank">Ethereum</a></h4>
						</div>
						<img class="card-img-top" alt="Ethereum" src="{{ asset('extended/photo/donation/eth-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("ETHEREUM_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/ada-logo.svg') }}" alt="Cardano" class="align-bottom" loading="lazy"> <a href="https://cardano.org/" target="_blank">Cardano</a></h4>
						</div>
						<img class="card-img-top" alt="Cardano" src="{{ asset('extended/photo/donation/ada-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("CARDANO_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/vet-logo.svg') }}" alt="Vechain" class="align-bottom" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/vet" target="_blank">Vechain</a></h4>
						</div>
						<img class="card-img-top" alt="Vechain" src="{{ asset('extended/photo/donation/vet-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("VECHAIN_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/trx-logo.svg') }}" alt="Tron" class="align-bottom" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/trx" target="_blank">Tron</a></h4>
						</div>
						<img class="card-img-top" alt="Tron" src="{{ asset('extended/photo/donation/trx-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("TRON_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="15" src="{{ asset('extended/photo/donation/zil-logo.svg') }}" alt="Zilliqa" class="align-bottom" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/zil" target="_blank">Zilliqa</a></h4>
						</div>
						<img class="card-img-top" alt="Zilliqa" src="{{ asset('extended/photo/donation/zil-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("ZILLIQA_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/doge-logo.svg') }}" alt="Dogecoin" class="align-bottom" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/doge" target="_blank">Dogecoin</a></h4>
						</div>
						<img class="card-img-top" alt="Dogecoin" src="{{ asset('extended/photo/donation/doge-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("DOGECOIN_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/chz-logo.svg') }}" alt="Chiliz" class="align-bottom" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/eth" target="_blank">Chiliz</a></h4>
						</div>
						<img class="card-img-top" alt="Chiliz" src="{{ asset('extended/photo/donation/chz-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("CHILIZ_ADDRESS") }}</p>
						</div>
					</div>
					<div class="card">
						<div class="card-header bg-transparent border-success">
							<h4><img width="20" src="{{ asset('extended/photo/donation/algo-logo.svg') }}" alt="Algorand" class="align-middle" loading="lazy"> <a href="https://freewallet.org/id/{{ get_env('FREE_WALLET') }}/algo" target="_blank">Algorand</a></h4>
						</div>
						<img class="card-img-top" alt="Algorand" src="{{ asset('extended/photo/donation/algo-qrcode.svg') }}" loading="lazy">
						<div class="card-body">
							<p class="card-text">{{ get_env("ALGORAND_ADDRESS") }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<style>
.card-columns {
  display: grid;
  grid-template-rows: masonry;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
}
</style>