<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "partner.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.link, "partner.admin.Link"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.link) }}{{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.photo, "partner.admin.Logo"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.photo) }}{{ form_widget(form.photo) }}
	<br>
	{{ form_widget(form.photo_selector) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "partner.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.active, "partner.admin.Active"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.active) }}{{ form_widget(form.active, { 'attr': {'class': 'form-control'} }) }}</div>