

<link rel="stylesheet" type="text/css" href="{{ asset('extended/js/wPaint-master/lib/wColorPicker.min.css') }}" />

<link rel="Stylesheet" type="text/css" href="{{ asset('extended/js/wPaint-master/wPaint.min.css') }}" />

<div class="modal black_modal fade" tabindex="-1" role="dialog" id="displayDrawing">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title"></h5>
	  </div>
	  <div class="modal-body">
		<p class='image'></p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
	  </div>
	</div>
  </div>
</div>

<div id="drawing_management_control">
	<div id="wPaint" style="position:relative; width: 100%; height:300px; background-color:#7a7a7a; margin:30px auto 20px auto;"></div>
	<button class="submitcomment add_draw_testimony btn" type="button">Enregistrer le dessin</button>
	<br>
	<br>
	<table class="doc_datatables_drawing dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "file.add.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "file.add.Display"|trans([], "validators") }}</th>
				<th class="label_form">{{ "file.add.Delete"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.titleFile }}</td>
					<td><a class="show" href="" alt="View"><span class="displayInColorboxDrawing" data-title="{{ entity.titleFile }}" id="{{ asset(entity.getFileManagementPath()~entity.realNameFile) }}">{{ "file.add.Display"|trans([], "validators") }}</span></a></td>
					<td><a href="" id="{{ entity.id }}" class="remove" alt="Delete">{{ "file.add.Delete"|trans([], "validators") }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "file.add.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "file.add.Display"|trans([], "validators") }}</th>
				<th class="label_form">{{ "file.add.Delete"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
</div>