{% if entities|length > 0 %}
	<div id="carousel-filemanagement-show" class="carousel-pagination carousel slide" data-interval="false">
		<ol class="carousel-indicators carousel-indicators-numbers pagination">
		{% set i = 0 %}
		{% set j = 1 %}
		{% for entity in entities %}
			{% if entity.extensionFile|is_image %}
			<li data-bs-target="#carousel-filemanagement-show" data-bs-slide-to="{{ i }}" {{ i == 0 ? 'class="active"' : '' }}>{{ j }}</li>
			{% set i = i + 1 %}
			{% set j = j + 1 %}
			{% endif %}
		{% endfor %}
		</ol>

		{% set otherFiles = [] %}

		<div class="carousel-inner" role="listbox">
			{% set i = 0 %}
			{% for entity in entities %}
				{% if entity.extensionFile|is_image %}
				<div class="carousel-item {{ i == 0 ? 'active' : '' }} text-center">
					{% if mainEntity.archive %}
						{{ entity.realNameFile|imgsize(550, 'extended/photo/testimony/', true, null, null, true, true)|raw }}
					{% else %}
						{{ entity.realNameFile|imgsize(550, 'extended/photo/testimony/')|raw }}
					{% endif %}
					{% set i = i + 1 %}
				</div>
				{% else %}
					{% set otherFiles = otherFiles|merge([entity]) %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{% if otherFiles is not empty %}
		<h3>{{ "file.read.OtherFiles"|trans([], "validators") }}</h3>
		<table class="table table-bordered">
			<thead>
				<tr class="trGene">
					<th>{{ "file.read.Title"|trans([], "validators") }}</th>
					<th>{{ "file.read.Download"|trans([], "validators") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for otherFile in otherFiles %}
				<tr>
					<td>{{ otherFile.titleFile }}</td>
					<td>
						{% if mainEntity.archive %}
							<a href="{{ path('FileManagement_Download', {id: otherFile.id, path: (mainEntity.getAssetImagePath()|url_encode), folder: "private" }) }}" class="btn btn-info btn-sm d-inline-block"><i class="fas fa-cloud-download-alt"></i></a>
						{% else %}
							<a href="{{ path('FileManagement_Download', {id: otherFile.id, path: (mainEntity.getAssetImagePath()|url_encode) }) }}" class="btn btn-info btn-sm d-inline-block"><i class="fas fa-cloud-download-alt"></i></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endif %}