{% if entities|length > 0 %}
	<script >
		$(document).ready(function(){
			$('#carousel-filemanagement-show').carousel({
				interval: false
			}).on('slide.bs.carousel', function (e) {
				var nextH = $(e.relatedTarget).height();
				$(this).find('.active.carousel-item').parent().animate({
					height: nextH
				}, 500);
			});
		});
	</script>

	<div id="carousel-filemanagement-show" class="carousel-pagination carousel slide" data-interval="false">
		<!-- Indicators -->
		<ol class="carousel-indicators carousel-indicators-numbers pagination">
		{% set i = 0 %}
		{% set j = 1 %}
		{% for entity in entities %}
			<li data-target="#carousel-filemanagement-show" data-slide-to="{{ i }}" {{ i == 0 ? 'class="active"' : '' }}>{{ j }}</li>
			{% set i = i + 1 %}
			{% set j = j + 1 %}
		{% endfor %}
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			{% set i = 0 %}
			{% for entity in entities %}
				<div class="carousel-item {{ i == 0 ? 'active' : '' }} text-center">
					{% if mainEntity.archive %}
						{{ entity.realNameFile|imgsize(550, 'extended/photo/testimony/', true, null, null, true, true)|raw }}
					{% else %}
						{{ entity.realNameFile|imgsize(550, 'extended/photo/testimony/')|raw }}
					{% endif %}
					{% set i = i + 1 %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}