<div class="modal fade selectVideoFileModal" id="selectVideoFileModal_{{ form.vars.id }}" tabindex="-1" role="dialog" aria-labelledby="selectVideoFileModalLabel_{{ form.vars.id }}" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title w-100 fw-bold">{{ "video.admin.ChooseAnExistingFile"|trans([], "validators") }}</h2>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<i class="fas fa-spinner fa-pulse"></i>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "video.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.embeddedCode, "video.admin.EmbeddedCode"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.embeddedCode) }}{{ form_widget(form.embeddedCode, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.platform, "video.admin.Hosting"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.platform) }}{{ form_widget(form.platform, { 'attr': {'class': 'form-select'} }) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.mediaVideo, "video.admin.File"|trans([], "validators")) }}</div>
<div class="form-table-cell mediaVideoContainer">
	{{ form_errors(form.mediaVideo) }}

	{{ form_widget(form.mediaVideo, { 'attr': {'class': 'form-control music_piece_file'} }) }}
	{{ form_widget(form.mediaVideo_selector, {'attr':{'class': 'existing_music_colorbox form-control'}}) }}
			
	{#{% if entity.mediaVideo is not empty %}
		<b><u>{{ "admin.general.CurrentFile"|trans([], "validators") }}</u></b> {{ entity.mediaVideo|default("-") }}
	{% endif %}
	{{ form_widget(form.mediaVideo, { 'attr': {'class': 'media_video form-control'} }) }}

	<div class="input-group mt-2" id="{{ form.existingFile.vars.id }}">
		<a href="#" class="input-group-text select_files_colorbox"><i class="fas fa-camera-retro" aria-hidden="true"></i></a>
		{{ form_widget(form.existingFile, {'attr':{'class': 'existing_video_colorbox form-control'}}) }}
		<a href="#" class="input-group-text remove_files_colorbox"><i class="fas fa-times" aria-hidden="true"></i></a>
	</div>#}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "video.admin.Abstract"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.text) }}{{ form_widget(form.text) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.secondDuration, "video.admin.Duration"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.secondDuration) }}
	<div class="form-group-inline">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="input-group">
					{{ form_widget(form.hourDuration, { 'attr': {'class': 'form-control'}}) }}
					<span class="input-group-text">{{ "video.admin.HoursEdit"|trans([], "validators") }}</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="input-group">
					{{ form_widget(form.minuteDuration, { 'attr': {'class': 'form-control'}}) }}
					<span class="input-group-text">{{ "video.admin.MinutesEdit"|trans([], "validators") }}</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="input-group">
					{{ form_widget(form.secondDuration, { 'attr': {'class': 'form-control'}}) }}
					<span class="input-group-text">{{ "video.admin.SecondsEdit"|trans([], "validators") }}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "video.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.publicationDate, "video.admin.PublicationDate"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.publicationDate) }}{{ form_widget(form.publicationDate, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.theme, "video.admin.Theme"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.theme) }}{{ form_widget(form.theme, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.pseudoUsed, "video.admin.PseudoUsed"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.pseudoUsed) }}{{ form_widget(form.pseudoUsed, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.photo, "video.admin.Thumbnail"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.photo) }}{{ form_widget(form.photo) }}
	<br>
	{{ form_widget(form.photo_selector) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.licence, "video.admin.Licence"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.licence) }}{{ form_widget(form.licence, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.state, "video.admin.State"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.state) }}{{ form_widget(form.state, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.available, "video.admin.Available"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.available) }}{{ form_widget(form.available) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.tags, "tag.admin.Tags"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.tags) }}{{ form_widget(form.tags, { 'attr': {'class': 'form-control', 'value': get_tags(entity, false) } }) }}</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var textarea = document.getElementById('{{ form.embeddedCode.vars.id }}');

		textarea.addEventListener('paste', function(event) {
			document.getElementById("{{ form.platform.vars.id }}").value = getPlatformFromEmbeddedCode(event.clipboardData.getData('text'));
			console.log('Pasted into the textarea:', getPlatformFromEmbeddedCode(event.clipboardData.getData('text')));
		});
	});

	function getPlatformFromEmbeddedCode(embeddedCode) {
		var pattern = /<[^>]*>/;
console.log(typeof embeddedCode, embeddedCode.includes("twitter.com"));
		if (pattern.test(embeddedCode)) {
			if (embeddedCode.includes('youtube.com')) {
				return 'Youtube';
			} else if (embeddedCode.includes('dailymotion.com')) {
				return 'Dailymotion';
			} else if (embeddedCode.includes('rutube.ru')) {
				return 'Rutube';
			} else if (embeddedCode.includes("twitter.com") || embeddedCode.includes("x.com")) {
				return "Twitter";
			} else {
				return null;
			}
		}
		
		return null;
	}
</script>