<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/jquery.dataTables.css') }}" type="text/css" media="screen" />
<script>
	document.querySelectorAll("div.mediaVideoContainer a.file_link").forEach(e => {
		e.addEventListener("click", (event) => {
			event.preventDefault();
			parent.$("div.mediaVideoContainer input.music_piece_file").val("");
			parent.$("div.mediaVideoContainer input.existing_photo_colorbox").val(event.target.innerHTML);
			bootstrap.Modal.getInstance(document.querySelector('.selectFileModal')).hide();
			return false;
		});
	});
	
	document.addEventListener('DOMContentLoaded', function () {
		$('table.index_admin').DataTable({
			"searching": false,
			"info": false,
			"paging": false,
		});
	}); 
</script>

<h2 class="title"><b>{{ "admin.general.ChooseExistingFile"|trans([], "validators") }}</b></h2>
<table class="table table-striped table-bordered index_admin">
	<thead>
		<tr>
			<th>{{ "admin.general.File"|trans([], "validators") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for file in filesArray %}
			<tr>
				<td><a href="" alt="file" class="file_link">{{ file }}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>