{% extends "admin/GenericAdmin/index.html.twig" %}

{% block h2_title %}{{ "admin.index.Video"|trans([], "validators") }}{% endblock %}

{% block new_admin_route %}{{ path('Video_Admin_New') }}{% endblock %}
{% block indexdatatables_admin_route %}{{ path('Video_Admin_IndexDatatables') }}{% endblock %}

{% block js_edit_additional %}
	{% import "admin/GenericAdmin/macro.html.twig" as macro_admin %}
	
	{{ macro_admin.moderation_buttons("Video_Admin_DeleteMultiple") }}

	document.querySelector(".index_admin").insertAdjacentElement('afterend', unselectAllButton);
	
	for (let el of document.querySelectorAll('.moderationButton')) el.style.display = 'none';
	
	{% if app.request.attributes.get('display') == 0 %}
		for (let el of document.querySelectorAll('.moderationButton')) el.style.display = 'inline-block';
	{% endif %}

	document.querySelector("select#selected_state").addEventListener("change", (e) => {
		if(e.target.options[e.target.selectedIndex].getAttribute('data-display') == 1)
			for (let el of document.querySelectorAll('.moderationButton')) el.style.display = 'none';
		else
			for (let el of document.querySelectorAll('.moderationButton')) el.style.display = 'inline-block';

		oTable.columns(6).search(e.target.value).draw();
	});
{% endblock %}

{% block body_main_additional %}
	<div class="container-fluid mt-3">
		{% set states = ""|states_by_language %}
	
		<label>{{ "news.admin.State"|trans([], "validators") }}</label>
		<select id="selected_state" class="form-select">
			<option value=""></option>
			{% for state in states %}
				<option value="{{ state.internationalName }}" data-display="{{ state.displayState }}" {% if app.request.attributes.get('state') == state.internationalName %}selected{% endif %}>{{ state.title }}</option>
			{% endfor %}
		</select>
		<hr>
	</div>
{% endblock %}

{% block thead_admin_table %}
	<th>Id</th>
	<th>{{ "video.admin.Title"|trans([], "validators") }}</th>
	<th>{{ "video.admin.Hosting"|trans([], "validators") }}</th>
	<th>{{ "video.admin.State"|trans([], "validators") }}</th>
	<th>{{ "video.admin.Language"|trans([], "validators") }}</th>
	<th>{{ "video.admin.Theme"|trans([], "validators") }}</th>
	<th class="d-none"></th>
	<th>{{ "admin.index.Action"|trans([], "validators") }}</th>
{% endblock %}

{% block tfoot_admin_table %}
	<th>Id</th>
	<th>{{ "video.admin.Title"|trans([], "validators") }}</th>
	<th>{{ "video.admin.Hosting"|trans([], "validators") }}</th>
	<th>{{ "video.admin.State"|trans([], "validators") }}</th>
	<th>{{ "video.admin.Language"|trans([], "validators") }}</th>
	<th>{{ "video.admin.Theme"|trans([], "validators") }}</th>
	<th class="d-none"></th>
	<th>{{ "admin.index.Action"|trans([], "validators") }}</th>
{% endblock %}

{% block body_main_additional_bottom %}
	<div class="container-fluid mt-3">
		<h3>{{ "admin.general.Assessment"|trans([], "validators") }}</h3>
		<table class="table table-striped table-bordered">
			<tr>
				<th>{{ "admin.general.Disable"|trans([], "validators") }}</th>
				<td><span class="badge bg-success">{{ count_availability(0) }}</span></td>
			</tr>
			<tr>
				<th>{{ "admin.general.Available"|trans([], "validators") }}</th>
				<td><span class="badge bg-warning">{{ count_availability(1) }}</span></td>
			</tr>
			<tr>
				<th>{{ "admin.general.Archived"|trans([], "validators") }}</th>
				<td><span class="badge bg-danger">{{ count_archived("App\\Entity\\Video") }}</span></td>
			</tr>
		</table>
	</div>
{% endblock %}