{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Video"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Video_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Video_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Video_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Video_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block archive_admin_route %}{{ path('Video_Admin_Archive', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Hosting"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.platform }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.File"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.mediaVideo is not null %}
			<video width="550" controls="controls">
				<source src="{{ asset('extended/flash/Video/KAWAplayer_v1/videos/'~entity.mediaVideo) }}" type="video/mp4" />
			</video>
		{% else %}
			-
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Duration"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.duration|string_duration }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.WritingDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.writingDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.PublicationDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Theme"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.theme is not empty %}{{ entity.theme.title }}{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Thumbnail"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.photo|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Licence"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.licence }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.PseudoUsed"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.pseudoUsed }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.EmbeddedCode"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.embeddedCode|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "video.admin.Available"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.available %}
			<span class="text-success"><i class="fas fa-check" aria-hidden="true"></i></span>
		{% else %}
			<span class="text-danger"><i class="fas fa-times" aria-hidden="true"></i></span>
		{% endif %}
	</div>

	{% if entity.biography is not empty %}
		<div class="form-table-cell form-table-cell-head">{{ "video.admin.Biography"|trans([], "validators") }}</div>
		<div class="form-table-cell">{{ entity.biography.title }}</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "tag.admin.Tags"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ get_tags(entity, true, false, true) }}</div>

	<a href="{{ path('Video_Read', { 'id' : entity.id, 'title_slug': entity.urlSlug }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{% if entity.state.isWaiting() %}
		<a href="{{ path('Video_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Validate' }) }}" alt="Validate" class="btn btn-success">{{ "eventMessage.admin.Validate"|trans([], "validators") }}</a>
		<a href="{{ path('Video_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Refused' }) }}" alt="Refuse" class="btn btn-danger">{{ "eventMessage.admin.Refuse"|trans([], "validators") }}</a>
	{% else %}
		{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Video_Admin_Internationalization", "showRoute": "Video_Admin_Show", "editRoute": "Video_Admin_Edit"})) }}
	{% endif %}

	<hr>

	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}
		
		{% if entity.archive == false %}
			{{ macro_index.blogger_form(entity, "news", entity.theme.title) }}
			{{ macro_index.twitter_form(entity) }}
			{{ macro_index.mastodon_form(entity) }}
			{{ macro_index.facebook_form(entity, entity.text) }}
			{{ macro_index.diaspora_form(entity, entity.text) }}
			{{ macro_index.bluesky_form(entity) }}
			{{ macro_index.wordpress_form(entity) }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.mastodon_form_js() }}
	{{ macro_index.facebook_form_js() }}
	{{ macro_index.diaspora_form_js() }}
	{{ macro_index.bluesky_form_js() }}
{% endblock %}