{% extends "content_layout.html.twig" %}

{% block title %}{{ genre.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/cinema.svg') }}" width="25" class="mt-1" alt="Movie"/></span>{{ genre.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ genre.photo|imgsize(550, genre.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	{{ genre.text|raw }}
	<hr class="hr2">
	{% for entity in pagination.items %}
		<div class="card mb-3">
			<div class="card-body">
				<div class="row no-gutters">
					{% if entity.illustration is not empty %}
						<div class="col-md-4 align-self-center text-center">
							{{ entity.photoIllustrationFilename|imgsize(null, entity.getAssetImagePath())|raw }}
						</div>
					{% endif %}
					<div class="col-md-{% if entity.illustration is not empty %}8{% else %}12{% endif %}">
						<div{% if entity.illustration is not empty %} class="pl-3"{% endif %}>
							<h5 class="card-title text-center"><a href="{{ path('Movie_Show', {id: entity.id, title_slug: entity.urlSlug}) }}">{{ entity.title }}</a></h5>
							<hr>
							<div class="d-flex justify-content-around">
								<div class="p-2"><i class="far fa-clock"></i> {{ entity.duration|default("-") }} {{ 'movie.index.Minute'|trans({ 'number': (entity.duration|default(0)) }, "validators") }}</div>
								<div class="p-2"><i class="fas fa-calendar-day"></i> {{ (entity.releaseYear|doPartialDate(app.request.locale))|default("-") }}</div>
								<div class="p-2"><i class="fas fa-film"></i> <a href="{{ path('ByGenreMovie_Index', {idGenre: entity.id, titleGenre: entity.genre.title}) }}">{{ entity.genre }}</a></div>
							</div>

							<p class="card-text mb-0 text-center my-3"></p>
							<hr>
							<div class="text-right">
								<a class="btn read text-left" onclick="location.href='{{ path('Movie_Show', {id: entity.id, title_slug: entity.urlSlug}) }}'">
									<span class="mr-2"><i class="fas fa-ticket-alt fa-fw"></i></span>
									<b class="align-middle">{{ "movie.index.Read"|trans([], "validators") }}</b>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="hr2">
	{% else %}
		<div class="alert alert-danger font-italic text-center">{{ "movie.search.NoMatchingRecordsFound"|trans([], "validators") }}</div>
		<br>
	{% endfor %}

	<div class="mt-3 justify-content-center">
		{{ knp_pagination_render(pagination) }}

		{% if pagination.paginationData.pageCount > 1 %}
			<br>
			<hr class="hr2"/>
		{% endif %}
	</div>

	{% if genre.source is not empty %}
		<br>
		<h3>{{ "movie.read.Sources"|trans([], "validators") }}</h3>
		{{ source_document(genre.source, genre.language) }}
	{% endif %}

	{{ "google"|advertisement|raw }}
{% endblock %}