{% extends "content_layout.html.twig" %}

{% block title %}{{ genre.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/cinema.svg') }}" width="25" class="mt-1" alt="Movie"></span>{{ genre.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ genre.photoIllustrationFilename|imgsize(550, genre.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	{{ genre.text|raw }}
	<hr class="hr2">
	{% for entity in pagination.items %}
		{% include 'movie/Movie/_card.html.twig' %}
		<hr class="hr2">
	{% else %}
		<div class="alert alert-danger fst-italic text-center">{{ "movie.search.NoMatchingRecordsFound"|trans([], "validators") }}</div>
		<br>
	{% endfor %}

	<div class="mt-3 justify-content-center">
		{{ knp_pagination_render(pagination) }}

		{% if pagination.paginationData.pageCount > 1 %}
			<br>
			<hr class="hr2">
		{% endif %}
	</div>

	{% set sources = source_document(genre.source, genre.language) %}
	{% if sources is not empty %}
		<br>
		<h3>{{ "movie.read.Sources"|trans([], "validators") }}</h3>
		{{ sources|raw }}
	{% endif %}

	{{ "google"|advertisement|raw }}
{% endblock %}