{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/cinema.svg') }}" width="25" class="mt-1" alt="Movie"/></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': entity } %}
	<p class="image">{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, entity.photoIllustrationCaption)|raw }}</p>
	<br>
	
	<h3>{{ "movie.read.Datasheet"|trans([], "validators") }}</h3>
	
	{% set biographyDatas = movie_biographies_by_occupation(entity) %}
	
	{% set actors = [] %}

	<table class="table">
		<tbody>
			<tr>
				<td class="td_form_table">{{ "movie.read.Duration"|trans([], "validators") }}</td>
				<td class="tdGene">{{ entity.duration|default("-") }} {{ 'movie.index.Minute'|trans({ 'number': (entity.duration|default(0)) }, "validators") }}</td>
			</tr>
			<tr>
				<td class="td_form_table">{{ "movie.read.ReleaseYear"|trans([], "validators") }}</td>
				<td class="tdGene">{{ (entity.releaseYear|doPartialDate(app.request.locale))|default("-") }}</td>
			</tr>
			<tr>
				<td class="td_form_table">{{ "movie.read.Genre"|trans([], "validators") }}</td>
				<td class="tdGene"><a href="{{ path('ByGenreMovie_Index', {idGenre: entity.genre.id, titleGenre: entity.genre.title}) }}">{{ entity.genre }}</a></td>
			</tr>
			<tr>
				<td class="td_form_table">{{ "movie.read.Country"|trans([], "validators") }}</td>
				<td class="tdGene">{% if entity.country is not null %}<img id="flagC" src="{{ asset(entity.country.getAssetImagePath()) }}{{ entity.country.flag }}" alt="" width="20" /> - {{ entity.country.title }}{% endif %}</td>
			</tr>
			{% if entity.boxOffice is not empty %}
			<tr>
				<td class="td_form_table">{{ "movie.read.BoxOffice"|trans([], "validators") }}</td>
				<td class="tdGene">{{ entity.boxOffice|format_price(entity.boxOfficeUnit, app.request.locale) }}</td>
			</tr>
			{% endif %}
			{% if entity.cost is not empty %}
			<tr>
				<td class="td_form_table">{{ "movie.read.Cost"|trans([], "validators") }}</td>
				<td class="tdGene">{{ entity.cost|format_price(entity.costUnit, app.request.locale) }}</td>
			</tr>
			{% endif %}
			{% if entity.reviewScores is not empty %}
			<tr>
				<td class="td_form_table">{{ "movie.read.ReviewScores"|trans([], "validators") }}</td>
				<td class="tdGene">
					{% set datas = json_decode(entity.reviewScores) %}
					{% if datas is not empty %}
						<ul>
							{% for data in datas %}
								<li>{{ data.source }} (<i>{{ data.score }}</i>)</li>
							{% endfor %}
						</ul>
					{% endif %}
				</td>
			</tr>
			{% endif %}

			{% for occupation, biographies in biographyDatas %}
				{% if occupation != constant('App\\Entity\\Movies\\MediaInterface::ACTOR_OCCUPATION') %}
				<tr>
					<td class="td_form_table">{{ (("movie.read."~(occupation)|capitalize)~"By")|trans([], "validators") }}</td>
					<td class="tdGene">
						{% set persons = [] %}
						{% for biography in biographies %}
							{% set persons = persons|merge(['<a href="' ~ path('Biography_Show', { id: biography.id, title: biography.title }) ~ '">' ~ biography.title ~ '</a>']) %}
						{% endfor %}
						{{ (persons|join(", "))|raw }}
					</td>
				</tr>
				{% else %}
						{% for biography in biographies %}
					{% set actors = actors|merge([biography]) %}
						{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	
	{% if entity.introduction is not empty %}
		<h3 class="mt-2">{{ "movie.read.Introduction"|trans([], "validators") }}</h3>
		{{ entity.introduction|raw }}
	{% endif %}

	<h3>{{ "movie.read.Trailer"|trans([], "validators") }}</h3>
	{{ entity.trailer|raw }}

	{% if entity.text is not empty %}
		<h3 class="mt-2">{{ "movie.read.Text"|trans([], "validators") }}</h3>
		{{ entity.text|raw }}
	{% endif %}

	{% if actors|length > 0 %}
	<h3>{{ "movie.read.Cast"|trans([], "validators") }}</h3>
	<table class="table">
		<thead>
			<tr>
				<th>{{ "movie.read.Actor"|trans([], "validators") }}</th>
				<th>{{ "movie.read.Role"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for biography in actors %}
				<tr>
					<td><a href="{{ path('Biography_Show', {id: biography.id, title: biography.title}) }}">{{ biography.title }}</a></td>
					<td>{{ biography.role }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	
	{% set datas = get_store_by_entity(entity, "movie", "MovieStore") %}

	{% if datas|length > 0 %}
		<h3>{{ "store.index.Store"|trans([], "validators") }}</h3>
	{% endif %}
	
	{% for data in datas %}
		{% include "store/Store/_product.html.twig" with { entity: data } %}
	{% endfor %}
	
	{% set filmSeries = film_series(entity) %}
	{% if filmSeries|length > 1 %}
		<h3>{{ "movie.read.FilmSeries"|trans([], "validators") }}</h3>
		<ol class="fa-ul">
		{% for fs in filmSeries %}
			<li><span class="fa-li"><i class="fas fa-chevron-circle-right"></i></span> <i>{% if fs.id == entity.id %}{{ fs.title }}{% else %}<a href="{{ path('Movie_Show', { id: fs.id, title_slug: fs.urlSlug }) }}">{{ fs.title }}</a>{% endif %}</i>, {{ fs.releaseYear }}</li>
		{% endfor %}
		</ol>
	{% endif %}
	
	{% if entity.identifiers is not empty %}
		{% set datas = json_decode(entity.identifiers) %}
		{% if datas is not empty %}
			<h3>{{ "movie.read.Identifiers"|trans([], "validators") }}</h3>
			<ul class="fa-ul">
				{% for data in datas %}
					<li><span class="fa-li"><i class="fas fa-fast-forward"></i></span> {{ data.identifier }} (<i><a href="{{ url_identifier(data.identifier) }}" target="_blank">{{ data.value }}</a></i>)</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}

	{% if entity.source is not empty %}
		<br>
		<h3>{{ "movie.read.Sources"|trans([], "validators") }}</h3>
		{{ source_document(entity.source) }}
	{% endif %}

	<hr class="hr2">
	<p>
		<i class="fas fa-dragon"></i> <a dir="{{ entity.language.direction }}" href="{{ path('Theme_Show', { id: entity.theme.id, theme: entity.theme.title }) }}">{{ entity.theme.title }}</a> - <i class="fas fa-calendar-alt"></i> {{ entity.publicationDate|dodate(false, app.request.locale) }} {% if entity.licence is not null %}- <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : entity.licence.id }) }}" alt="" id="news_licence_link"><img class="align-middle" src="{{ asset('extended/photo/licence/'~entity.licence.logo) }}" alt="{{ entity.licence.title }}" /></a>{% endif %}
		{% include 'index/History/index.html.twig' with { 'entity': entity } %}
	</p>
	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.title, 'entity':entity, 'url':app.request.server.get("REQUEST_URI") } %}

	{{ getTagsByEntityForDisplay(entity) }}

	{{ render(controller("App\\Controller\\VoteController::indexAction", { 'idClassName' : entity.id, 'className': 'Movie' })) }}

	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::indexAction", { 'idClassName' : entity.id, 'className': 'Movie' })) }}
{% endblock %}