{% extends "content_layout.html.twig" %}

{% block title %}{{ "eventMessage.calendar.Events"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="mt-1" alt="Robot"/></span> {{ "eventMessage.calendar.Events"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<link href='{{ asset('extended/js/fullcalendar/packages/core/main.css') }}' rel='stylesheet' />
	<link href='{{ asset('extended/js/fullcalendar/packages/list/main.css') }}' rel='stylesheet' />
	<link href='{{ asset('extended/js/fullcalendar/packages/daygrid/main.css') }}' rel='stylesheet' />
	<link href='{{ asset('extended/js/fullcalendar/packages/bootstrap/main.css') }}' rel='stylesheet' />

	<script src="{{ asset('extended/js/fullcalendar/packages/core/main.js') }}"></script>
	<script src="{{ asset('extended/js/fullcalendar/packages/core/locales-all.js') }}"></script>
	<script src="{{ asset('extended/js/fullcalendar/packages/list/main.js') }}"></script>
	<script src="{{ asset('extended/js/fullcalendar/packages/daygrid/main.js') }}"></script>
	<script src="{{ asset('extended/js/fullcalendar/packages/bootstrap/main.js') }}"></script>

	<style>
		.fc-button-primary {
			background-color: #000;
			color: rgb(187, 196, 45);
			border-color: rgb(187, 196, 45);
		}
		.fc-button-group > .fc-button:not(:last-child) {
			background-color: #000;
			color: rgb(187, 196, 45);
		}
		.fc-button-group > .fc-button:hover, .fc-button-primary:hover, .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
			color: #000;
			background-color: rgb(187, 196, 45);
			border-color: rgb(187, 196, 45);
		}
		.fc-button-primary:disabled {
			color: #000;
			background-color: rgb(187, 196, 45);
			border-color: rgb(187, 196, 45);
			cursor: not-allowed !important;
		}
		.fc-unthemed td.fc-today, .fc-unthemed .fc-list-heading td {
			background: #002700;
		}
		.fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
			border-color: rgb(187, 196, 45) !important;
		}
		.fc-content-skeleton .fc-unthemed td {
			border-color: #ddd !important;
		}
		.fc-unthemed .fc-list-heading td {
			border-bottom: 1px solid rgb(187, 196, 45) !important;
		}
		.fc-unthemed .fc-list-item:hover td {
			background-color: #252525 !important;
		}
		 a.fc-event:link, a.fc-event:visited {
			color: white;
		}
		a.fc-day-number:active, a.fc-day-number:hover {
			color: #fc0 !important;
			text-decoration: underline !important;
		}
		fc-unthemed .fc-list-empty {
			color: #0c5460;
			background-color: #d1ecf1;
			border-color: #bee5eb;
		}
		.fc-event {
			height:40px !important;
		}
		.fc-event-container .fc-event {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 5px;
			margin-left: 7px;
			margin-right: 7px;
		}
		.fc-scroller {
			height: auto !important;
		}
		.fc-day-grid-event .fc-content {
			overflow: inherit !important;
		}
		.fc-day-grid-event .fc-content span.fc-title {
			border: 1px solid white;
			border-radius: 50%;
			padding: 2px 5px 2px 5px;
			background: wheat;
			color: darkred;
			font-weight: bold;
		}
	</style>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				locale: '{{ app.request.locale }}',
				plugins: [ 'dayGrid', 'list' ],
				events: '{{ path("EventMessage_Calendar_Events") }}',
				customButtons: {
					monthButton: {
						text: "",
						click: function() {
							var url = "{{ path('EventMessage_SelectYearMonth', {year: '0000', month: '00'}) }}";
							url = url.replace('0000', calendar.getDate().getFullYear()).replace('00', calendar.getDate().getMonth() + 1)
							window.location.href = url;
						}
					},
					yearButton: {
						text: "",
						click: function() {
							var url = "{{ path('EventMessage_SelectYear', {year: '0000'}) }}";
							url = url.replace('0000', calendar.getDate().getFullYear())
							window.location.href = url;
						}
					}
				},
				datesRender: function( info  ) {
					var date = new Date(info.view.calendar.getDate());

					var monthName = new Intl.DateTimeFormat("fr", { month: "long" }).format;
					var longName = monthName(date); // "July"

					document.querySelector(".fc-monthButton-button").innerHTML = longName;
					document.querySelector(".fc-yearButton-button").innerHTML = date.getUTCFullYear();
				},
				header: {
					left: 'prev,next today ',
					center: 'monthButton yearButton',
					right: 'dayGridMonth'
				},
				eventMinHeight: 30,
				eventRender: function(info) {
					let selector = info.el.querySelector('.fc-title');
					if (selector) { 
						selector.innerHTML = info.event.title;
					}
				},
				navLinks: false, // can click day/week names to navigate views
				editable: false,
				displayEventTime: false,
				eventLimit: false, // allow "more" link when too many events*/
			});
			calendar.render();
        });
	</script>
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img width="550" class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/calendar-event-index.jpg') }}" alt="Gothic girl fire" /></p>
	<hr>
	<div id='calendar'></div>
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}