{% extends "content_layout.html.twig" %}

{% block title %}{{ "eventMessage.calendar.Events"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="mt-1" alt="Robot"/></span> {{ "eventMessage.calendar.Events"|trans([], "validators") }} - {{ currentDate|dodate(false, app.request.locale) }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<style>
		p#media_duration span {
			color: white;
		}
	</style>
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img width="550" class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/eventMessage-day-month.jpg') }}" alt="Angel girl rock" /></p>
	<hr>
	
	{% import "page/EventMessage/macro_event.html.twig" as macro_event %}

	<p id="media_duration">
		<img src="{{ asset('extended/photo/calendar-event-message.png') }}" alt="" width="25" class="align-middle" />
		<span class="align-middle"><b>{{ currentDate|dodate(false, app.request.locale) }}</b></span>
	</p>

	{% for theme, data in currentEvent %}
		<h3><i class="fas fa-{{ macro_event.icon(theme) }}"></i> {{ ("eventMessage.dayMonth." ~ theme|ucfirst)|trans([], "validators") }}</h3>
		<ul>
			{% for event in data %}
				<li><a href="{{ event.url }}">{{ event.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<div class="alert alert-info">{{ "eventMessage.dayMonth.NoEventToday"|trans([], "validators") }}</div>
	{% endfor %}
	
	<hr>
	
	<p id="media_duration">
		<img src="{{ asset('extended/photo/calendar-event-message.png') }}" alt="" width="25" />
		<span class="align-middle"><b>{{ (currentDate|date("d"))|doYearMonthDayDate(currentDate|date("m"), null, app.request.locale) }}</b></span>
	</p>

	{% for theme, data in res %}
		<h3><i class="fas fa-{{ macro_event.icon(theme) }}"></i> {{ ("eventMessage.dayMonth." ~ theme|ucfirst)|trans([], "validators") }}</h3>
		{% for century, da in data %}
			{% if century != "noYear" %}
				<h4><i>{{ century|raw }}</i></h4>
			{% endif %}
			<ul>
				{% for year, d in da %}
					{% for event in d %}
						<li>{% if year is not empty %}<b>{{ year }}</b> - {% endif %}<a href="{{ event.url }}">{{ event.title }}</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		{% endfor %}
	{% else %}
		<div class="alert alert-info">{{ "eventMessage.dayMonth.NoEvent"|trans([], "validators") }}</div>
	{% endfor %}

	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}