{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="mt-1" alt="Robot"></span>{{ entity.title }}</h2>{% endblock h2_title %}
{% block meta_description %}{{ entity.abstractText|meta_description }}{% endblock %}

{% block meta_plus %}
	{% if entity.archive == true %}
		<meta name="robots" content="noindex">
	{% endif %}

	<meta name="twitter:card" content="summary">
	<meta property="og:title" content="{{ entity.title }}">
	<meta property="og:image" content="{{ absolute_url(asset(entity.getAssetImagePath()~entity.photoIllustrationFilename)) }}">
	<meta property="og:description" content="{{ entity.abstractText|meta_description }}">
{% endblock %}

{% block header_plus %}
	{% if entity.longitude is not empty and entity.latitude is not empty %}
	<link rel="stylesheet" href="{{ asset('extended/js/cartography/leaflet/leaflet.css') }}">
	<link href="{{ asset('extended/js/cartography/Leaflet.fullscreen/dist/leaflet.fullscreen.css') }}" rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('extended/css/cartography.css') }}" type="text/css" media="screen">
	<script src="{{ asset('extended/js/cartography/leaflet/leaflet.js') }}"></script>
	<script src="{{ asset('extended/js/cartography/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js') }}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var map = L.map('map-canvas').setView([{{ entity.latitude }}, {{ entity.longitude }}], 15);

			L.marker([{{ entity.latitude }}, {{ entity.longitude }}]).addTo(map);

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			map.addControl(new L.Control.Fullscreen());
		});
	</script>
	{% endif %}
{% endblock %}

{% block APBlog_body %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': entity } %}
	<p class="image">{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, entity.photoIllustrationCaption)|raw }}</p>
	<p id="media_duration">
		{% set urlFrom = null %}

		{% if entity.dayFrom is not empty and entity.monthFrom is not empty %}
			{% set yearFrom = entity.yearFrom %}
			{% if yearFrom is empty %}
				{% set yearFrom = "now"|date("Y") %}
			{% endif %}
			{% set urlFrom = path('EventMessage_SelectDayMonth', {year: yearFrom, month: entity.monthFrom, day: entity.dayFrom}) %}
		{% elseif entity.monthFrom is not empty and entity.yearFrom is not empty %}
			{% set urlFrom = path('EventMessage_SelectYearMonth', {year: entity.yearFrom, month: entity.monthFrom}) %}
		{% elseif entity.yearFrom is not empty %}
			{% set urlFrom = path('EventMessage_SelectYear', {year: entity.yearFrom}) %}
		{% endif %}

		{% set urlTo = null %}

		{% if entity.dayTo is not empty and entity.monthTo is not empty %}
			{% set yearTo = entity.yearTo %}
			{% if yearTo is empty %}
				{% set yearTo = "now"|date("Y") %}
			{% endif %}
			{% set urlTo = path('EventMessage_SelectDayMonth', {year: yearTo, month: entity.monthTo, day: entity.dayTo}) %}
		{% elseif entity.monthTo is not empty and entity.yearTo is not empty %}
			{% set urlTo = path('EventMessage_SelectYearMonth', {year: entity.yearTo, month: entity.monthTo}) %}
		{% elseif entity.yearTo is not empty %}
			{% set urlTo = path('EventMessage_SelectYear', {year: entity.yearTo}) %}
		{% endif %}

		<img src="{{ asset('extended/photo/calendar-event-message.png') }}" alt="Calendar" width="30" class="align-middle"> 
		{% if entity.dateToString == entity.dateFromString %}
			<a href="{{ urlFrom }}" alt="">{{ entity.dayFrom|doYearMonthDayDate(entity.monthFrom, entity.yearFrom, app.request.locale) }}</a>
		{% else %}
			<a href="{{ urlFrom }}" alt="">{{ entity.dayFrom|doYearMonthDayDate(entity.monthFrom, entity.yearFrom, app.request.locale) }}</a>
			{% if entity.dateToString is not empty %}
			- 
			<a href="{{ urlTo }}" alt="">{{ entity.dayTo|doYearMonthDayDate(entity.monthTo, entity.yearTo, app.request.locale) }}</a>
			{% endif %}
		{% endif %}
		
		{% if entity.country is not empty %}
			- <img src="{{ asset(entity.country.getAssetImagePath()) }}{{ entity.country.flag }}" alt="{{ entity.country.title }} flag" height="23"> {{ entity.country.title }}
		{% endif %}
	</p>
	<hr>
	<br>
	{{ entity.abstractText|raw }}
	{{ entity.text|raw }}
	{% if entity.longitude is not empty and entity.latitude is not empty %}
		<br>
		<h3>{{ "eventMessage.new.Location"|trans([], "validators") }}</h3>
		<div id="map-canvas" style="width:100%; height:400px"></div>
	{% endif %}

	{% set musics = music_festival(entity) %}
	
	{% if musics is not empty %}
		<br>
		<h3>{{ 'music.listen.TrackListing'|trans([], 'validators') }}</h3>
		<table class="doc_datatables table dt-responsive w-100">
			<tbody>
				{% for music in musics %}
					<tr>
					<td class="tdGene"><a href="{{ path('Music_Music', { 'id' : music.id, 'title_slug' : music.slug }) }}" alt="" class="fw-bold">{{ music.musicPiece }}</a></td>
					<td><i class="far fa-clock"></i> {{ (music.length|string_duration)|default('-') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% set sources = source_document(entity.source, entity.language) %}
	{% if sources is not empty %}
		<br>
		<h3>{{ "eventMessage.index.Sources"|trans([], "validators") }}</h3>
		{{ sources|raw }}
	{% endif %}

	<hr class="hr2">
	<p>
		{% if entity.theme is not null %}<i class="fas fa-dragon"></i> <a dir="{{ entity.language.direction }}" href="{{ path('Theme_Show', { id: entity.theme.id, theme: entity.theme.title }) }}">{{ entity.theme.title }}</a> - {% endif %}<i class="fas fa-calendar-alt"></i> {{ entity.publicationDate|dodate(false, app.request.locale) }}{% if entity.licence is not null %} - <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : entity.licence.id }) }}" alt="" id="news_licence_link"><img class="align-middle" src="{{ asset('extended/photo/licence/'~entity.licence.logo) }}" alt="{{ entity.licence.title }}" /></a>{% endif %}
		{% if is_current_languages(entity.language.abbreviation) == false %}
			- <a href="{{ path('EventMessage_World', {'language' : entity.language.abbreviation}) }}"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" class="align-middle" alt="{{ entity.language.abbreviation }}" width="20" height="13" /></a>
		{% endif %}

		{% include 'index/History/index.html.twig' with { 'entity': entity } %}
	</p>
	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.title, 'entity':entity, 'url':app.request.server.get("REQUEST_URI") } %}

	{{ getTagsByEntityForDisplay(entity) }}

	{{ render(controller("App\\Controller\\VoteController::indexAction", { 'idClassName' : entity.id, 'className': 'EventMessage' })) }}

	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::indexAction", { 'idClassName' : entity.id, 'className': 'EventMessage' })) }}
{% endblock %}