{% extends "content_layout.html.twig" %}

{% block title %}{{ "eventMessage.index.Event"|trans([], "validators") }} - {{ themeDisplay }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bat-icon.png') }}" width="30" class="mt-1" alt="Bat"/></span>{{ "eventMessage.index.Event"|trans([], "validators") }} - {{ themeDisplay }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script>
		$(function ()
		{
			$('table.doc_datatables').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"ordering": true,
				"lengthChange": true,
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"processing": true,
				"serverSide": true,
				"responsive": {
					"details": {
						display: $.fn.dataTable.Responsive.display.childRowImmediate,
						type: 'none',
						target: ''
					}
				},
				"order": [[ 2, "desc" ]],
				"ajax": "{{ path('EventMessage_TabDatatables', { 'themeId' : themeId }) }}"
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/eventMessage-tab.jpg') }}" alt="Burning Man" width="550" /></p>
	<hr />
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "eventMessage.tab.Photo"|trans([], "validators") }}</th>
				<th class="label_form">{{ "eventMessage.tab.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "eventMessage.tab.Date"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "eventMessage.tab.Photo"|trans([], "validators") }}</th>
				<th class="label_form">{{ "eventMessage.tab.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "eventMessage.tab.Date"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}