{% extends "content_layout.html.twig" %}

{% block title %}{{ picture.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/shanks-icon.png') }}" width="25" class="mt-1" alt="Abduction"/></span>{{ picture.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/ImageRotateZooming/ImageRotateZooming.js') }}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			$("#img_zoomed").ImageRotateZooming({
				"rotate": true,
				"zoom": true
			});
			
			document.querySelector("a#news_licence_link").addEventListener("click", (e) => {
				$('#showColorboxByLicenceModal').modal('show');
				e.preventDefault();
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/ImageRotateZooming/ImageRotateZooming.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block meta_plus %}
	<meta property="og:image" content="{{ absolute_url(asset(picture.getAssetImagePath()~picture.photoIllustrationFilename)) }}" />
	<link rel="alternate" media="only screen and (max-width: 640px)" href="{{ url('ap_photomobile_read', {'id' : picture.id}) }}">
{% endblock %}

{% block APBlog_body %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': picture } %}
	<p id="image">{{ picture.photoIllustrationFilename|imgsize(550, picture.getAssetImagePath(), 'imgGalery', { 'id': 'img_zoomed' })|raw }}</p>
	<div>
	<p>{{ picture.text|raw }}</p>	
	</div>

	<h3>{{ "photo.read.SourcePhoto"|trans([], "validators") }}</h3>
	{{ (picture.photoIllustrationCaption|imgCaption( asset(picture.getAssetImagePath()~picture.photoIllustrationFilename)))|raw }}

	<hr class="hr2">
	<p>
		<i class="fas fa-dragon"></i> <a dir="{{ picture.language.direction }}" href="{{ path('Theme_Show', {id: picture.theme.id, theme: picture.theme.title}) }}">{{ picture.theme.title }}</a> - <i class="fas fa-calendar-alt"></i> {{ picture.publicationDate|dodate(false, app.request.locale) }} - <i class="fas fa-user"></i> {% if picture.author is not empty and picture.isAnonymous == false %}<a href="{{ path('APUserBunble_otherprofile', {id: picture.author.id}) }}">{{ picture.author }}</a>{% else %}{{ picture.pseudoUsed }}{% endif %} - <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : picture.licence.id }) }}" id="news_licence_link"><img class="align-middle" src="{{ asset('extended/photo/licence/'~picture.licence.logo) }}" alt="{{ picture.licence.title }}" /></a>
		{% if is_current_languages(picture.language.abbreviation) == false %}
			- <a href="{{ path('Photo_World', {'language' : picture.language.abbreviation}) }}"><img src="{{ asset(picture.language.getAssetImagePath()) }}{{ picture.language.logo }}" class="align-middle" alt="{{ picture.language.abbreviation }}" width="20" height="13" /></a>
		{% endif %}
		
		{% include 'index/History/index.html.twig' with { 'entity': picture } %}
	</p>

	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':picture.title, 'url':app.request.server.get("REQUEST_URI"), 'entity':picture} %}
	{{ getTagsByEntityForDisplay(picture) }}

	<div class="hidden_for_print">
		{% if previousAndNextEntities["previous"] is not empty %}
			<a href="{{ path('Photo_Read', {'id' : previousAndNextEntities["previous"].id, 'title_slug' : previousAndNextEntities["previous"].getUrlSlug()})}}" title="{{ previousAndNextEntities["previous"].title }}"><i class="fas fa-angle-double-left"></i> {{ "generality.read.Previous"|trans([], "validators") }} <i class="fas fa-angle-double-left"></i></a>
		{% else %}
			<span class="previous_next_disable_left"><i class="fas fa-angle-double-left"></i> {{ "generality.read.Previous"|trans([], "validators") }} <i class="fas fa-angle-double-left"></i></span>
		{% endif %}

		{% if previousAndNextEntities["next"] is not empty %}
			<a class="previous_next_enable_right float-end" href="{{ path('Photo_Read', {'id' : previousAndNextEntities["next"].id, 'title_slug' : previousAndNextEntities["next"].getUrlSlug()})}}" title="{{ previousAndNextEntities["next"].title }}"><i class="fas fa-angle-double-right"></i> {{ "generality.read.Next"|trans([], "validators") }} <i class="fas fa-angle-double-right"></i></a>
		{% else %}
			<span class="previous_next_disable_right float-end"><i class="fas fa-angle-double-right"></i> {{ "generality.read.Next"|trans([], "validators") }} <i class="fas fa-angle-double-right"></i></span>
		{% endif %}
	</div>

	{{ render(controller("App\\Controller\\VoteController::indexAction", { 'idClassName' : picture.id, 'className': 'Photo' })) }}

	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::indexAction", { 'idClassName' : picture.id, 'className': 'Photo' })) }}
	{{ render(controller("App\\Controller\\PhotoController::getSameTopicsAction", { 'id' : picture.id })) }}
{% endblock %}