{% import "admin/GenericAdmin/macro.html.twig" as macro_admin %}

<div class="modal fade selectMusicFileModal" id="selectMusicFileModal_{{ form.vars.id }}" tabindex="-1" role="dialog" aria-labelledby="selectMusicFileModalLabel_{{ form.vars.id }}" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title w-100 font-weight-bold">{{ "video.admin.ChooseAnExistingFile"|trans([], "validators") }}</h2>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<i class="fas fa-spinner fa-pulse"></i>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "music.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.linkMusic, "music.admin.LinkMusic"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_widget(form.linkMusic, { 'attr': {'class': 'form-control'} }) }}
	
	<div class="mt-2">
		<div id="{{ form.album.vars.id }}_container">
			{{ form_widget(form.album, { 'attr': {'class': 'form-control'} }) }}
		</div>
		<div id="{{ form.artist.vars.id }}_container">
			{{ form_widget(form.artist, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.musicPieceFile, "music.admin.File"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" id="pills-audio-tab" data-toggle="pill" href="#pills-audio" role="tab" aria-controls="pills-audio" aria-selected="true"><i class="fas fa-headphones fa-fw"></i> {{ "music.admin.AudioFile"|trans([], "validators") }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false"><i class="fas fa-video fa-fw"></i> {{ "music.admin.Video"|trans([], "validators") }}</a>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-audio" role="tabpanel" aria-labelledby="pills-audio-tab">
			{{ form_errors(form.musicPieceFile) }}
			{% if entity.musicPieceFile is not empty %}
				<b><u>{{ "admin.general.CurrentFile"|trans([], "validators") }}</u></b> {{ entity.musicPieceFile }}
				<br />
			{% endif %}
			{{ form_widget(form.musicPieceFile, { 'attr': {'class': 'form-control music_piece_file'} }) }}
			
			<div class="input-group mt-2" id="{{ form.existingFile.vars.id }}">
				<div class="input-group-prepend">
					<a href="#" class="input-group-text select_files_colorbox"><i class="fas fa-camera-retro" aria-hidden="true"></i></a>
				</div>
				{{ form_widget(form.existingFile, {'attr':{'class': 'existing_music_colorbox form-control'}}) }}
				<div class="input-group-append">
				<a href="#" class="input-group-text remove_files_colorbox"><i class="fas fa-times" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
			{{ form_errors(form.embeddedCode) }}
			{{ form_label(form.embeddedCode, "music.admin.EmbeddedCode"|trans([], "validators")) }}
			{{ form_widget(form.embeddedCode, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.musicPiece, "music.admin.Morceau"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.musicPiece) }}{{ form_widget(form.musicPiece, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.secondDuration, "music.admin.Duration"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.secondDuration) }}
	<div class="form-group-inline">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="input-group">
					{{ form_widget(form.hourDuration, { 'attr': {'class': 'form-control'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">{{ "video.admin.HoursEdit"|trans([], "validators") }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="input-group">
					{{ form_widget(form.minuteDuration, { 'attr': {'class': 'form-control'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">{{ "video.admin.MinutesEdit"|trans([], "validators") }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="input-group">
					{{ form_widget(form.secondDuration, { 'attr': {'class': 'form-control'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">{{ "video.admin.SecondsEdit"|trans([], "validators") }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.wikidata, "Wikidata") }}</div>
<div class="form-table-cell">{{ form_errors(form.wikidata) }}{{ form_widget(form.wikidata, { 'attr': {'class': 'form-control'}}) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "music.admin.Text"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ macro_admin.import_wikipedia(form.text.vars.id, form.source.vars.id) }}
	{{ form_errors(form.text) }}{{ form_widget(form.text) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.source, "music.admin.Sources"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.source) }}{{ form_widget(form.source, { 'attr': {'class': 'form-control'} }) }}</div>

<script>
	function linkMusic(val) {
		document.getElementById("{{ form.album.vars.id }}_container").style.display = "none";
		document.getElementById("{{ form.artist.vars.id }}_container").style.display = "none";
		document.getElementById("{{ form.album.vars.id }}").value = "";
		document.getElementById("{{ form.artist.vars.id }}").value = "";
		
		if(val== "album") {
			document.getElementById("{{ form.album.vars.id }}_container").style.display = "block";
			$('#{{ form.album.vars.id }}').select2();
			
		} else if(val == "artist") {
			document.getElementById("{{ form.artist.vars.id }}_container").style.display = "block";
			$('#{{ form.artist.vars.id }}').select2();
		}
	}
	
	{% if entity.album is empty and entity.artist is empty %}
		linkMusic(document.getElementById("{{ form.linkMusic.vars.id }}").value);
	{% elseif entity.album is not empty %}
		document.getElementById("{{ form.artist.vars.id }}_container").style.display = "none";
	{% elseif entity.artist is not empty %}
		document.getElementById("{{ form.album.vars.id }}_container").style.display = "none";
	
	{% endif %}

	document.getElementById("{{ form.linkMusic.vars.id }}").addEventListener("change", (e) => {
		linkMusic(e.target.value);
	});
</script>