{% set i = 0 %}
{% for entity in entities %}
	<div class="comment mt-2 p-2">
		<p class="pseudoComment">
			<span class="text-success fw-bold">
				{% if entity.anonymousComment == 0 %}
					{{ entity.authorComment.username }}
				{% else %}
					{{ entity.anonymousAuthorComment }}
				{% endif %}
			</span>
			- {{ entity.dateComment|dodate(true, app.request.locale) }}
			
			<span class="reply float-end cursor-pointer text-danger" data-comment-id="{{ entity.id }}"><i class="fa-solid fa-reply fa-flip-horizontal reply" data-comment-id="{{ entity.id }}"></i></span>
		</p>
		<p>{{ entity.messageComment|raw }}</p>

		{% set childComments = child_comments(entity) %}

		{% if childComments is not empty %}
			<hr>
			{% for childComment in childComments %}
				<div class="ms-2">
					<p class="pseudoComment">
						<span class="text-info fw-bold">
							{% if childComment.anonymousComment == 0 %}
								{{ childComment.authorComment.username }}
							{% else %}
								{{ childComment.anonymousAuthorComment }}
							{% endif %}
						</span>
						- {{ childComment.dateComment|dodate(true, app.request.locale) }}
					</p>
					<p>{{ childComment.messageComment|raw }}</p>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	{% if i == nbrMessageByPage-1 %}
		{% set i = 0 %}
	{% else %}
		{% set i = i + 1 %}
	{% endif %}
{% endfor %}
{% if entities|length != 0 %}
	<hr class="hr2"/>
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
		{% for i in 1..nbrOfPages %}
			{% if currentPage == i %}
				<li class="page-item"><span class="page-link current_page">{{ i }}</span></li>
			{% else %}
				<li class="page-item"><a class="page page-link" href="">{{ i }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</nav>
{% endif %}

<script>
	[...document.querySelectorAll(".page")].forEach(el => el.addEventListener("click", (e) => {
		e.preventDefault();
		
		var DATA = 'page=' + e.target.innerText;
		
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function()
		{
			if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
			{
				document.getElementById("list_messages").innerHTML = "";
				document.querySelector("#list_messages").appendChild(document.createRange().createContextualFragment(xmlHttp.responseText));
				reply();
			}
		}

		xmlHttp.open("post", "{{ path('APCommentBundle_pagination', { 'idClassName' : idClassName, 'className': className }) }}", true); 
		xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		xmlHttp.send(DATA);
	}));
</script>