{% macro updateListForm(form) %}
	$("#{{ form.language.vars.id }}").change(function()
	{
		$.ajax({
			type: "POST",
			url: "{{ path('Biography_Admin_ReloadByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var country = data.country;
				$("#{{ form.nationality.vars.id }} option").remove();
				$.each(country, function(index, element)
				{
					$("#{{ form.nationality.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
			}
		});
	});
{% endmacro %}

{% macro select2(selector) %}
	$("{{ selector }}").select2();

	$('{{ selector }}').on('select2:unselecting', function (e) {
		if(typeof e.params.args.data.element.dataset.color !== "undefined" && e.params.args.data.element.dataset.color == "Red") {
			alert("{{ "biography.admin.ThisItemCannotBeDeleted"|trans([], "validators") }}");
			return false;
		}
	});
{% endmacro %}