{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Biography"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Biography_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Biography_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Biography_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Biography_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.BirthDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.birthDate|doPartialDate(app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.DeathDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.deathDate|doPartialDate(app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Nationality"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.nationality is not empty %}<img src="{{ asset(entity.nationality.getAssetImagePath()) }}{{ entity.nationality.flag }}" alt="" width="20" height="13" />{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Gender"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.gender is not empty %}{{ ("biography.form." ~ (entity.gender|ucfirst))|trans([], "validators") }}{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Kind"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ ("biography.form."~entity.kind)|trans([], "validators") }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.InternationalName"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.internationalName }}</div>

	{% if entity.wikidata is not empty %}
		<div class="form-table-cell form-table-cell-head">Wikidata</div>
		<div class="form-table-cell">{{ entity.wikidata }} (<a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}">Wikidata</a>)</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Source"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source, entity.language) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Occupations"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% set occupationArray = [] %}
		{% for occupation in occupations_by_biography(entity) %}
			{% set occupationArray = occupationArray|merge([(("biography.occupation."~(occupation|ucfirst))|trans([], "validators"))]) %}
		{% endfor %}
		
		{{ occupationArray|join(', ') }}
	</div>

	{% if entity.links is not null %}
		{% set linkArray = json_decode(entity.links) %}
		{% for sn in linkArray %}
			{% if sn.url is not empty %}
				<div class="form-table-cell form-table-cell-head">{{ ("biography.link."~sn.label)|trans([], "validators") }}</div>
				<div class="form-table-cell"><a href="{{ sn.url }}" alt="" target="_blank">{{ sn.url }}</a></div>
			{% endif %}
		{% endfor %}
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "biography.admin.Identifiers"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% set datas = json_decode(entity.identifiers) %}
		{% if datas is not empty %}
			<ul>
				{% for data in datas %}
					<li>{{ data.identifier }} (<i>{{ data.value }}</i>)</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{% if entity.feastDay is not empty %}
		<div class="form-table-cell form-table-cell-head">{{ "biography.admin.FeastDay"|trans([], "validators") }}</div>
		<div class="form-table-cell">{{ entity.feastDay|doPartialDate(app.request.locale, "MMMMd") }}</div>
	{% endif %}

	<a href="{{ path('Biography_Show', { id: entity.id, title_slug: entity.slug }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Biography_Admin_Internationalization", "showRoute": "Biography_Admin_Show", "editRoute": "Biography_Admin_Edit"})) }}

	{% import "index/macro/macro_index.html.twig" as macro_index %}

	{{ macro_index.twitter_form(entity) }}
	{{ macro_index.mastodon_form(entity) }}
	{{ macro_index.diaspora_form(entity) }}
	{{ macro_index.facebook_form(entity) }}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.facebook_form_js() }}
	{{ macro_index.mastodon_form_js() }}
	{{ macro_index.diaspora_form_js() }}
{% endblock %}