{% extends "content_layout.html.twig" %}

{% block title %}{{ "directory.index.Annuaire"|trans([], "validators") }}{% endblock %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/blue-monster.png') }}" width="25" class="mt-1" alt="Blue monster"/></span>{{ "directory.index.Annuaire"|trans([], "validators") }}</h2>
{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			oTable = $('table.index_directories').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"ordering": true,
				"lengthChange": true,
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"processing": true,
				"serverSide": true,
				"responsive": {
					"details": {
						display: $.fn.dataTable.Responsive.display.childRowImmediate,
						type: 'none',
						target: ''
					}
				},
				"order": [[ 1, "asc" ]],
				"ajax": "{{ path('WebDirectory_SearchDatatables') }}",
				"columnDefs" : [{
					'orderable' : false,
					'targets' : [ 0, 2, 3 ]
				}]
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<div class="alert alert-info">{{ ("directory.index.Promote"|trans({'%start_link%': '<b><u><a href="'~path('WebDirectory_User_New')~'" class="alert-link">', '%end_link%': '</a></u></b>'}, "validators"))|raw }}</div>
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}webdirectory.jpg" width="550" alt="Woman Zombie" /></p>
	<br>
	<hr class="hr2">
	<table class="index_directories dt-responsive w-100">
		<thead>
			<tr>
				<th>{{ "directory.index.Logo"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Title"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Language"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Link"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th>{{ "directory.index.Logo"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Title"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Language"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Link"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<br>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}