{% extends "content_layout.html.twig" %}

{% block title %}{{ "directory.index.Annuaire"|trans([], "validators") }}{% endblock %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/blue-monster.png') }}" width="25" class="mt-1" alt="Blue monster"/></span>{{ "directory.index.Annuaire"|trans([], "validators") }}</h2>
{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js') }}"></script>

	<script>
		$(function ()
		{
			oTable = $('table.index_directories').dataTable( {
				"oLanguage": {
					"sUrl": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"bFilter": true,
				"bInfo": true,
				"bSort": true,
				"bLengthChange": true,
				"sPaginationType": "full_numbers",
				"iDisplayLength": {{ total_line_display }},
				"bProcessing": true,
				"bServerSide": true,
				"responsive": {
					"details": {
						display: $.fn.dataTable.Responsive.display.childRowImmediate,
						type: 'none',
						target: ''
					}
				},
				"aaSorting": [[ 1, "asc" ]],
				"sAjaxSource": "{{ path('WebDirectory_SearchDatatables') }}",
				"aoColumnDefs" : [{
					'bSortable' : false,
					'aTargets' : [ 0, 2, 3 ]
				}]
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/extensions/Responsive/css/responsive.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}webdirectory.jpg" width="550" alt="Woman Zombie" /></p>
	<br>
	<hr class="hr2">
	<table class="index_directories dt-responsive w-100">
		<thead>
			<tr>
				<th>{{ "directory.index.Logo"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Title"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Language"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Link"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th>{{ "directory.index.Logo"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Title"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Language"|trans([], "validators") }}</th>
				<th>{{ "directory.index.Link"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<br>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}