<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Wakonda">
	
	{% block meta_plus %}{% endblock %}

    <title>{% block title %}Activité-Paranormale{% endblock %}</title>
	
	{% block stylesheets %}
		{{ encore_entry_link_tags('app_mobile') }}
	{% endblock %}
	
	{{ encore_entry_script_tags('app_mobile') }}
	
	{% block header_mobile_plus %}{% endblock %}
	
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.tarteaucitron_js() }}

	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('extended/photo/devil.png') }}" />
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top pt-1">
      <div class="container">
		  <a class="navbar-brand" id="main_title" href="{{ path('ap_newsmobile_index', { 'page' : 1}) }}"><img src="{{ asset('extended/photo/devil.png') }}" width="40" class="mr-2" alt="Devil">Activité-Paranormale</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav">
			{% set currentRoute = app.request.attributes.get("_route") %}
            <li class="nav-item {{ 'news'|linkFollowMobile(currentRoute, ['index', 'read']) }}"><a class="nav-link" href="{{ path('ap_newsmobile_index', { 'page' : 1}) }}">{{ "mobile.main.News"|trans([], "validators") }}</a></li>
            <li class="nav-item {{ 'video'|linkFollowMobile(currentRoute) }}"><a class="nav-link" href="{{ path('ap_videomobile_index', { 'page' : 1}) }}">{{ "mobile.main.Video"|trans([], "validators") }}</a></li>
            <li class="nav-item {{ 'photo'|linkFollowMobile(currentRoute) }}"><a class="nav-link" href="{{ path('ap_photomobile_index', { 'page' : 1}) }}">{{ "mobile.main.Photo"|trans([], "validators") }}</a></li>
            <li class="nav-item {{ 'testimony'|linkFollowMobile(currentRoute, ['index', 'read']) }}"><a class="nav-link" href="{{ path('ap_testimonymobile_index', { 'page' : 1}) }}">{{ "mobile.main.Testimony"|trans([], "validators") }}</a></li>
            <li class="nav-item {{ 'witchcraft'|linkFollowMobile(currentRoute) }}"><a class="nav-link" href="{{ path('ap_witchcraftmobile_index', { 'page' : 1}) }}">{{ "mobile.main.Witchcraft"|trans([], "validators") }}</a></li>
            <li class="nav-item {{ 'search'|linkFollowMobile(currentRoute) }}"><a class="nav-link" href="{{ path('ap_newsmobile_search') }}">{{ "mobile.main.Search"|trans([], "validators") }}</a></li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="navbarDropdownMenuLink" aria-expanded="false">{{ "mobile.main.Contribute"|trans([], "validators") }} <span class="caret"></span></a>
				
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ path('ap_witchcraftmobile_new') }}">{{ "witchcraft.new.AddRitual"|trans([], "validators") }}</a>
					<a class="dropdown-item" href="{{ path('ap_testimonymobile_new') }}">{{ "mobile.testimony.Testify"|trans([], "validators") }}</a>
				</div>
			</li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
		<div class="card">
			<div class="card-header">
				{% block page_title%}{% endblock %}
			</div>
			<div class="card-body">
				{% for flash_message in app.session.flashBag.get('success') %}
				<div class="alert alert-success">
				{{ flash_message }}
				</div>
				{% endfor %}

				{% block body_content %}{% endblock %}
				
				<h3>{{ "generality.page.Advertisement"|trans([], "validators") }}</h3>
				<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-1951906303386196" data-ad-slot="8762915348" data-ad-format="auto"></ins>
				<script type="text/javascript">(adsbygoogle = window.adsbygoogle || []).push({});</script>

				{% set ads = advertising(728, 90) %}
				{% if ads is not empty %}
				<div class="d-none advertising-alternative advertising_image text-center">
					{{ ads.text|raw }}
				</div>
				{% endif %}
			</div>
		</div>
		{% block sub_content %}{% endblock %}

      <footer class="py-3 px-4 mt-2">
        <i class="far fa-copyright"></i> Activité-Paranormale 2009-{{ 'now'|date("Y") }} - <a href="{{ path('Index_Index') }}"><i class="fas fa-desktop" aria-hidden="true"></i> {{ "mobile.main.Desktop"|trans([], "validators") }}</a>
		 - 
		{% if app.request.locale == "fr" %}
			<a href="//forum-fr.activite-paranormale.com/" title="Forum"><i class="fas fa-users"></i> Forum</a>
		{% elseif app.request.locale == "es" %}
			<a href="//forum-es.activite-paranormale.com/" title="Forum"><i class="fas fa-users"></i> Forum</a>
		{% else %}
			<a href="//forum-en.activite-paranormale.com/" title="Forum"><i class="fas fa-users"></i> Forum</a>
		{% endif %}
		 -
		<a href="//activite-paranormale.myshopify.com/"><i class="fab fa-shopify"></i> {{ "index.mainMenu.Store"|trans([], "validators") }}</a>
		 -
		<a href="{{ path('Page_PrivacyPolicy') }}"><i class="fas fa-balance-scale"></i> {{ "index.footerMenu.PrivacyPolicy"|trans([], "validators") }}</a>
		-
		<a href="{{ path('ap_newsmobile_selectlanguage', {'language':'fr'})}}"><img {{ app.request.locale == 'fr' ? 'style="border: 2px #B9C322 solid;"':'' }} class="image_wrapper rounded" src="{{ asset('extended/photo/language/frenchFlagMobile.png') }}" width="42" alt="fr" /></a>
		<a href="{{ path('ap_newsmobile_selectlanguage', {'language':'en'})}}"><img {{ app.request.locale == 'en' ? 'style="border: 2px #B9C322 solid;"':'' }} class="image_wrapper rounded" src="{{ asset('extended/photo/language/englishFlagMobile.png') }}" width="42" alt="en" /></a>
		<a href="{{ path('ap_newsmobile_selectlanguage', {'language':'es'})}}"><img {{ app.request.locale == 'es' ? 'style="border: 2px #B9C322 solid;"':'' }} class="image_wrapper rounded" src="{{ asset('extended/photo/language/spanishFlagMobile.png') }}" width="42" alt="es" /></a>
      </footer>
    </div>
	{% block additional_javascript %}{% endblock %}
	
	<script type="text/javascript">
		async function detectAdBlock() {
		  let adBlockEnabled = false
		  const googleAdUrl = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'
		  try {
			await fetch(new Request(googleAdUrl)).catch(_ => adBlockEnabled = true)
		  } catch (e) {
			adBlockEnabled = true
		  } finally {
			if(document.cookie.includes("tarteaucitron=!adsense=true") && adBlockEnabled == false) {
				for (let element of document.getElementsByClassName("advertising-alternative"))
					element.classList.add("d-none");
				for (let element of document.getElementsByClassName("adsbygoogle"))
					element.classList.remove("d-none");
			} else {
				for (let element of document.getElementsByClassName("advertising-alternative"))
					element.classList.remove("d-none");
				for (let element of document.getElementsByClassName("adsbygoogle"))
					element.classList.add("d-none");
			}
		  }
		}
		
		detectAdBlock();
	</script>
  </body>
</html>