<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{ render(controller('App\\Controller\\PageController::keywordsMetaTagAction'))|meta_description }}">
	<meta name="description" content="{% block meta_description %}{{ render(controller('App\\Controller\\PageController::descriptionMetaTagAction'))|meta_description }}{% endblock %}">
    <meta name="author" content="Wakonda">
	<meta name="google-site-verification" content="Qog5JpRMIFDRk7NFb0PSxJUQRNz0hFNR0Is_WCs4Lwc">

	{% block meta_plus %}{% endblock %}

    <title>{% block title %}Activité-Paranormale{% endblock %}</title>

	{% block stylesheets %}
		{{ encore_entry_link_tags('app_mobile') }}
	{% endblock %}
	
	{% block header_mobile_plus %}{% endblock %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('extended/photo/devil.png') }}">
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top pt-1">
      <div class="container">
		  <a class="navbar-brand" id="main_title" href="{{ path('ap_newsmobile_index', { 'page' : 1}) }}"><img src="{{ asset('extended/photo/devil.png') }}" width="40" class="me-2" alt="Devil">Activité-Paranormale</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav">
			{% set currentRoute = app.request.attributes.get("_route") %}
            <li class="nav-item"><a class="nav-link {{ 'news'|linkFollowMobile(currentRoute, ['index', 'read']) }}" href="{{ path('ap_newsmobile_index', { 'page' : 1}) }}">{{ "mobile.main.News"|trans([], "validators") }}</a></li>
            <li class="nav-item"><a class="nav-link {{ 'video'|linkFollowMobile(currentRoute) }}" href="{{ path('ap_videomobile_index', { 'page' : 1}) }}">{{ "mobile.main.Video"|trans([], "validators") }}</a></li>
            <li class="nav-item"><a class="nav-link {{ 'photo'|linkFollowMobile(currentRoute) }}" href="{{ path('ap_photomobile_index', { 'page' : 1}) }}">{{ "mobile.main.Photo"|trans([], "validators") }}</a></li>
            <li class="nav-item"><a class="nav-link {{ 'testimony'|linkFollowMobile(currentRoute, ['index', 'read']) }}" href="{{ path('ap_testimonymobile_index', { 'page' : 1}) }}">{{ "mobile.main.Testimony"|trans([], "validators") }}</a></li>
            <li class="nav-item"><a class="nav-link {{ 'witchcraft'|linkFollowMobile(currentRoute) }}" href="{{ path('ap_witchcraftmobile_index', { 'page' : 1}) }}">{{ "mobile.main.Witchcraft"|trans([], "validators") }}</a></li>
            <li class="nav-item"><a class="nav-link {{ 'search'|linkFollowMobile(currentRoute) }}" href="{{ path('ap_newsmobile_search') }}">{{ "mobile.main.Search"|trans([], "validators") }}</a></li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" id="navbarDropdownMenuLink" aria-expanded="false">{{ "mobile.main.Contribute"|trans([], "validators") }} <span class="caret"></span></a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ path('ap_witchcraftmobile_new') }}"><i class="fas fa-angle-right"></i> {{ "witchcraft.new.AddRitual"|trans([], "validators") }}</a>
					<a class="dropdown-item" href="{{ path('ap_testimonymobile_new') }}"><i class="fas fa-angle-right"></i> {{ "mobile.testimony.Testify"|trans([], "validators") }}</a>
					<a class="dropdown-item" href="{{ path('ap_newsmobile_new') }}"><i class="fas fa-angle-right"></i> {{ "index.leftMenu.AddNews"|trans([], "validators") }}</a>
				</div>
			</li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
		<div class="card">
			<div class="card-header">
				{% block page_title%}{% endblock %}
			</div>
			<div class="card-body">
				{% for flash_message in app.session.flashBag.get('success') %}
				<div class="alert alert-success">
					{{ flash_message }}
				</div>
				{% endfor %}

				{% block body_content %}{% endblock %}

				{% if is_application() == false %}
					<div class="ads-container">
						{% set ads = advertising(728, 90) %}
						<h3>{{ "generality.page.Advertisement"|trans([], "validators") }}</h3>
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1951906303386196" crossorigin="anonymous"></script>
						<ins class="adsbygoogle ads-responsive" style="display:block;" data-ad-client="ca-pub-1951906303386196" data-ad-slot="8762915348" data-ad-format="auto" data-full-width-responsive="true">
							{% if ads is not empty %}
								<div class="text-center">
									{{ ads.text|raw }}
								</div>
							{% endif %}
						</ins>
						<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

						{% if ads is not empty %}
						<div class="d-none advertising-alternative advertising_image text-center">
							{{ ads.text|raw }}
						</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		{% block sub_content %}{% endblock %}

      <footer class="py-3 px-4 mt-2">
        <i class="far fa-copyright"></i> Activité-Paranormale 2009-{{ 'now'|date("Y") }}
    	<span class="external-link">- <a href="{{ path('Index_Index') }}"><i class="fas fa-desktop" aria-hidden="true"></i> {{ "mobile.main.Desktop"|trans([], "validators") }}</a></span>
		<span class="external-link">- 
		{% if app.request.locale == "fr" %}
			<a href="//forum-fr.activite-paranormale.com/" title="Forum"><i class="fas fa-users"></i> Forum</a>
		{% elseif app.request.locale == "es" %}
			<a href="//forum-es.activite-paranormale.com/" title="Forum"><i class="fas fa-users"></i> Forum</a>
		{% else %}
			<a href="//forum-en.activite-paranormale.com/" title="Forum"><i class="fas fa-users"></i> Forum</a>
		{% endif %}
		</span>
		<span class="external-link">
		 -
		<a href="{{ path('ap_storemobile_index') }}"><i class="fab fa-shopify"></i> {{ "index.mainMenu.Store"|trans([], "validators") }}</a>
		</span>
		<span class="external-link">
		 -
		<a href="{{ path('Index_DownloadApplication') }}"><i class="fa-solid fa-mobile-retro"></i> {{ "index.application.App"|trans([], "validators") }}</a>
		</span>
		-
		<a href="{{ path('ap_pagemobile_page', {page: 'privacyPolicy'}) }}"><i class="fas fa-balance-scale"></i> {{ "index.footerMenu.PrivacyPolicy"|trans([], "validators") }}</a>
		-
		<a href="{{ path('ap_newsmobile_selectlanguage', {'language':'fr'})}}"><img {{ app.request.locale == 'fr' ? 'style="border: 2px #B9C322 solid;"':'' }} class="image_wrapper rounded" src="{{ asset('extended/photo/language/frenchFlagMobile.webp') }}" width="42" alt="fr" /></a>
		<a href="{{ path('ap_newsmobile_selectlanguage', {'language':'en'})}}"><img {{ app.request.locale == 'en' ? 'style="border: 2px #B9C322 solid;"':'' }} class="image_wrapper rounded" src="{{ asset('extended/photo/language/englishFlagMobile.svg') }}" width="42" alt="en" /></a>
		<a href="{{ path('ap_newsmobile_selectlanguage', {'language':'es'})}}"><img {{ app.request.locale == 'es' ? 'style="border: 2px #B9C322 solid;"':'' }} class="image_wrapper rounded" src="{{ asset('extended/photo/language/spanishFlagMobile.webp') }}" width="42" alt="es" /></a>

		{% set partners = partners() %}
		<div class="mt-2">
			{% for partner in partners %}
				<a class="btn social-share btn-sm" style="background-color: {{ partner.color }};" href="{{ partner.link }}" title="{{ partner.title }}" target="_blank"><i class="{{ partner.icon }} fa-xl" style="color: {{ partner.getTextColor() }}"></i></a>
			{% endfor %}
		</div>
	  </footer>
    </div>
	{% block additional_javascript %}{% endblock %}
	{{ encore_entry_script_tags('app_mobile') }}

	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.analytics_gtags() }}
  </body>
</html>