{% extends "content_layout.html.twig" %}

{% block title %}
	{{ 'cartography.index.Cartography'|trans([], "validators") }}

	{% if app.request.attributes.get('theme') != "" %}
		{{ (" - "~app.request.attributes.get('theme')) }}
	{% endif %}
{% endblock %}

{% block h2_title %}
	<h2>
		<span class="float-start"><img src="{{ asset('extended/photo/bio-hazard-icon.png') }}" width="25" class="mt-1" alt="Biohazard"/></span>{{ 'cartography.index.Cartography'|trans([], "validators") }}
		{% if app.request.attributes.get('theme') != "" %}
			{{ (" - "~app.request.attributes.get('theme')) }}
		{% endif %}
	</h2>
{% endblock h2_title %}

{% block header_plus %}
	<link rel="stylesheet" href="{{ asset('extended/js/cartography/leaflet/leaflet.css') }}" />
	<link href='{{ asset('extended/js/cartography/Leaflet.fullscreen/dist/leaflet.fullscreen.css') }}' rel='stylesheet' />
	<link rel="stylesheet" href="{{ asset('extended/css/cartography.css') }}" type="text/css" media="screen" />
	<script src="{{ asset('extended/js/cartography/leaflet/leaflet.js') }}"></script>
	<script src="{{ asset('extended/js/cartography/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>

	<script>
		$(function() {
			var markersArray = new Array();
			var map = L.map('map-canvas').setView([43.009198, -97.106824], 15);

			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			map.addControl(new L.Control.Fullscreen());

			oTable = $('table.doc_datatables').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"ordering": true,
				"lengthChange": true,
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"processing": true,
				"serverSide": true,
				"order": [[ 0, "asc" ]],
				"ajax": {
					"url": "{{ path('Cartography_ListDatatables') }}",
					"type": "GET",
					"data": function(d) {
						d.form = $("#{{ form.vars.id }}").serialize()
					}
				},
				"drawCallback": function(settings) {
					map.eachLayer((layer) => {
						if(layer['_latlng'] != undefined)
							layer.remove();
					});

					for(const data in settings.json.data) {
						let item = settings.json.data[data];

						markersArray[item.id] = L.marker([item.latitud, item.longitud]).addTo(map)
						.bindPopup(item.infoWindow, { maxWidth: 500 });
					}

					document.getElementById("count_document").innerHTML = settings.json.recordsTotal;

					document.querySelectorAll(".location_coordinates").forEach(lc => {
						lc.addEventListener('click', (e) => {
							let id = e.target.getAttribute("id");

							map.setView(markersArray[id].getLatLng(), 15);
							markersArray[id].openPopup();
						});
					});
				},
				"preDrawCallback": function( settings ) {
					document.getElementById("count_document").innerHTML = '<i class="fas fa-spinner fa-pulse fa-fw"></i>';
				}
			});

			document.querySelector("#{{ form.vars.id }}").addEventListener("submit", (e) => {
				e.preventDefault();
				oTable.ajax.reload();
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<h3 id="title_cartography_maps">{{ "cartography.index.SectionIndex"|trans([], "validators") }}</h3>
	<div id="map-canvas" style="width:100%; height:400px"></div>
	<hr>
	{{ "cartography.index.TotalNumber"|trans([], "validators") }}<span class="badge bg-danger" id="count_document"></span>
	<hr>
	{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
	{{ form_start(form, {'method': 'POST', 'attr': {id: form.vars.id, 'class' : 'form-horizontal', novalidate: 'novalidate'}}) }}
		<div class="form-table form-table-4cols form-table-collapse">
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.theme, "cartography.index.Theme"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.theme) }}{{ form_widget(form.theme, {'attr':{'class' : 'form-select'}}) }}</div>
		</div>
		{{ form_rest(form) }}
		<button type="submit" class="btn submitcomment float-end">{{ "cartography.index.Validate"|trans([], "validators") }}</button>
	{{ form_end(form) }}
	<br>
	<hr>
	<br>
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "cartography.index.Picture"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Theme"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Latitud"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Longitud"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "cartography.index.Picture"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Theme"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Latitud"|trans([], "validators") }}</th>
				<th class="label_form">{{ "cartography.index.Longitud"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	{{ "google"|advertisement|raw }}
{% endblock %}