{% extends "admin/admin.html.twig" %}

{% block h2_title %}{{ "file.admin.MediaManagement"|trans([], "validators") }}{% endblock %}

{% block new_entry %}
	<li class="nav-item"><a class="nav-link" href="{{ path('Admin_Index') }}" title="Index"><i class="fas fa-home" aria-hidden="true"></i> Index</a></li>
{% endblock %}

{% block body_main %}
	<select class="form-control selectFolder">
		{% for listFolder in listFolders %}
			<option value="{{ listFolder }}" {{ (listFolder == folder ? "selected" : "") }}>{{ listFolder }}</option>
		{% endfor %}
	</select>
	
	<hr>
	
	<div class="row equal">
		{% for selectedFile in selectedFiles %}
			<div class="col-sm-4 d-flex pb-3">
				<div class="card card-block w-100">
					<img class="card-img-top" src="{{ selectedFile.src }}">
					<div class="card-body">
						<p class="fw-bold text-{{ selectedFile.rootFolder == 'public' ? 'success' : 'danger' }}">{{ selectedFile.rootFolder|upper }}</p>
						{% if selectedFile.res is not empty %}
							<ul>
								{% for res in selectedFile.res %}
									<li><a href="{{ path(res.route, {id: res.id}) }}" target="_blank">{{ res.title }}</a></li>
								{% endfor %}
							</ul>
						{% else %}
							<div class="alert alert-danger">{{ 'file.admin.NotUsed'|trans([], 'validators') }}</div>
						{% endif %}
					</div>
					<div class="card-footer text-center">
						<a href="{{ path('FileManagement_Admin_DeleteFile') }}" class="btn btn-danger {{ selectedFile.res is empty ? '' : 'disabled' }} remove-file" data-path-file="{{ selectedFile.pathFile }}" onclick="if(!confirm('{{ 'admin.show.ReallyWantRemoveDatas'|trans([], 'validators') }}')) return false;"><i class="fas fa-trash-alt fa-fw"></i></a>
						<a href="{{ path('FileManagement_Admin_MoveFile', {rootFolder: (selectedFile.rootFolder == 'public' ? 'private' : 'public')}) }}" class="btn btn-warning move-file" data-path-file="{{ selectedFile.pathFile }}" title="{% if selectedFile.rootFolder == 'public' %}PUBLIC &#8594; PRIVATE{% else %}PRIVATE &#8594; PUBLIC{% endif %}"><i class="fas fa-retweet fa-fw"></i></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<div class="d-flex">
		<div class="mx-auto">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item {{ page == 1 ? 'disabled' : '' }}"><a class="page-link" href="{{ path('FileManagement_Admin_ListFiles') }}?folder={{ folder }}&page=1"><i class="fas fa-angle-double-left"></i></a></li>
					<li class="page-item {{ page == 1 ? 'disabled' : '' }}"><a class="page-link" href="{{ path('FileManagement_Admin_ListFiles') }}?folder={{ folder }}&page={{ page - 1 }}"><i class="fas fa-angle-left"></i></a></li>
					<li class="page-ite mdisabled"><span class="page-link">{{ page }}</span></li>
					<li class="page-item {{ page == totalPages ? 'disabled' : '' }}"><a class="page-link" href="{{ path('FileManagement_Admin_ListFiles') }}?folder={{ folder }}&page={{ page + 1 }}"><i class="fas fa-angle-right"></i></a></li>
					<li class="page-item {{ page == totalPages ? 'disabled' : '' }}"><a class="page-link" href="{{ path('FileManagement_Admin_ListFiles') }}?folder={{ folder }}&page={{ totalPages }}"><i class="fas fa-angle-double-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}

{% block js_edit %}
	<script>
		var file = null;

		$(function ()
		{
			$("select.selectFolder").change(function() {
				window.location.href = "?page=1&folder=" + $(this).val();
			});
			
			$(".remove-file").click(function(e) {
				e.preventDefault();
				window.location.href = $(this).attr("href") + "?pathFile=" + $(this).data("pathFile") + "&page={{ page }}&folder={{ folder }}";
			});
			
			$(".move-file").click(function(e) {
				e.preventDefault();
				window.location.href = $(this).attr("href") + "?pathFile=" + $(this).data("pathFile") + "&page={{ page }}&folder={{ folder }}";
			});
		});
	</script>
{% endblock %}