{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Cartography"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Cartography_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Cartography_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Cartography_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Cartography_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block archive_admin_route %}{{ path('Cartography_Admin_Archive', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Latitud"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.coordXMap }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Longitud"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.coordYMap }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.LinkGMaps"|trans([], "validators") }}</div>
	<div class="form-table-cell"><a href="{{ entity.linkGMaps }}" alt="">{{ entity.linkGMaps|urlclean }}</a></div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Picture"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.photo|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"}, null, true, entity.archive, null, true, entity.archive)|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Theme"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.theme.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.Licence"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.licence }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.PseudoUsed"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.PseudoUsed }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "cartography.admin.WritingDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.writingDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "tag.admin.Tags"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ get_tags(entity, true, false, true) }}</div>
	
	<a href="{{ path('Cartography_Show', { 'id' : entity.id, 'title_slug' : entity.urlSlug }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Cartography_Admin_Internationalization", "showRoute": "Cartography_Admin_Show", "editRoute": "Cartography_Admin_Edit"})) }}

	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}
		
		{% if entity.archive == false %}
			{{ macro_index.twitter_form(entity) }}
			{{ macro_index.blogger_form(entity, "news") }}
			{{ macro_index.mastodon_form(entity) }}
			{{ macro_index.tumblr_form(entity) }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.facebook_form_js() }}
{% endblock %}