{% extends "content_layout.html.twig" %}

{% block title %}{{ "theme.index.Theme"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/mosu-burn-icon.png') }}" width="25" class="mt-1" alt="Angry lemon"></span>{{ "theme.index.Theme"|trans([], "validators") }}</h2>{% endblock h2_title %}
{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/theme.jpg') }}" width="550" alt="Girl Zombie"></p>
	<hr>
	{% for ST in parentTheme %}
		<h3><a href="#">{{ ST.title }}</a></h3>
		<div>
			<br>
			<table class="table table-bordered">
			<tr class="trGene">
				<th class="label_form">{{ "theme.index.Theme"|trans([], "validators") }}</th>
				<th class="label_form">{{ "theme.index.Read"|trans([], "validators") }}</th>
			</tr>
			{% for T in theme %}
				{% if T.parentTheme.title == ST.title %}
					<tr>
						<td class="td_form_table w-75">{{ T.title }}</td>
						<td class="tdGene"><a href="{{ path('Theme_Show', {'id' : T.id, 'theme' : T.title })}}" >{{ "theme.index.Read"|trans([], "validators") }}</a></td>
					</tr>
				{% endif %}
			{% endfor %}
			</table>
		</div>
		<br>
	{% endfor %}
	<br>
	{{ "google"|advertisement|raw }}
{% endblock %}