{% extends "content_layout.html.twig" %}

{% block title %}{{ "theme.read.Theme"|trans([], "validators") }} - {{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/dildo-icon.svg') }}" width="27" class="mt-1" alt="Skull"/></span>{{ "theme.read.Theme"|trans([], "validators") }} - {{ entity.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ entity.photo|imgsize(550, entity.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	<hr>
	{{ entity.text|raw }}
	{% if entity.pdfTheme is not empty and file_exists(entity.getAssetImagePath() ~ entity.pdfTheme) %}
		<form action="{{ path('Theme_Save', {'id' : entity.id, 'theme' : entity.title|replace({'/': '-'}) })}}" name="themeChoice" class="text-center">
			<input class="submitcomment btn" type="submit" name="Search" value="{{ "generality.pdf.SavePrint"|trans([], "validators") }}" title="Search" /> 
		</form>
		<hr class="hr2">
	{% endif %}

	{% set countTheme = publications|length %}

	{% set i = 0 %}
	
	{% if countTheme > 1 %}
	<div id="accordion">
	{% endif %}
		{% for key, publication in publications %}
			{% if countTheme > 1 %}
			<h3 class="cursor-pointer mt-2" data-toggle="collapse" data-target="#collapse_theme_{{ i }}" aria-expanded="false" aria-controls="collapse_theme_{{ i }}">{{ key }}</h3>
			<div id="collapse_theme_{{ i }}" class="collapse" data-parent="#accordion">
				<br>
			{% endif %}
				<table class="table table-bordered">
					{% for title, datas in publication %}
						<tr>
							<td class="td_form_table">{{ title }}</td>
							<td><a href="{{ datas.path }}">{{ datas.number }}</a></td>
						</tr>
					{% endfor %}
				</table>
			{% if countTheme > 1 %}
			</div>
			{% endif %}
			{% set i = i + 1 %}
		{% endfor %}
	{% if countTheme > 1 %}
	</div>
	{% endif %}

	{% if entity.source is not empty %}
		<br>
		<h3>{{ "theme.index.Sources"|trans([], "validators") }}</h3>
		{{ source_document(entity.source, entity.language) }}
	{% endif %}
	
	<hr class="hr2"/>
	<p>
	{% if entity.parentTheme is not empty %}<a href="{{ path('Theme_Show', {theme: entity.parentTheme.title, id: entity.parentTheme.id}) }}">{{ entity.parentTheme.title }}</a> - {% endif %}<img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" class="align-middle" alt="{{ entity.language.abbreviation }}" width="20" height="13" />
	</p>
	<br>
	{{ "google"|advertisement|raw }}
{% endblock %}