{% extends "content_layout.html.twig" %}

{% block title %}{{ "history.show.History"|trans([], "validators") }}{% endblock %}

{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="mt-1" alt="Robot"/></span>{{ "history.show.History"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var table = toDatatables("{{ app.request.locale }}", "{{ asset('extended/js/DataTables/language') }}");
			table.order( [ 0, 'desc' ] ).draw();
		});

		function showHistoryModal(e) {
			$('#displayHistory').modal('show');
			document.querySelector('#displayHistory .modal-body .history-details').textContent = e.currentTarget.dataset.diff;
			e.preventDefault();
		}
	</script>
	
	<style>
	.pl-md {
		color: #b31d28;
		background-color: #ffeef0;
	}
	.pl-mi1 {
		color: #22863a;
		background-color: #f0fff4;
	}
	.pl-mdr {
		font-weight: 700;
		color: #6f42c1;
	}
	</style>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<div class="modal black_modal fade" tabindex="-1" role="dialog" id="displayHistory">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header text-center">
			<h4 class="modal-title w-100">{{ "history.show.History"|trans([], "validators") }}</h4>
		  </div>
		  <div class="modal-body text-prewrap">
			<div class="alert alert-success fw-bold mb-0 w-40 float-end">+++ New</div>
			<div class="alert alert-danger fw-bold mb-0 w-40 float-start">--- Original</div>
			<div class="clearfix"></div>
			<hr>
			<div class="history-details"></div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
		  </div>
		</div>
	  </div>
	</div>
	
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/historic.jpg') }}" width="550" alt="Heaven's gate apocalypse" /></p>
	<hr />
	<div class="alert alert-info">
		<i class="fas fa-info-circle"></i> {{ "history.show.RevisionHistory"|trans([], "validators") }} « <i><a href="{{ path }}" class="alert-link fw-bold">{{ titleEntity }}</a></i> ».
	</div>
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "history.show.Date"|trans([], "validators") }}</th>
				<th class="label_form">{{ "history.show.Author"|trans([], "validators") }}</th>
				<th class="label_form">{{ "history.show.Diff"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				<tr class="trGene">
					<td class="tdGene">{{ entity.modificationDateTime|dodate(true, app.request.locale) }}</td>
					<td class="tdGene"><b>{{ entity.user }}</b><br>(<i style="word-break: break-all;">{{ entity.ipAddress }}</i>)</td>
					<td class="tdGene">{% if entity.diffText is not empty %}<button onclick="showHistoryModal(event);" class="btn submitcomment show_history_link text-start text-dark fw-bold" data-diff="{{ format_history(entity.diffText|join('<hr>')) }}"><i class="fas fa-history"></i></button>{% endif %}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "history.show.Date"|trans([], "validators") }}</th>
				<th class="label_form">{{ "history.show.Author"|trans([], "validators") }}</th>
				<th class="label_form">{{ "history.show.Diff"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}