{% extends "content_layout.html.twig" %}

{% block title %}{{ "user.checkEmail.CheckYourEmails"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/elite-icon.png') }}" width="25" class="mt-1" alt="Elite"></span>{{ "user.checkEmail.CheckYourEmails"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ "reset-password.jpg"|imgsize(550, 'extended/photo/', true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	<p>
	{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle')|nl2br }}
	</p>
	
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}