{% extends "content_layout.html.twig" %}

{% block title %}{{ 'user.index.PasswordAlreadyRequested'|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/elite-icon.png') }}" width="25" class="mt-1" alt="Elite"/></span>{{ 'user.index.PasswordAlreadyRequested'|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image">{{ "password-already-requested.jpg"|imgsize(550, 'extended/photo/', true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
	
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}
