<script>
window.addEventListener("load", e => {
	var image = document.querySelector(".container-store-{{ id }} img");
	if(!(image.complete && image.naturalHeight !== 0)) {
		image.setAttribute("src", "{{ asset('extended/photo/store-image-not-found.jpg') }}");
		document.querySelector(".container-store-{{ id }} a").insertAdjacentHTML("beforeend", '<div id="text-{{ id }}" class="text-center text-white text-danger" style="position: absolute; top: 50%; text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black; left: 50%;transform: translate(-50%, -50%);"><b>{{ title }}</b></div>');
	}
});
</script>

<style>.container-store-{{ id }} a img { width: 100%; }</style>

<div class="text-center">
	<div class="d-inline-block">
		<div class="store_embedded_image">
			<div class="container-store-{{ id }}" style="position: relative; display: grid">{{ embeddedCode|raw }}</div>
		</div>
	</div>
</div>