{% extends "content_layout.html.twig" %}

{% block title %}
	{{ entity.title }}
{% endblock %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/news.png') }}" width="25" class="mt-1" alt="News" /></span> {{ entity.title }}</h2>
{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/usefullink.jpg') }}" alt="Hacker" /></p>
	<hr>
	<script src="{{ asset('extended/js/github/buttons.js') }}"></script>

	<!-- https://github.com/ntkme/github-buttons -->
	<div class="d-flex justify-content-between flex-wrap">
		<a class="github-button" href="https://github.com/sponsors/Wakonda" data-color-scheme="no-preference: light; light: dark_high_contrast; dark: light;" data-icon="octicon-heart" data-size="large" aria-label="Sponsor @Wakonda on GitHub">Sponsor</a>
		<a class="github-button" href="https://github.com/Wakonda/activite-paranormale/subscription" data-color-scheme="no-preference: light; light: dark_high_contrast; dark: light;" data-icon="octicon-eye" data-size="large" aria-label="Watch Wakonda/activite-paranormale on GitHub">Watch</a>
		<a class="github-button" href="https://github.com/Wakonda/activite-paranormale" data-color-scheme="no-preference: light; light: dark_high_contrast; dark: light;" data-icon="octicon-star" data-size="large" aria-label="Star Wakonda/activite-paranormale on GitHub">Star</a>
		<a class="github-button" href="https://github.com/Wakonda/activite-paranormale/fork" data-color-scheme="no-preference: light; light: dark_high_contrast; dark: light;" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork Wakonda/activite-paranormale on GitHub">Fork</a>
		<a class="github-button" href="https://github.com/Wakonda" data-color-scheme="no-preference: light; light: dark_high_contrast; dark: light;" data-size="large" aria-label="Follow @Wakonda on GitHub">Follow @Wakonda</a>
	</div>
	<hr>
	{% if entity is not empty %}
		{{ entity.text|raw }}
	{% endif %}
	
	<br>

	{{ "google"|advertisement|raw }}
{% endblock %}

{% block sub_content %}
	<div class="card main_column_section mt-3">
		<div class="card-header">
			<h2 id="tutorial"><span class="float-start"><img src="{{ asset('extended/photo/usefullink-logo.svg') }}" width="25" class="mt-1" alt="Comments"/></span>{{ "usefullink.index.TipsAndTricks"|trans([], "validators") }}{% if tag is not empty %} - {{ tag }}{% endif %}</h2>
		</div>
		<div class="card-body">
			<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/woman-computer.webp') }}" alt="Woman on computer" width="333" /></p>
			<br>
			{% if tag is not empty %}
				<div class="text-center mb-3">
					<a href="{{ path('UsefulLink_Index') }}/#tutorial" class="btn btn-danger text-white"><i class="fa-solid fa-trash"></i> {{ "usefullink.index.ShowAll"|trans([], "validators") }}</a>
				</div>
			{% endif %}
			<table class="table table-bordered">
				<thead>
					<tr class="trGene">
						<th class="label_form">{{ "usefullink.index.Title"|trans([], "validators") }}</th>
						<th class="label_form">{{ "usefullink.index.Tags"|trans([], "validators") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for data in pagination.items %}
						<tr>
							<td class="td_form_table w-75"><a href="{{ path ('UsefulLink_Read', {id: data.id}) }}">{{ data.title }}</a></td>
							<td class="tdGene">{% if data.tags is not empty %}<i class="fas fa-tags"></i> {% for tag in json_decode(data.tags) %}<a href="{{ path('UsefulLink_Index', {tag: tag.value}) }}/#tutorial">{{ tag.value }}</a>{% if loop.last == false %}, {% endif %}{% endfor %}{% endif %}</td>
						</tr>
						{% if loop.last != false %}
							<hr>
						{% endif %}
					{% else %}
						<div class="alert alert-danger fst-italic text-center">{{ "usefullink.index.NoMatchingRecordsFound"|trans([], "validators") }}</div>
						<br>
					{% endfor %}
				</tbody>
			</table>
			
			<div class="mt-3 justify-content-center">
				{{ knp_pagination_render(pagination) }}
			</div>
		</div>
	</div>
{% endblock %}