{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/shanks-icon.png') }}" width="25" class="mt-1" alt="Abduction"></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<link rel="stylesheet" href="{{ asset('extended/js/tinymce/js/tinymce/prism/prism-okaidia.min.css') }}">
	<link rel="stylesheet" href="{{ asset('extended/js/tinymce/js/tinymce/prism/prism.css') }}">
	<link rel="stylesheet" href="{{ asset('extended/js/tinymce/js/tinymce/prism/prism-line-numbers.min.css') }}">
	<link rel="stylesheet" href="{{ asset('extended/js/tinymce/js/tinymce/prism/prism-toolbar.min.css') }}">
	<script src="{{ asset('extended/js/tinymce/js/tinymce/prism/prism.js') }}"></script>
	<script src="{{ asset('extended/js/tinymce/js/tinymce/prism/prism-line-numbers.min.js') }}"></script>
	<script src="{{ asset('extended/js/tinymce/js/tinymce/prism/prism-toolbar.js') }}"></script>
	<script src="{{ asset('extended/js/tinymce/js/tinymce/prism/prism-copy-to-clipboard.min.js') }}"></script>
{% endblock %}

{% block APBlog_body %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { entity: entity } %}

	{% if entity.photoIllustrationFilename is not empty %}
		<p class="image mb-2">{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), true, { class: 'mx-auto d-block img-fluid', alt: entity.title }, entity.photoIllustrationCaption)|raw }}</p>
	{% endif %}

	<div>
		{{ entity.text|raw }}
	</div>

	<br>

	{% set sources = source_document(entity.links, entity.language) %}
	{% if sources is not empty %}
		<h3><i class="fas fa-link"></i> {{ "usefullink.index.Sources"|trans([], "validators") }}</h3>
		{{ sources|raw }}
	{% endif %}

	<hr class="hr2">
	<p>
		{% if entity.usefullinkTags is not empty %}<i class="fas fa-dragon"></i> {% for tag in entity.usefullinkTags %}<a href="{{ path('UsefulLink_Index', {tag: tag.title}) }}/#tutorial">{{ tag.title }}</a>{% if loop.last == false %}, {% endif %}{% endfor %}{% endif %}

		{% if entity.licence is not empty %} - <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : entity.licence.id }) }}" id="news_licence_link"><img class="align-middle" src="{{ asset('extended/photo/licence/'~entity.licence.logo) }}" alt="{{ entity.licence.title }}" /></a>{% endif %}
	</p>

	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}