{% extends "content_layout.html.twig" %}

{% block title %}{{ "directorySEO.index.DirectorySEO"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bonejangles-icon.png') }}" width="25" class="mt-1" alt="Killer"/></span>{{ "directorySEO.index.DirectorySEO"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>

	<script>
		$(function ()
		{
			toDatatables("{{ app.request.locale }}", "{{ asset('extended/js/DataTables/language') }}");
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/webseodirectory-show.webp') }}" alt="Demoniac girl water" width="550" /></p>
	<hr>
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th>{{ "directorySEO.index.Title"|trans([], "validators") }}</th>
				<th>{{ "directorySEO.index.ReturnLink"|trans([], "validators") }}</th>
				<th>{{ "directorySEO.index.Language"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				<tr class="trGene">
					<td class='tdGene'><a href="{{ path('WebDirectorySEO_Show', {id: entity.id}) }}">{{ entity.title }}</a></td>
					<td class='tdGene'>{{ entity.returnLink|raw }}</td>
					<td class='tdGene'><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></td></tr>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>{{ "directorySEO.index.Title"|trans([], "validators") }}</th>
				<th>{{ "directorySEO.index.ReturnLink"|trans([], "validators") }}</th>
				<th>{{ "directorySEO.index.Language"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}