{% extends "content_layout.html.twig" %}

{% block title %}{{ "directorySEO.index.DirectorySEO"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bonejangles-icon.png') }}" width="25" class="mt-1" alt="Killer"/></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<h3>{{ "directorySEO.index.ReturnLink"|trans([], "validators") }}</h3>
	<div class="text-center">{{ entity.returnLink|raw }}</div>
	<br>
	<h3>{{ "directorySEO.index.Text"|trans([], "validators") }}</h3>
	<div>{{ entity.text|raw }}</div>
	<br>
	<h3>{{ "directorySEO.index.Link"|trans([], "validators") }}</h3>
	<a href="{{ entity.link }}">{{ entity.link }}</a>
	<br>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}