{% extends "index/Generic/waiting.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="mt-1" alt="Robot"/></span>{{ entity.title }}</h2>{% endblock h2_title %}
{% block meta_description %}{% endblock %}

{% block content_waiting %}
	<p class="image">{{ entity.photo|imgsize(550, entity.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
	<br>
	<div>{{ entity.text|raw }}</div>
	<br />
	<hr class="hr2">
	<p>{% if entity.pseudoUsed is not empty %}<span>{{ entity.pseudoUsed }}</span> - {% endif %}<span><a href="{{ path('Witchcraft_TabGrimoire', { 'surtheme': entity.surTheme.parentTheme.slug, 'id': entity.surTheme.id, 'theme' : entity.surTheme.slug })}}">{{ entity.surTheme.title }}</a></span> - <span>{{ entity.writingDate|dodate(false, app.request.locale) }}</span></p>
{% endblock %}

{% block button_validate %}<input type="submit" value="{{ 'witchcraft.waiting.Validate'|trans([], 'validators') }}" class="submitcomment btn" onclick="window.location='{{ path('Witchcraft_Validate', {'id' : entity.id}) }}';" />{% endblock %}
{% block button_edit %}<input type="submit" value="{{ 'witchcraft.waiting.Edit'|trans([], 'validators') }}" class="submitcomment btn" onclick="window.location='{{ path('Witchcraft_Edit', {'id' : entity.id}) }}';" />{% endblock %}