{% if entity is not empty %}
	<h3>{{ "index.main.Witchcraft"|trans([], "validators") }}</h3>

	<div class="card mb-3">
	  <div class="row g-0">
		<div class="col-md-4 align-self-center">
		  <img src="{{ asset(entity.getAssetImagePath()~"/"~entity.photoIllustrationFilename) }}" class="card-img" alt="" loading="lazy">
		</div>
		<div class="col-md-8 content-card">
		  <div class="card-body text-center">
			<h5 class="card-title"><a href="{{ url('Witchcraft_ReadGrimoire', {surtheme: (entity.surTheme is not empty ? entity.surTheme.slug : null), id: entity.id, title_slug: entity.urlSlug}) }}">{{ entity.title }}</a></h5>
			<hr>
			<p class="card-text text-center">{% if entity.pseudoUsed is not empty %}<i class="fas fa-user"></i> <span>{{ entity.pseudoUsed }}</span> - {% endif %}{% if entity.surTheme.parentTheme is not empty %}<i class="fas fa-dragon"></i> <a href="{{ path('Witchcraft_TabGrimoire', { 'surtheme': entity.surTheme.parentTheme.slug, 'id': entity.surTheme.id, 'theme' : entity.surTheme.slug })}}">{{ entity.surTheme.title }}</a>{% endif%}</p>
			<div class="card-footer text-white-50"><small class="text-white-50"><i class="fas fa-calendar-alt"></i> {{ entity.writingDate|dodate(false, app.request.locale) }}</small></div>
		  </div>
		</div>
	  </div>
	</div>
{% endif %}