{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.MagicBook"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Grimoire_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Grimoire_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Grimoire_Admin_Index') }}{% endblock %}
{% block archive_admin_route %}{{ path('Grimoire_Admin_Archive', { 'id': entity.id }) }}{% endblock %}
{% block delete_admin_route %}{{ path('Grimoire_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.Theme"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.surTheme is not empty %}{{ entity.surTheme.title }} ({{ entity.surTheme.parentTheme.title }}){% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.WritingDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.writingDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.Source"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source, entity.language) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "grimoire.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"}, null, true, entity.archive)|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	{% if entity.surTheme is not empty %}
		<a href="{{ path('Witchcraft_ReadGrimoire', { surtheme: entity.surTheme.title, id: entity.id, title_slug: entity.title }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
	{% endif %}
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Grimoire_Admin_Internationalization", "showRoute": "Grimoire_Admin_Show", "editRoute": "Grimoire_Admin_Edit"})) }}

	{% if entity.state.isStateDisplayed() %}
		{% if entity.archive == false %}
			{% import "index/macro/macro_index.html.twig" as macro_index %}

			{% if entity.surTheme is not empty %}
				{{ macro_index.blogger_form(entity, entity.surTheme.parentTheme.internationalName, entity.surTheme.title) }}
				{{ macro_index.twitter_form(entity) }}
			{% endif %}
			{{ macro_index.shopify_form(entity, "magic", entity.surTheme.title) }}
		{% endif %}
	{% endif %}

	{% if entity.state.isWaiting() %}
		<a href="{{ path('Grimoire_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Validate' }) }}" alt="Validate" class="btn btn-success">{{ "grimoire.admin.Validate"|trans([], "validators") }}</a>
		<a href="{{ path('Grimoire_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Refused' }) }}" alt="Refuse" class="btn btn-danger">{{ "grimoire.admin.Refuse"|trans([], "validators") }}</a>
	{% endif %}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
{% endblock %}