{% extends "content_layout.html.twig" %}

{% block title %}{{ "testimony.addFile.NewTestimony"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/yellow_monster.png') }}" width="25" class="mt-1" alt="Anger"></span>{{ "testimony.addFile.NewTestimony"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
<script>
	$(function()
	{
		$('#submit').click(function()
		{
			$('#form_testimony').attr("action", "{{ path('Testimony_Postcreate') }}");
			$('#form_testimony').submit();
		});
		
		$('.add_file_testimony').click(function()
		{
			window.location = "{{ path('Testimony_Postcreate', {'id':entity.id}) }}";
		});

		$("div#tab_resources a").click(function()
		{
			$("div#tab_resources a").removeClass("active");
			$(this).addClass("active");
			
			$("div#tab_content > div").hide();
			$("div#tab_content div#" + $(this).data('id')).show();
		});
	});
</script>
{% endblock %}

{% block APBlog_body %}
	<div id="tab_resources">
		<a data-id="add_file_section" class="btn active">{{ "testimony.addFile.AddAFile"|trans([], "validators") }}</a>
		<a id="add_drawing_section_button" data-id="add_drawing_section" class="btn float-end">{{ "testimony.addFile.Draw"|trans([], "validators") }}</a>
	</div>
	<div id="tab_content">
		<div id="add_file_section">
			{{ render(controller("App\\Controller\\FileManagementController::indexAction", { 'idClassName' : entity.id, 'className': 'Testimony' })) }}
		</div>
		<div id="add_drawing_section">
			{{ render(controller("App\\Controller\\FileManagementController::drawingPaintAction", { 'idClassName' : entity.id, 'className': 'Testimony' })) }}
		</div>
	</div>
	
	<div class="text-end mt-3">
		<button class="submitcomment add_file_testimony btn" type="button">{{ "testimony.addFile.Finish"|trans([], "validators") }}</button>
	</div>
	
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}