{% extends "content_layout.html.twig" %}

{% block title %}{{ "testimony.new.NewTestimony"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/yellow_monster.png') }}" width="25" class="mt-1" alt="Anger"/></span>{{ "testimony.new.NewTestimony"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.tinymce_init_js() }}
	{{ macro_index.tinymce_js(form.text.vars.id) }}
	{{ macro_index.select2_autocomplete() }}
	
	<script>
		$(function() {
			document.getElementById('help_licence_link').addEventListener("click", (e) => {
				new bootstrap.Modal(document.getElementById('showColorboxLicencesModal')).show();
				e.preventDefault();
			});
		});
		
		{% if form.isAnonymous is defined %}
		document.addEventListener('DOMContentLoaded', function() {
			function publishAnonymously(value)
			{
				if(value == 1)
					document.querySelector("div#anonymously_message").innerHTML = "<div class='alert alert-info'><i class='fas fa-info-circle'></i> {{ 'testimony.new.AnonymousMessage'|trans([], 'validators') }}</div>";
				else
					document.querySelector("div#anonymously_message").innerHTML = "";
			}
			
			document.querySelector("select#{{ form.isAnonymous.vars.id }}").addEventListener("change", (e) => {
				publishAnonymously(e.target.value);
			});
			
			publishAnonymously(document.querySelector("select#{{ form.isAnonymous.vars.id }}").value);
		});
		{% endif %}
	</script>
{% endblock %}

{% block APBlog_body %}
	<div class="alert alert-info"><i class="fas fa-ghost"></i> {{ "testimony.new.Introduction"|trans([], "validators") }}</div>

	{% import "testimony/TestimonyAdmin/macro_testimony.html.twig" as macro_testimony %}
	{{ macro_testimony.location_selector(form) }}

	{% include 'index/Licence/showColorboxModal.html.twig' %}
	{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}new-testimony.jpg" alt="Dream" width="550" /></p>
	<br>
	<hr class="hr2">
	{{ form_start(form, {'action': path('Testimony_Create'), 'attr':{'class' : 'form-horizontal', novalidate: 'novalidate'}}) }}
		<div class="form-table form-table-4cols form-table-collapse">
			{#<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "testimony.new.Title"|trans([], "validators") ) }}</div>
			<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, {'attr':{'class' : 'form-control'}}) }}</div>#}
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "testimony.new.Testimony"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.text) }}{{ form_widget(form.text) }}</div>
			{#<div class="form-table-cell form-table-cell-head">{{ form_label(form.theme, "testimony.new.Theme"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.theme) }}{{ form_widget(form.theme, {'attr':{'class' : 'form-select'}}) }}</div>#}
			
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.sightingDate, "testimony.new.SightingDate"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.sightingDate) }}{{ form_widget(form.sightingDate) }}</div>
			
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.country, "testimony.new.Country"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.country) }}{{ form_widget(form.country, { 'attr': {'class': 'form-select'}}) }}</div>
			
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.location_selector, "testimony.new.Location"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.location_selector) }}{{ form_widget(form.location_selector) }}</div>
			{% if app.user is null %}
				<div class="form-table-cell form-table-cell-head">{{ form_label(form.pseudoUsed, "testimony.new.Pseudo"|trans([], "validators")) }}</div>
				<div class="form-table-cell">{{ form_errors(form.pseudoUsed) }}{{ form_widget(form.pseudoUsed, {'attr':{'class' : 'form-control'}}) }}</div>
			{% else %}
				<div class="form-table-cell form-table-cell-head">{{ form_label(form.isAnonymous, "testimony.new.IsAnonymous"|trans([], "validators")) }}</div>
				<div class="form-table-cell">
					{{ form_errors(form.isAnonymous) }}{{ form_widget(form.isAnonymous, {'attr':{'class' : 'form-control'}}) }}
					<div id="anonymously_message"></div>
				</div>
			{% endif %}
			{#<div class="form-table-cell form-table-cell-head">{{ form_label(form.licence, "testimony.new.Licence"|trans([], "validators")) }}</div>
			<div class="form-table-cell">
				{{ form_errors(form.licence) }}{{ form_widget(form.licence, {'attr':{'class' : 'form-control'}}) }}
				<p><a href="" id="help_licence_link">{{ "licence.showColorbox.WhatLicensesChoose"|trans([], "validators") }}</a></p>
			</div>#}
			{#
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.tags, "tag.admin.Tags"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.tags) }}{{ form_widget(form.tags, { 'attr': {'class': 'form-control', 'value': get_tags(entity, false) } }) }}</div>
			#}

			{% if app.user is null %}
				<div class="form-table-cell form-table-cell-head">{{ form_label(form.emailAuthor, "testimony.admin.EmailAuthor"|trans([], "validators")) }}</div>
				<div class="form-table-cell">
					<div class="alert alert-warning"><i class="fas fa-at"></i> {{ "testimony.new.EmailConfidential"|trans([], "validators") }}</div>
					{{ form_errors(form.emailAuthor) }}
					{{ form_widget(form.emailAuthor, { 'attr': {'class': 'form-control', 'value': get_tags(entity, false) } }) }}
				</div>
			{% endif %}
		</div>

		<div class="clearfix">
			<div class="mt-3">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					{{ form_widget(form.draft, { 'label': "testimony.new.Draft"|trans([], "validators") }) }}
					{{ form_widget(form.preview, { 'label': "testimony.new.Preview"|trans([], "validators") }) }}
				{% endif %}
				<div class="float-end">
					{{ form_widget(form.nextStep, { 'label': "testimony.new.NextStep"|trans([], "validators") }) }}
					{{ form_widget(form.save, { 'label': "testimony.addFile.Finish"|trans([], "validators") }) }}
				</div>
			</div>
		</div>
		{{ form_rest(form) }}
		{{ form_errors(form) }}
	{{ form_end(form) }}
	
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}