{% extends "content_layout.html.twig" %}

{% block title %}{{ "testimony.validate.Validation"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/nibble.svg') }}" width="25" class="mt-1" alt="Monster vampire"/></span>{{ "testimony.validate.Validation"|trans([], "validators") }}</h2>{% endblock h2_title %}
{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/validate-testimony.jpg') }}" alt="Devil girl" width="550" height="412" /></p>
	<hr>
	<div class="alert alert-success">{{ "testimony.validate.ThankForYourParticipation"|trans([], "validators") }}</div>
	<p>{{ "testimony.validate.ThankForYourParticipationText"|trans([], "validators") }}</p>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}