{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.President"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('President_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('President_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('President_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('President_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block restore_admin_route%}{{ path('President_Admin_Restore', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"}, null, true)|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.Logo"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.logo|imgsize(50, entity.getAssetImagePath()~'/', true, {"class": "mx-auto d-block img-fluid"})|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.Licence"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.licence }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.PseudoUsed"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.PseudoUsed }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.PublicationDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.NumberOfDays"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.numberOfDays }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "president.admin.WritingDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.writingDate|dodate(false, app.request.locale) }}</div>
	
	<a href="{{ path('President_Archive_Read', { 'id' : entity.id }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "President_Admin_Internationalization", "showRoute": "President_Admin_Show", "editRoute": "President_Admin_Edit"})) }}
	
	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}

		{{ macro_index.blogger_form(entity, "news") }}
		{{ macro_index.twitter_form(entity) }}
		{{ macro_index.facebook_form(entity) }}
		{{ macro_index.vk_form(entity) }}
		{{ macro_index.mastodon_form(entity) }}
		{{ macro_index.diaspora_form(entity) }}
		{{ macro_index.bluesky_form(entity) }}
	{% endif %}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.facebook_form_js() }}
	{{ macro_index.vk_form_js() }}
	{{ macro_index.diaspora_form_js() }}
	{{ macro_index.bluesky_form_js() }}
{% endblock %}