{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "usefullinktags.admin.UsefullinkTags"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('UsefullinkTags_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('UsefullinkTags_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('UsefullinkTags_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('UsefullinkTags_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "usefullinktags.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>
{% endblock %}