{% macro updateListForm(form) %}
	$("#{{ form.language.vars.id }}").change(function()
	{
		var currentState = $("#{{form.vars['id'] }}_state").find('option:selected').data('intl');

		$.ajax({
			type: "POST",
			url: "{{ path('WebDirectory_Admin_ReloadListsByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var licence = data.licence;
				$("#{{ form.licence.vars.id }} option").remove();
				
				$("#{{ form.licence.vars.id }}").append('<option value=""></option>');
				
				$.each(licence, function(index, element)
				{
					$("#{{ form.licence.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
				
				{% if form.vars.value.licence.id is defined %}
					$("#{{ form.licence.vars.id }}").val("{{ form.vars.value.licence.id }}");
				{% endif %}
				var state = data.state;

				$("#{{form.vars['id'] }}_state option").remove();
				$.each(state, function(index, element)
				{
					$("#{{form.vars['id'] }}_state").append('<option value="'+ element.id +'" data-intl="'+ element.intl +'"' + (currentState == element.intl ? "selected" : "") + '>'+ element.title +'</option>');
				});
			}
		});
	});
	
	$("#{{ form.language.vars.id }}").change();
{% endmacro %}