<div class="form-table-cell form-table-cell-head">{{ form_label(form.username, "user.admin.Username"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.username) }}{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.email, "user.admin.Email"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.email) }}{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.civility, "user.admin.Civility"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.civility) }}{{ form_widget(form.civility, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.country, "user.admin.Country"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.country) }}{{ form_widget(form.country, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.birthDate, "user.admin.BirthDate"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.birthDate) }}{{ form_widget(form.birthDate, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.avatar, "user.admin.Avatar"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.avatar) }}{{ form_widget(form.avatar) }}
	<br>
	{{ form_widget(form.photo_selector) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.roles, "user.admin.Role"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.roles) }}{{ form_widget(form.roles, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.city, "user.admin.City"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.city) }}{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.siteWeb, "user.admin.WebSite"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.siteWeb) }}{{ form_widget(form.siteWeb, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.blog, "user.admin.Blog"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.blog) }}{{ form_widget(form.blog, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.presentation, "user.admin.Presentation"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.presentation) }}{{ form_widget(form.presentation, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.paypal) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.paypal) }}
	{{ form_widget(form.paypal, {'attr':{'class' : 'form-control'}}) }}
</div>
<div class="form-table-cell form-table-cell-head">{{ form_label(form.bitcoin) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.bitcoin) }}
	{{ form_widget(form.bitcoin, {'attr':{'class' : 'form-control'}}) }}
</div>
<div class="form-table-cell form-table-cell-head">{{ form_label(form.ethereum) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.ethereum) }}
	{{ form_widget(form.ethereum, {'attr':{'class' : 'form-control'}}) }}
</div>
<div class="form-table-cell form-table-cell-head">{{ form_label(form.dogecoin) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.dogecoin) }}
	{{ form_widget(form.dogecoin, {'attr':{'class' : 'form-control'}}) }}
</div>
<div class="form-table-cell form-table-cell-head">{{ form_label(form.cardano) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.cardano) }}
	{{ form_widget(form.cardano, {'attr':{'class' : 'form-control'}}) }}
</div>
<div class="form-table-cell form-table-cell-head">{{ form_label(form.zilliqa) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.zilliqa) }}
	{{ form_widget(form.zilliqa, {'attr':{'class' : 'form-control'}}) }}
</div>