{% extends "content_layout.html.twig" %}

{% block title %}{{ "user.contributionUserComments.Comment"|trans([], "validators") }} - {{ user.username }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/contribution_user_icon.png') }}" width="25" class="mt-1" alt="Alien"/></span>{{ "user.contributionUserComments.Comment"|trans([], "validators") }} - {{ user.username }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			oTable = $('table.doc_datatables').DataTable( {
				"oLanguage": {
					"sUrl": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"bFilter": true,
				"bInfo": true,
				"bLengthChange": true,
				"aaSorting": [[ 0, "desc" ]],
				"sPaginationType": "full_numbers",
				"iDisplayLength": {{ total_line_display }},
				"bProcessing": true,
				"bServerSide": true,
				"responsive": {
					"details": {
						display: $.fn.dataTable.Responsive.display.childRowImmediate,
						type: 'none',
						target: ''
					}
				},
				"sAjaxSource": "{{ path('APUserBunble_contributionusercommentsdatatables', {'id' : id}) }}?className=" + document.getElementById("comments_entity").value,
				"aoColumns": [
				  { "sclass": "longType" },
				  null,
				  null
				]
			});
			
			document.getElementById("comments_entity").addEventListener("change", (e) => {
				oTable.ajax.url('{{ path('APUserBunble_contributionusercommentsdatatables', {'id' : id}) }}?className=' + e.target.value).load();
			});
		});
	</script><link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/extensions/Responsive/css/responsive.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/contribution-user.jpg') }}" alt="Yoga girl magic" width="550" /></p>
	<hr>
	<select id="comments_entity" name="comments_entity" class="form-control">
		{% for key, value in classArray %}
			<option value="{{ key }}">{{ value }}</option>
		{% endfor %}
	</select>
	
	<br>
	<br>

	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "user.contributionUserComments.Comment"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.contributionUserComments.PublicationDate"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.contributionUserComments.Link"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<br>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}