{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Member"|trans([], "validators") }}{% endblock %}
{% block index_admin_route %}{{ path('apadminuser') }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>
	
	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Username"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.username }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Email"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.email }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Role"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.roles|join(", ") }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Avatar"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.avatar|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.DateInscription"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.inscriptionDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.BirthDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.birthDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.City"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.city }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.WebSite"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.siteWeb }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Blog"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.blog }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Presentation"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.presentation }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Civility"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.civility }}</div>
	
	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Country"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.country is not empty ? entity.country.title : "" }}</div>
	
	<div class="form-table-cell form-table-cell-head">{{ "user.admin.Active"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.enabled %}
			<span class="text-success"><i class="fas fa-check" aria-hidden="true"></i></span>
		{% else %}
			<span class="text-danger"><i class="fas fa-times" aria-hidden="true"></i></span>
		{% endif %}
	</div>
{% endblock %}

{% block data_bottom %}
	{% if entity.enabled %}
		<a href='{{ path("User_Admin_Activate", { "id" : entity.id, "state" : 0 }) }}' class="btn btn-danger">{{ "user.admin.Desactivate"|trans([], "validators") }}</a>
	{% else %}
		<a href='{{ path("User_Admin_Activate", { "id" : entity.id, "state" : 1 }) }}' class="btn btn-success">{{ "user.admin.Activate"|trans([], "validators") }}</a>
	{% endif %}
{% endblock %}