{% extends "content_layout.html.twig" %}

{% block title %}{{ "user.list.MembersList"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/devil-list-members.png') }}" width="25" class="mt-1" alt="Devil"/></span>{{ "user.list.MembersList"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/indexDatatables.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			toDatatables("{{ app.request.locale }}", "{{ asset('extended/js/DataTables/language') }}");
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="mx-auto d-block img-fluid" src="{{ asset('extended/photo/list-members.jpg') }}" alt="List members" width="500" /></p>
	<hr>
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "user.list.Avatar"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.list.Pseudo"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.list.Registration"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.list.Articles"|trans([], "validators") }}</th> 
				<th class="label_form">{{ "user.list.Comments"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr class="trGene">
					<td class="tdGene">{{ user.avatar|imgsize(100, user.getAssetImagePath())|raw }}</td>
					<td class="tdGene"><a href="{{ path('APUserBunble_otherprofile', {'id':user.id} ) }}" alt="View your profile">{{ user.username }}</a></td>
					<td class="tdGene">{{ user.inscriptionDate|dodate(false, app.request.locale) }}</td>
					<td class="tdGene">[{{ user|count_contributions_user('contribution') }}]</td>
					<td class="tdGene">[{{ user|count_contributions_user('comment') }}]</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "user.list.Avatar"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.list.Pseudo"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.list.Registration"|trans([], "validators") }}</th>
				<th class="label_form">{{ "user.list.Articles"|trans([], "validators") }}</th> 
				<th class="label_form">{{ "user.list.Comments"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}