{% macro updateListForm(form) %}
	$("#{{ form.vars['id'] }}_language").change(function()
	{
		var currentState = $("#{{ form.state.vars.id }}").find('option:selected').data('intl');

		$.ajax({
			type: "POST",
			url: "{{ path('Book_Admin_ReloadByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var theme = data.theme;
				$("#{{ form.theme.vars.id }} option").remove();
				$.each(theme, function(index, element)
				{
					$("#{{ form.theme.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});

				var state = data.state;
				$("#{{ form.state.vars.id }} option").remove();
				$.each(state, function(index, element)
				{
					$("#{{ form.state.vars.id }}").append('<option value="'+ element.id +'" data-intl="'+ element.intl +'"' + (currentState == element.intl ? "selected" : "") + '>'+ element.title +'</option>');
				});

				var literaryGenre = data.literaryGenre;
				$("#{{ form.genre.vars.id }} option").remove();
				$.each(literaryGenre, function(index, element)
				{
					$("#{{ form.genre.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
			}
		});
	});
{% endmacro %}