{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Book"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Book_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Book_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Book_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Book_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block archive_admin_route %}{{ path('Book_Admin_Archive', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(250, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Introduction"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.introduction|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.PublicationDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Authors"|trans([], "validators") }}</div>
	<div class="form-table-cell">
	{% for author in entity.authors %}
		<p><a href="{{ path('Biography_Admin_Show', {id: author.id}) }}" class="badge badge-info text-white"><i class="fas fa-eye fa-fw"></i></a> <a href="{{ path('Biography_Admin_Edit', {id: author.id}) }}" class="badge badge-success text-white"><i class="fas fa-pencil-alt fa-fw"></i></a> {{ author.title }}</p>
	{% endfor %}
	</div>

	{% if entity.wikidata is not empty %}
		<div class="form-table-cell form-table-cell-head">Wikidata</div>
		<div class="form-table-cell">{{ entity.wikidata }} (<a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}">Wikidata</a>)</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20px" height="13px" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Theme"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.theme.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.LiteraryGenre"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.genre is not empty %}{{ entity.genre.title }}{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>
	
	<div class="form-table-cell form-table-cell-head">{{ "book.admin.Sources"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "tag.admin.Tags"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ get_tags(entity, true, false, true) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "book.admin.InternationalName"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.internationalName }}</div>

	<a href="{{ path('Book_Show', { 'id' : entity.id, 'title_slug' : entity.title }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	<div class="mb-3">
		{{ render(controller('App\\Controller\\BookEditionAdminController::indexAction', { bookId: entity.id })) }}
	</div>
	<hr>
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Book_Admin_Internationalization", "showRoute": "Book_Admin_Show", "editRoute": "Book_Admin_Edit"})) }}
	<hr>
	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}
		{% if entity.archive == false %}
			{{ macro_index.twitter_form(entity) }}
			{{ macro_index.blogger_form(entity, "news") }}
			{{ macro_index.mastodon_form(entity) }}
		{% endif %}
	{% endif %}
{% endblock %}