{% import "admin/GenericAdmin/macro.html.twig" as macro_admin %}

<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "witchcraftTool.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.photo, "witchcraftTool.admin.Photo"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.photo) }}{{ form_widget(form.photo) }}
	<br>
	{{ form_widget(form.photo_selector) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "witchcraftTool.admin.Text"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ macro_admin.import_wikipedia(form.text.vars.id, form.source.vars.id) }}
	{{ form_errors(form.text) }}{{ form_widget(form.text) }}
</div>

{{ macro_admin.wikidata_html_generic(form) }}
{{ macro_admin.import_wikidata_generic(form.wikidata.vars.id, form.language.vars.id, form.title.vars.id, form.text.vars.id, form) }}

<div class="form-table-cell form-table-cell-head">{{ form_label(form.publicationDate, "witchcraftTool.admin.PublicationDate"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.publicationDate) }}{{ form_widget(form.publicationDate, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "witchcraftTool.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.witchcraftThemeTool, "witchcraftTool.admin.WitchcraftThemeTool"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.witchcraftThemeTool) }}{{ form_widget(form.witchcraftThemeTool, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.state, "witchcraftTool.admin.State"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.state) }}{{ form_widget(form.state, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.source, "witchcraftTool.admin.Source"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.source) }}{{ form_widget(form.source) }}</div>