{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.WitchcraftTool"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('WitchcraftTool_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('WitchcraftTool_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('WitchcraftTool_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('WitchcraftTool_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.photo|imgsize(250, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.PublicationDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	{% if entity.wikidata is not empty %}
		<div class="form-table-cell form-table-cell-head">Wikidata</div>
		<div class="form-table-cell">{{ entity.wikidata }} (<a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}">Wikidata</a>)</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.WitchcraftThemeTool"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.witchcraftThemeTool.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.Source"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source, entity.language) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.InternationalName"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.internationalName }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "witchcraftTool.admin.Licence"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.licence }}</div>

	<div class="d-flex flex-row mt-3">
		<div><a href="{{ path('WitchcraftTool_Show', { 'id' : entity.id, 'title_slug' : entity.urlSlug }) }}" class="btn btn-warning" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a></div>
		<div class="ms-2"><a href="{{ path('Store_Admin_New', {category: constant('App\\Entity\\Stores\\Store::WITCHCRAFT_TOOL_CATEGORY'), id: entity.id}) }}" class="btn btn-info"><i class="fas fa-store"></i> {{ "store.admin.AddProduct"|trans([], "validators") }}</a></div>
	</div>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "WitchcraftTool_Admin_Internationalization", "showRoute": "WitchcraftTool_Admin_Show", "editRoute": "WitchcraftTool_Admin_Edit"})) }}
	
	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}
		{{ macro_index.blogger_form(entity, "magic_fr") }}
		{{ macro_index.twitter_form(entity) }}
	{% endif %}
{% endblock %}