{% extends "content_layout.html.twig" %}

{% block title %}{{ "rssFeed.index.SubscribeToRSSFeeds"|trans([], "validators") }}{% endblock %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/feedrss_icon.png') }}" width="25" class="mt-1" alt="RSS"/></span>{{ "rssFeed.index.SubscribeToRSSFeeds"|trans([], "validators") }}</h2>
{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/clipboard.js-master/dist/clipboard.min.js') }}"></script>
	<script>
		Array.prototype.remove = function() {
			var what, a = arguments, L = a.length, ax;
			while (L && this.length) {
				what = a[--L];
				while ((ax = this.indexOf(what)) !== -1) {
					this.splice(ax, 1);
				}
			}
			return this;
		};

		$(function()
		{
			var startUrlParameter = "";
			var theme = new Array();
			var themeString = "theme=news";
			var languageString = "&language={{ app.request.locale }}";
			var lengthString = "&length=30";
			
			$("textarea#page_generaterssfeed").html("{{ url('Page_GenerateRSSFeed') }}?"+startUrlParameter+themeString+languageString+lengthString);

			$("select.theme").change(function()
			{
				themeString = "theme="+$(this).val();
				startUrlParameter = "?";
			});
			
			var language = new Array("{{ app.request.locale }}");
			$('input.language').click(function()
			{
				if($(this).is(':checked'))
					language.push($(this).attr('id'));
				else
					language.remove($(this).attr('id'));
				languageString = "&language="+language.join();
				startUrlParameter = "?";
			});
			
			$('input.numberLength').keyup(function(event)
			{
				if(isInt(event.key) || event.keyCode == 8 || event.keyCode == 46)
				{
					lengthString = "&length="+$(this).val();
					startUrlParameter = "?";
				}
				else
					return false;
			});
			
			$('input.numberLength').change(function(event)
			{
				lengthString = "&length="+$(this).val();
				startUrlParameter = "?";
			});

			$('input, select').bind('click keyup change', function()
			{
				if(startUrlParameter != "")
				{
					$("textarea#page_generaterssfeed").html("{{ url('Page_GenerateRSSFeed', {'_format': 'rss'}) }}"+startUrlParameter+themeString+languageString+lengthString);
				}
			});
			
			var clipboard = new Clipboard('.clip_button');

			clipboard.on('success', function(e) {
				$("#success_copy").addClass("success alert alert-success text-center");
				$("#success_copy span").text("{{ 'rssFeed.read.CodeCopiedWithSuccess'|trans([], 'validators') }}");
				setTimeout(fade_out, 5000);
			});

			var fade_out = function() {
				$("#success_copy").removeClass("success alert alert-success text-center");
				$("#success_copy span").empty();
			}
		});
		
	function isInt(value) {
		return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value))
	}
	</script>
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img width="550" class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/rss.jpg') }}" alt="Fantasy - Elf" /></p>
	<hr>
	<h3>{{ "rssFeed.index.WhatIsItTitle"|trans([], "validators") }}</h3>
	<p>{{ "rssFeed.index.WhatIsItText"|trans([], "validators") }}</p>
	<h3>{{ "rssFeed.index.CustomizeYourRSSFeed"|trans([], "validators") }}</h3>
	<div class="form-table form-table-4cols form-table-collapse">
		<div class="form-table-cell form-table-cell-head">{{ "rssFeed.index.Category"|trans([], "validators") }}</div>
		<div class="form-table-cell">
			<select class="theme form-control">
				<option value="news" selected>{{ "rssFeed.index.News"|trans([], "validators") }}</option>
				<option value="document" >{{ "rssFeed.index.Document"|trans([], "validators") }}</option>
				<option value="photo">{{ "rssFeed.index.Photo"|trans([], "validators") }}</option>
				<option value="testimony">{{ "rssFeed.index.Testimony"|trans([], "validators") }}</option>
				<option value="video">{{ "rssFeed.index.Video"|trans([], "validators") }}</option>
			</select>
		</div>

		<div class="form-table-cell form-table-cell-head">{{ "rssFeed.index.Language"|trans([], "validators") }}</div>
		<div class="form-table-cell">
			<input type="checkbox" class="language" id="en" {% if app.request.locale == "en" %}checked{% endif %}/> <label for="en">{{ "rssFeed.index.English"|trans([], "validators") }}</label><br>
			<input type="checkbox" class="language" id="es" {% if app.request.locale == "es" %}checked{% endif %}/> <label for="es">{{ "rssFeed.index.Spanish"|trans([], "validators") }}</label><br>
			<input type="checkbox" class="language" id="fr" {% if app.request.locale == "fr" %}checked{% endif %}/> <label for="fr">{{ "rssFeed.index.French"|trans([], "validators") }}</label>
		</div>

		<div class="form-table-cell form-table-cell-head">{{ "rssFeed.index.Number"|trans([], "validators") }}</div>
		<div class="form-table-cell"><input type="number" value="30" class="numberLength form-control"/></div>
	</div>
	<br>
	<h3>{{ "rssFeed.index.RSSFeedCreatedTitle"|trans([], "validators") }}</h3>
	<p>{{ "rssFeed.index.RSSFeedCreatedText"|trans([], "validators") }}</p>
	<div id="success_copy"><span></span></div>
	<textarea id="page_generaterssfeed" class="generation bg-light text-white-50 form-control" readonly>{{ url("Page_GenerateRSSFeed") }}</textarea>
	<div class="clearfix mt-2">
	<button type="button" id="copy-button" class="submitcomment btn clip_button float-end" data-clipboard-action="copy" data-clipboard-target="#page_generaterssfeed" title="Click to copy me.">{{ "rssFeed.read.CopyToClipboard"|trans([], "validators") }}</button>
	</div>
	<div class="text-center">
		<a href="http://feedvalidator.org/check.cgi?url=http%3A//activite-paranormale.net/rssfeed%3Ftheme%3Dnews%26language%3Des%26length%3D30"><img src="{{ asset('extended/photo/valid-rss-rogers.png') }}" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
	</div>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}