{% extends "mobile/mobile_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block page_title %}<span class="float-start"><img src="{{ asset('extended/photo/bender.png') }}" width="25" class="me-2" alt="Robot"/></span>{{ entity.title }}{% endblock %}

{% block meta_plus %}
	<link rel="canonical" href="{{ url('News_ReadNews_New', {'id' : entity.id, 'title_slug': entity.getUrlSlug() }) }}">
{% endblock %}

{% block body_content %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': entity } %}
	<div class="read-content">
		{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'}, entity.photoIllustrationCaption)|raw }}
		<br>
		<div>{{ entity.abstractText|raw }}</div>
		<div>{{ entity.text|raw }}</div>
		
		{% set sources = source_document(entity.source, entity.language) %}
		{% if sources is not empty %}
			<br>
			<h3>{{ "news.index.Sources"|trans([], "validators") }}</h3>
			{{ sources }}
		{% endif %}

		<hr class="hr2">
		<p class="mt-7"><i class="fas fa-dragon"></i> <a href="{{ path('ap_newsmobile_index', {page: 1, theme: entity.theme.title}) }}">{{ entity.theme.title }}</a> - <i class="fas fa-calendar-alt"></i> {{ entity.publicationDate|date_mobile(app.request.locale) }} - <i class="fas fa-user"></i> {{ entity.pseudoUsed }} - <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : entity.licence.id }) }}" id="news_licence_link"><img class="align-middle d-inline" src="{{ asset('extended/photo/licence/'~entity.licence.logo) }}" alt="{{ entity.licence.title }}" /></a></p>
	</div>
	
	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.title, 'entity':entity, 'url':app.request.server.get("REQUEST_URI") } %}
	<br>
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::indexAction", { 'idClassName' : entity.id, 'className': 'News' })) }}
{% endblock %}