<h3>{{ "admin.show.Internationalization"|trans([], "validators") }}</h3>

{% if method_exists(entity, "getInternationalName") %}
<table class="table table-striped table-bordered doc_datatables">
	<thead>
		<tr>
			<th>{{ "admin.internationalization.Title"|trans([], "validators") }}</th>
			<th>{{ "admin.internationalization.Language"|trans([], "validators") }}</th>
			<th>{{ "admin.index.Action"|trans([], "validators") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for key, e in entities_other_languages(entity) %}
			<tr>
				<td>{{ e.title }}</td>
				<td><img src="{{ asset(entity.language.getAssetImagePath()~e.language.logo) }}" width="20" /></td>
				<td>
					<a href="{{ path(showRoute, {'id' : e.id }) }}"><i class="fas fa-book" aria-hidden="true"></i> {{ "admin.general.Read"|trans([], "validators") }}</a><br>
					<a href="{{ path(editRoute, {'id' : e.id }) }}"><i class="fas fa-sync-alt" aria-hidden="true"></i> {{ "admin.general.Update"|trans([], "validators") }}</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

<div class="input-group mb-3 mt-2">
	{{ form_widget(form.language, { 'attr': {'class': 'form-select'}}) }}
	<a href="#" class="btn btn-success" id="{{ form.language.vars.id }}_select_language">{{ "admin.general.Create"|trans([], "validators") }}</a>
</div>

<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
<script>
	document.querySelector("#{{ form.language.vars.id }}_select_language").addEventListener("click", (e) => {
		e.preventDefault();
		window.location.href = "{{ route }}?fromId={{ entity.id }}&locale=" + document.querySelector("#{{ form.language.vars.id }}").value;
	});

	document.addEventListener('DOMContentLoaded', function () {
		$('.doc_datatables').DataTable( {
			"language": {
				"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
			},
			"pagingType": "full_numbers",
			"info": false,
			"lengthChange": false,
			"searching": false,
			"order": [[ 0, "desc" ]],
			"responsive": true
		});
	});
</script>