{% extends "admin/admin.html.twig" %}

{% block h2_title %}{{ "admin.index.Maintenance"|trans([], "validators") }}{% endblock %}

{% block new_entry %}
	<li class="nav-item"><a class="nav-link" href="{{ path('Admin_Phpinfo') }}"><i class="fas fa-exclamation-circle"></i> PHP Info</a></li>
	<li class="nav-item"><a class="nav-link" href="{{ path('api_entrypoint') }}"><i class="fas fa-plug"></i> A.P.I.</a></li>
	<li class="nav-item"><a class="nav-link" href="https://github.com/Wakonda/activite-paranormale"><i class="fab fa-github-alt"></i> Github</a></li>
{% endblock %}

{% block style_edit %}
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block body_main %}
	<h3><i class="fa-solid fa-computer fa-sm mr-2"></i>{{ "admin.index.ActivateDesactivateMaintenance"|trans([], "validators") }}</h3>
	{% if mode == "MaintenanceOff" %}
		<a href="{{ path('Admin_Maintenance', {mode: 'MaintenanceOn'}) }}" class="btn btn-success">{{ "admin.index.ActivateMaintenance"|trans([], "validators") }}</a>
	{% else %}
		<a href="{{ path('Admin_Maintenance', {mode: 'MaintenanceOff'}) }}" class="btn btn-danger">{{ "admin.index.DesactivateMaintenance"|trans([], "validators") }}</a>
	{% endif %}
	
	<hr>
	<h3 class="mt-2"><i class="fa-solid fa-sitemap"></i> Sitemaps</h3>
	{% if sitemaps is not empty %}
		<ul>
		{% for sitemap in sitemaps %}
			<li><a href="{{ absolute_url(asset("sitemaps/"~sitemap)) }}" class="btn btn-info btn-sm"><i class="fa-solid fa-link"></i></a> <b>Sitemap: {{ absolute_url(asset("sitemaps/"~sitemap)) }}</b></li>
		{% endfor %}
		</ul>
	{% endif %}
	<a href="{{ path('Admin_Sitemap') }}" class="btn btn-success mt-2">{{ "admin.general.Update"|trans([], "validators") }}</a>
	<hr>

	<h3 class="mt-2"><i class="fa-solid fa-robot fa-sm mr-2"></i>robots.txt</h3>
	<form action="{{ path('Admin_Maintenance', {mode: 'robotstxt'}) }}">
		<textarea name="robotstxt_content" class="form-control" rows="5">{{ robotstxt }}</textarea>
		<button type="submit" class="btn btn-success mt-2">{{ "admin.general.Update"|trans([], "validators") }}</button>
	</form>
{% endblock %}