{% extends "mobile/mobile_layout.html.twig" %}

{% block title %}{{ "mobile.main.Testimony"|trans([], "validators") }}{% endblock %}
{% block page_title%}
	{{ "mobile.main.Testimony"|trans([], "validators") }}
	{% if app.request.attributes.get('theme') != "" %}
		{{ (" - "~app.request.attributes.get('theme')) }}
	{% endif %}
{% endblock %}

{% block additional_javascript %}
	<script>
		document.querySelector("select.selected_theme_news").addEventListener("change", (e) => {
			var form = document.querySelector("#choose_theme_news");
			var formData =  new FormData(form);

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function()
			{
				if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
				{
					document.location.href = xmlHttp.responseText;
				}
			}

			xmlHttp.open("POST", "{{ path('ap_testimonymobile_selectthemeforindextestimony') }}"); 
			xmlHttp.send(formData);
		});
	</script>
{% endblock %}

{% block body_content %}
	{% import "mobile/Generic/macro_news.html.twig" as macro_news %}
	{{ macro_news.select_list_theme(themes, 'ap_testimonymobile_index', 'mobile.testimony.AllTestimonials') }}

	{% set adLocation = (pagination.items|length / 2)|round %}
	{% set i = 0 %}

	{% for entity in pagination.items %}
	{% set i = i + 1 %}
	{% if i == adLocation %}
		<div class="media-container m-0 mt-3">
			<h3>{{ "generality.page.Advertisement"|trans([], "validators") }}</h3>
			<br>
			<ins class="adsbygoogle ads-responsive" style="display:block;" data-ad-client="ca-pub-1951906303386196" data-ad-slot="8068030897" data-ad-format="auto" data-full-width-responsive="true"></ins>
			<script type="text/javascript">(adsbygoogle = window.adsbygoogle || []).push({});</script>

			{% set ads = advertising(728, 90) %}
			{% if ads is not empty %}
			<div class="d-none advertising-alternative advertising_image text-center">
				{{ ads.text|raw }}
			</div>
			{% endif %}
		</div>
	{% endif %}

	<div class="row media-container m-0 mt-3">
		<div class="col-sm-12 mt-7 mb-7">
			<h4 class="media-heading"><a href="{{ path('ap_testimonymobile_read', { 'id' : entity.id }) }}" alt="">{{ entity.title }}</a></h4>
			<hr>
			<i class="fas fa-dragon"></i>  <i>{{ entity.theme.title }} - <i class="fas fa-calendar-alt"></i> {{ entity.publicationDate|date_mobile(app.request.locale) }}</i>
		</div>
	</div>
	{% else %}
	<br>
	<div class="alert alert-danger"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> {{ "mobile.testimony.NoTestimony"|trans([], "validators") }}</div>
	{% endfor %}
	<div class="mt-3 justify-content-center">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}