{% extends "mobile/mobile_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block page_title%}<span class="float-start"><img src="{{ asset('extended/photo/yellow_monster.png') }}" width="25" class="me-2" alt="Anger"/>{{ entity.title }}{% endblock %}

{% block meta_plus %}
	<link rel="canonical" href="{{ url('Testimony_Show', {'id' : entity.id, 'title_slug' : entity.getUrlSlug()}) }}">
{% endblock %}

{% block body_content %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': entity } %}
	<div class="read-content">
		{% set otherFiles = [] %}
	
		{% if files|length > 0 %}
			<div id="carousel-testimony" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					{% set i = 0 %}
					{% for file in files %}
						{% if file.extensionFile|is_image %}
							{% set i = i + 1 %}
							<div class="carousel-item {{ i == 1 ? 'active' : '' }}">
								{{ file.realNameFile|imgsize(550, 'extended/photo/testimony/')|raw }}
							</div>
						{% else %}
							{% set otherFiles = otherFiles|merge([file]) %}
						{% endif %}
					{% endfor %}
				</div>
				<a class="text-start carousel-control-prev" href="#carousel-testimony" role="button" data-slide="prev">
					<i class="fas fa-chevron-left" aria-hidden="true"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="text-end carousel-control-next" href="#carousel-testimony" role="button" data-slide="next">
					<i class="fas fa-chevron-right" aria-hidden="true"></i>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<hr>
		{% endif %}
		<div>{{ entity.text|raw }}</div>
		<br>
	
		{% if otherFiles is not empty %}
			<h3>{{ "file.read.OtherFiles"|trans([], "validators") }}</h3>
			<table class="table table-bordered table-striped table-dark">
				<thead>
					<tr class="trGene text-center">
						<th>{{ "file.read.Title"|trans([], "validators") }}</th>
						<th>{{ "file.read.Download"|trans([], "validators") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for otherFile in otherFiles %}
					<tr>
						<td>{{ otherFile.titleFile }}</td>
						<td class="text-center">
							{% if entity.archive %}
								<a href="{{ path('FileManagement_Download', {id: otherFile.id, path: (entity.getAssetImagePath()|url_encode), folder: "private" }) }}" class="btn btn-info btn-sm d-inline-block"><i class="fas fa-cloud-download-alt text-white"></i></a>
							{% else %}
								<a href="{{ path('FileManagement_Download', {id: otherFile.id, path: (entity.getAssetImagePath()|url_encode) }) }}" class="btn btn-info btn-sm d-inline-block"><i class="fas fa-cloud-download-alt text-white"></i></a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		<br>
		<hr class="hr2">
		<p class="mt-7"><i class="fas fa-dragon"></i> <a href="{{ path('ap_testimonymobile_index', {page: 1, theme: entity.theme.title}) }}">{{ entity.theme.title }}</a> - <i class="fas fa-calendar-alt"></i> {{ entity.publicationDate|date_mobile(app.request.locale) }} - <i class="fas fa-user"></i> {{ entity.pseudoUsed }} - <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : entity.licence.id }) }}" id="news_licence_link"><img class="align-middle d-inline" src="{{ asset('extended/photo/licence/'~entity.licence.logo) }}" alt="{{ entity.licence.title }}" /></a></p>
	</div>
	
	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.title, 'entity':entity, 'url':app.request.server.get("REQUEST_URI") } %}
	<br>
{% endblock %}

{% block additional_javascript %}
	<script>
		document.querySelector("a#news_licence_link").addEventListener("click", (e) => {
			var licenceModal = new bootstrap.Modal(document.getElementById('showColorboxByLicenceModal'));
			licenceModal.show(document.getElementById('showColorboxByLicenceModal'));
			e.preventDefault();
		});
	</script>
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::indexAction", { 'idClassName' : entity.id, 'className': 'Testimony' })) }}
{% endblock %}