{% extends "content_layout.html.twig" %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/in-the-world-icon.png') }}" width="25" class="mt-1" alt="In the World"/></span>{{ block ("title") }}{% if app.request.attributes.get('language') != 'all' %} - {{ title }}{# {{ app.request.attributes.get('language') }} #}{% endif %}</h2>
{% endblock h2_title %}

{% block APBlog_body %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var lengthTd = $(".index_world thead th").length - 1;

			oTable = $('table.index_world').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"ordering": true,
				"lengthChange": true,
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"processing": true,
				"serverSide": true,
				"responsive": {
					"details": {
						display: $.fn.dataTable.Responsive.display.childRowImmediate,
						type: 'none',
						target: ''
					}
				},
				"order": [[ lengthTd, "desc" ]],
				"ajax": "{% block world_datatables %}{% endblock %}{% if theme is defined and theme is not empty %}?theme_id={{ theme.id }}{% endif %}"
			});

			{% if block("select_theme_for_index_world") is not empty %}
				document.querySelector('select.selected_theme_news').addEventListener("change", (e) => {
					var chooseThemeNews = new URLSearchParams(new FormData(document.getElementById("choose_theme_news"))).toString()
					var selectedLanguage = e.target.options[e.target.selectedIndex].dataset.language;
					var data = chooseThemeNews + '&language=' + selectedLanguage;

					var xhr = new XMLHttpRequest();
					xhr.open('POST', '{{ path(block('select_theme_for_index_world')) }}', true);
					xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
					xhr.onreadystatechange = function() {
						if (xhr.readyState === 4 && xhr.status === 200) {
							document.location.href = xhr.responseText;
						}
					};
					xhr.send(data);
				});
			{% endif %}
		});
	</script>

	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />

	<ul id="tab_resources" class="nav nav-pills nav-fill">
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("News_World") }}';" {{ "News_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'news.index.Actualite'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("Biography_World") }}';" {{ "Biography_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'biography.index.Biography'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("Book_World") }}';" {{ "Book_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'book.index.Book'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("Cartography_World") }}';" {{ "Cartography_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'cartography.index.Cartography'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("EventMessage_World") }}';" {{ "EventMessage_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'eventMessage.index.Event'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("Photo_World") }}';" {{ "Photo_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'photo.index.Photo'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("Video_World") }}';"  {{ "Video_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'video.index.Video'|trans([], 'validators') }}</span></li>
		<li class="nav-item mb-3"><span onclick="location.href = '{{ path("Witchcraft_World") }}';"  {{ "Witchcraft_World" == app.request.attributes.get('_route') ? 'class="active"' : "" }}>{{ 'witchcraft.index.Witchcraft'|trans([], 'validators') }}</span></li>
	</ul>
	<br>
	<p class="image"><img class="mx-auto d-block img-fluid" src="{{ asset('extended/photo/world-news.jpg') }}" width="550" alt="Apocalypse world" /></p>
	<hr>
	{{ "news.world.ChooseALanguage"|trans([], "validators") }} :
	<a href="{{ path(block('world_flag'), {'language': 'all'}) }}" title="World"><img class="flagLang {% if app.request.attributes.get('language') == 'all' %}select_language_language{% endif %}" src="{{ asset('extended/photo/language/earthFlag.png') }}" alt="World earth" width="20" height="13" /></a>
	{% for flag in flags %}
		<a href="{{ path(block('world_flag'), {'language': flag.abbreviation}) }}" title="{{ flag.title }}"><img {% if flag.abbreviation == app.request.attributes.get('language') %}class="select_language_language"{% endif %} src="{{ asset(flag.getAssetImagePath()) }}{{ flag.logo }}" alt="{{ flag.abbreviation }}" width="20" height="13" /></a>
	{% endfor %}
	<hr>

	{% if block("select_theme_for_index_world") is not empty %}
		<form name="choixTheme" id="choose_theme_news" action="{{ path(block('world_flag'), { 'language' : app.request.attributes.get('language')}) }}" method="post" class="d-flex flex-row align-items-center flex-wrap">
			<label for="theme_id">{{ "news.index.ChoisissezUnTheme"|trans([], "validators") }} : </label>
			<div class="input-group w-auto">
				<select name="theme_id" class="form-select selected_theme_news">
					<option value="">{{ "news.index.Tout"|trans([], "validators") }}</option>
					{% for language, themeArray in themes %}
						<optgroup label="{{ language }}">
						{% for theme in themeArray %}
							<option data-language="{{ theme.language }}" value="{{ theme.id }}">{{ theme.title }}</option>
						{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
				<button id="selectTheme" type="submit" class="btn btn-primary"><i class="far fa-eye" aria-hidden="true"></i>{% if is_mobile() == false %} {{ 'news.index.ViewAll'|trans([], 'validators') }}{% endif %}</button> 
			</div>
		</form>
		<hr>
	{% endif %}

	<br>
	<table class="index_world dt-responsive w-100">
		<thead>
			<tr>
			{% block thead_table %}
				<th class="label_form">{{ "news.world.Language"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.world.Photo"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.world.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.world.PublicationDate"|trans([], "validators") }}</th>
			{% endblock %}
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
			{% block tfoottable %}
				<th class="label_form">{{ "news.world.Language"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.world.Photo"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.world.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.world.PublicationDate"|trans([], "validators") }}</th>
			{% endblock %}
			</tr>
		</tfoot>
	</table>
	<div class="clear"></div>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}