{% extends "content_layout.html.twig" %}

{% block title %}{{ "video.index.Video"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/movie.svg') }}" width="25" class="mt-1" alt="Movie"/></span>{{ "video.index.Video"|trans([], "validators") }}</h2>{% endblock h2_title %}
{% block header_plus %}
{% endblock %}
{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/video.jpg') }}" height="550" alt="Mermaid" /></p>
	<p>{{ "video.index.NbrTotalVideo"|trans([], "validators") }}<span class="badge bg-danger">{{ nbr }}</span></p>
	<hr>

	{% set i = 0 %}
	<div id="accordion">
		{% for key, data in datas %}
			<h3 class="cursor-pointer mt-2" data-bs-toggle="collapse" data-bs-target="#collapse_{{ slug(key) }}" aria-expanded="false" aria-controls="collapse_{{ slug(key) }}">{{ key }} <span class="number_theme">{{ (data|column("total"))|reduce((carry, v) => carry + v) }}</span></h3>
			<div id="collapse_{{ slug(key) }}" class="collapse" data-parent="#accordion">
				<br>
				<table class="table table-bordered">
				<tr class="trGene">
					<th class="label_form">{{ "video.index.Theme"|trans([], "validators") }}</th>
					<th class="label_form">{{ "video.index.Number"|trans([], "validators") }}</th>
				</tr>
				{% for T in data %}
					<tr><td class="td_form_table w-75"><a href="{{ path('Video_Tab', {'id' : T.id, 'theme' : T.title })}}" >{{ T.title }}</a></td>
					<td class="tdGene"><span class="badge bg-info">{{ T.total }}</span></td></tr>
				{% endfor %}
				</table>
			</div>
		{% endfor %}
	</div>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}