{% if entity is not null %}
	<h3>{{ "index.main.Video"|trans([], "validators") }}</h3>
	
	<div style="position:relative;">
		<p><span class="fw-bold" style="font-size: 16px;">{{ entity.title }} (<a href="{{ path('Video_Read', { 'id':entity.id, 'title_slug':entity.getUrlSlug()}) }}" title="More">{{ "photo.slider.More"|trans([], "validators") }}</a>)</span></p>
		<div class="image text-center">
			{% if entity.mediaVideo is not empty %}
				<video class="w-100" controls="controls" id="video_embedded">
					<source src="{{ asset('extended/flash/Video/KAWAplayer_v1/videos/'~entity.mediaVideo) }}" type="video/mp4" />
				</video>
			{% else %}
				{{ loader_video(entity) }}
			{% endif %}
		</div>
	</div>
{% endif %}