{% extends "content_layout.html.twig" %}

{% block title %}{{ "index.archive.Archive"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/yellow_monster.png') }}" width="25" class="mt-1" alt="Anger"/></span>{{ "index.archive.Archive"|trans([], "validators") }} - {{ title }}</h2>{% endblock h2_title %}
{% block header_plus %}
{% endblock %}
{% block APBlog_body %}
	<p class="image"><img class="mx-auto d-block img-fluid" src="{{ asset('extended/photo/archive.jpg') }}" width="550" alt="Strange dream" /></p>
	<hr>
	{{ "index.archive.DocArchive"|trans([], "validators") }}<span class="badge badge-danger">{{ nbrArchive }}</span>
	<hr>	
	{% set i = 0 %}
	<div id="accordion">
		{% for ST in surTheme %}
			<h3 class="cursor-pointer mt-2" data-toggle="collapse" data-target="#collapse_{{ ST.internationalName }}" aria-expanded="true" aria-controls="collapse_{{ ST.internationalName }}">{{ ST.title }}</h3>
			<div id="collapse_{{ ST.internationalName }}" class="collapse" data-parent="#accordion">
			<br />
			<table class="table table-bordered">
			<tr class="trGene">
				<th class="label_form">{{ "index.archive.Theme"|trans([], "validators") }}</th>
				<th class="label_form">{{ "index.archive.Number"|trans([], "validators") }}</th>
			</tr>
			{% for theme in themes %}
				{% if theme.surTheme == ST.id %}
					<tr><td class="td_form_table"><a href="{{ path('Archive_Tab', {'id' : theme.id, 'theme' : theme.title, className: className })}}" >{{ theme.title }}</a></td>
					<td class="tdGene"><span class="badge badge-info">{{ theme.count }}</span></td></tr>
				{% endif %}
			{% endfor %}
			</table>
			</div>
		{% endfor %}
	</div>
	<br>
	{{ "google"|advertisement|raw }}
{% endblock %}