{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/yellow_monster.png') }}" width="25" class="mt-1" alt="Anger"></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script>
		$(function() {
			function isSVGSupported() {
				return !!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect;
			}
			
			var imageObjects = document.querySelectorAll("p.image object");
			if (imageObjects.length === 1 && !isSVGSupported()) {
				imageObjects[0].remove();
				var imageElement = document.createElement("img");
				imageElement.setAttribute("src", "{{ asset('extended/photo/file_no_exist.png') }}");
				imageElement.setAttribute("alt", "");
				document.querySelector("p.image").appendChild(imageElement);
			}
		});
	</script>
{% endblock %}

{% block APBlog_body %}
	<div class="alert alert-danger">{{ "admin.general.EntryArchived"|trans([], "validators") }}</div>
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': entity } %}
	{% include 'index/Archive/readArchive'~className~'.html.twig' %}
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::index", { 'idClassName' : entity.id, 'className': className })) }}
{% endblock %}