<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "testimony.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "testimony.admin.Text"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.text) }}{{ form_widget(form.text) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "testimony.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.theme, "testimony.admin.Theme"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.theme) }}{{ form_widget(form.theme, {'attr':{'class':'form-control'}} ) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.country, "testimony.admin.Country"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.country) }}{{ form_widget(form.country, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.location_selector, "testimony.admin.Location"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.location_selector) }}{{ form_widget(form.location_selector, {'attr':{'class':'form-control'}} ) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.sightingDate, "testimony.admin.SightingDate"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.sightingDate) }}{{ form_widget(form.sightingDate, {'attr':{'class':'form-control'}} ) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.state, "testimony.admin.State"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.state) }}{{ form_widget(form.state, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.pseudoUsed, "testimony.admin.PseudoUsed"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.pseudoUsed) }}{{ form_widget(form.pseudoUsed, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.publicationDate, "testimony.admin.PublicationDate"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.publicationDate) }}{{ form_widget(form.publicationDate, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.licence, "testimony.admin.Licence"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.licence) }}{{ form_widget(form.licence, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.tags, "tag.admin.Tags"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.tags) }}{{ form_widget(form.tags, { 'attr': {'class': 'form-control', 'value': get_tags(entity, false) } }) }}</div>