{% macro updateListForm(form) %}
	$("#{{ form.vars['id'] }}_language").change(function()
	{
		var currentState = $("#{{form.state.vars.id }}").find('option:selected').data('intl');

		$.ajax({
			type: "POST",
			url: "{{ path('News_Admin_ReloadThemeByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var theme = data.theme;
				$("#{{form.vars['id'] }}_theme option").remove();
				$.each(theme, function(index, element)
				{
					$("#{{form.vars['id'] }}_theme").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
				var state = data.state;
				$("#{{form.vars['id'] }}_state option").remove();
				$.each(state, function(index, element)
				{
					$("#{{form.vars['id'] }}_state").append('<option value="'+ element.id +'" data-intl="'+ element.intl +'"' + (currentState == element.intl ? "selected" : "") + '>'+ element.title +'</option>');
				});
				var licence = data.licence;
				$("#{{form.vars['id'] }}_licence option").remove();
				$.each(licence, function(index, element)
				{
					$("#{{form.vars['id'] }}_licence").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
			}
		});
	});
{% endmacro %}

{% macro location_selector(form) %}
	<link rel="stylesheet" type="text/css" href="{{ asset('extended/js/select2/dist/css/select2.min.css') }}" media="screen" />
	<script src="{{ asset('extended/js/select2/dist/js/select2.full.min.js') }}"></script>
	<script src="{{ asset('extended/js/select2/dist/js/i18n/'~app.request.locale~'.js') }}"></script>
	<script>
		$(function() {
			$('#{{ form.location_selector.vars.id }}').select2({
				allowClear: true,
				placeholder: "",
				ajax: {
					url: ' https://nominatim.openstreetmap.org/search?',
					dataType: 'json',
					minimumInputLength: 3,
					data: function (params) {
						var query = {
							q: params.term,
							addressdetails: 1,
							countrycodes: document.getElementById("{{ form.country.vars.id }}").value,
							format: "json"
						}

						return query;
					},
					processResults: function (data) {
						res = []

						for(var i = 0; i < data.length; i++) {
							let obj = new Object();
							obj.id = i;
							obj.text = data[i].display_name;
							obj.address = JSON.stringify(data[i].address);
							obj.lat = data[i].lat;
							obj.lon = data[i].lon;
							res.push(obj)
						 }

						return {
							results: res
						};
					}
				}
			});

			$('#{{ form.location_selector.vars.id }}').on('select2:select', function (e) {
				let data = e.params.data;
				let address = JSON.parse(data.address);
				
				address.value = data.text;
				address.lon = data.lon;
				address.lat = data.lat;
				
				document.getElementById("{{ form.location.vars.id }}").value = JSON.stringify(address);
			});

			$('#{{ form.location_selector.vars.id }}').on('select2:clear', function (e) {
				document.getElementById("{{ form.location.vars.id }}").value = "";
			});
		});
	</script>
{% endmacro %}