{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Licence"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Licence_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Licence_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Licence_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Licence_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "licence.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "licence.admin.Description"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "licence.admin.Logo"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.logo|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "licence.admin.InternationalName"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.internationalName|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "licence.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20px" height="13px" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "licence.admin.Link"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.link|raw }}</div>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Licence_Admin_Internationalization", "showRoute": "Licence_Admin_Show", "editRoute": "Licence_Admin_Edit"})) }}
{% endblock %}