{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/book-read.svg') }}" width="25" class="mt-1" alt="Book"></span>{{ entity.title }}</h2>{% endblock h2_title %}
{% block meta_description %}{{ entity.text|meta_description(".") }}{% endblock %}

{% block meta_plus %}
	<meta name="twitter:card" content="summary">
	<meta property="og:title" content="{{ entity.title }}">
	<meta property="og:description" content="{{ entity.text|meta_description(".") }}">
{% endblock %}

{% block APBlog_body %}
	<p class="image">{{ entity.photo|imgsize(550, entity.getAssetImagePath(), true, { class: 'mx-auto d-block img-fluid', alt: entity.title })|raw }}</p>
	<br>
	<div class="text-center"><a href="{{ entity.link }}" target="_blank" class="btn btn-warning">{{ "deal.index.Link"|trans([], "validators") }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
	<hr>
	<div class="book_description">
		{{ entity.text|raw }}
	</div>

	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}