{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Region"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Region_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Region_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Region_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Region_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "region.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	{% if entity.flag is not empty %}
		<div class="form-table-cell form-table-cell-head">{{ "region.admin.Flag"|trans([], "validators") }}</div>
		<div class="form-table-cell"><img src="{{ asset(entity.getAssetImagePath()) }}{{ entity.flag }}" alt="" width="20" height="13" /></div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "region.admin.Family"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ ("region.form." ~ (entity.family|ucfirst))|trans([], "validators") }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "region.admin.InternationalName"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.internationalName }}</div>

	{% if entity.higherLevel is not empty %}
		<div class="form-table-cell form-table-cell-head">{{ "region.admin.HigherLevel"|trans([], "validators") }}</div>
		<div class="form-table-cell">{{ entity.higherLevel.title }}</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "region.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGeneric', {entity: entity, route: "Region_Admin_Internationalization", "showRoute": "Region_Admin_Show", "editRoute": "Region_Admin_Edit"})) }}
{% endblock %}