{% macro generate_image_quotation_form(entity, imageGeneratorForm) %}
	<div class="accordion mb-2" id="accordionParentGenerateImage">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingGenerateImage">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseGenerateImage" aria-expanded="false" aria-controls="collapseGenerateImage">
				<i class="fas fa-image" aria-hidden="true"></i> {{ "quotation.imageGenerator.Generate"|trans([], "validators") }}
				</a>
				</span>
			</div>
			<div id="collapseGenerateImage" class="collapse" aria-labelledby="headingGenerateImage" data-parent="#accordionParentGenerateImage">
				<div class="card-body">
					{{ form_start(imageGeneratorForm, { 'action': path('Quotation_Admin_GenerateImage', {'id': entity.id})}) }}
						<div class="mb-3 row">
							{{ form_label(imageGeneratorForm.image, "quotation.imageGenerator.Image"|trans([], "validators"), {'label_attr': {'class': "col-sm-2 col-form-label"}}) }}
							<div class="col-sm-10">
								{{ form_widget(imageGeneratorForm.image, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="mb-3 row">
							{{ form_label(imageGeneratorForm.font_size, "quotation.imageGenerator.FontSize"|trans([], "validators"), {'label_attr': {'class': "col-sm-2 col-form-label"}}) }}
							<div class="col-sm-10">
								{{ form_widget(imageGeneratorForm.font_size, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="mb-3 row">
							{{ form_label(imageGeneratorForm.invert_colors, "quotation.imageGenerator.InvertColors"|trans([], "validators"), {'label_attr': {'class': "col-sm-2 col-form-label"}}) }}
							<div class="col-sm-10">
								{{ form_widget(imageGeneratorForm.invert_colors) }}
							</div>
						</div>
						<div class="text-end">
						{{ form_row(imageGeneratorForm.save, {'label': "admin.general.Create"|trans([], "validators")}) }}
						</div>
					{{ form_end(imageGeneratorForm) }}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro tagify(selector) %}
	<link rel="stylesheet" type="text/css" href="{{ asset('extended/js/tagify/tagify.min.css') }}" media="screen" />
	<script src="{{ asset('extended/js/tagify/tagify.min.js') }}"></script>

	<script>
		var input = document.querySelector('{{ selector }}');
		new Tagify(input, {enforceWhitelist: false});
	</script>
{% endmacro %}

{% macro updateListForm(form) %}
	document.getElementById("{{ form.language.vars.id }}").addEventListener("change", function() {
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "{{ path('Quotation_Admin_ReloadByLanguage') }}", true);

		xhr.onreadystatechange = function() {
			if (xhr.readyState === 4 && xhr.status === 200) {
				var data = JSON.parse(xhr.responseText);

				var countrySelect = document.getElementById("{{ form.country.vars.id }}");
				countrySelect.innerHTML = "";
				data.country.forEach(function(element) {
					var option = document.createElement("option");
					option.value = element.id;
					option.text = element.title;
					countrySelect.appendChild(option);
				});
			}
		};

		var formData = new FormData();
		formData.append("id", this.value);

		xhr.send(formData);
	});
{% endmacro %}