{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Quotation"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Quotation_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Quotation_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Quotation_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Quotation_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block additional_new_entry %}
	{% if entity.isQuotationFamily() %}
		<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="far fa-address-book" aria-hidden="true"></i> {{ "admin.general.Create"|trans([], "validators") }}...</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{{ path('Quotation_Admin_CreateSameAuthor', {'biographyId': entity.authorQuotation.id}) }}">{{ "quotation.admin.ForSameAuthor"|trans([], "validators") }}</a>
			</div>
		</li>
	{% endif %}
{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	{% if entity.isPoemFamily() %}
		<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Title"|trans([], "validators") }}</div>
		<div class="form-table-cell">{{ entity.title }}</div>
	{% endif %}

	{% if entity.isQuotationFamily() or entity.isPoemFamily() %}
		<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Author"|trans([], "validators") }}</div>
		<div class="form-table-cell"><a href="{{ path('Biography_Admin_Show', {id: entity.authorQuotation.id}) }}" class="badge bg-info text-white"><i class="fas fa-eye fa-fw"></i></a> <a href="{{ path('Biography_Admin_Edit', {id: entity.authorQuotation.id}) }}" class="badge bg-success text-white"><i class="fas fa-pencil-alt fa-fw"></i></a> {{ entity.authorQuotation.title }}</div>
	{% endif %}

	{% if entity.isProverbFamily() %}
		<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Country"|trans([], "validators") }}</div>
		<div class="form-table-cell">{% if entity.country is not empty %}<img src="{{ asset(entity.country.getAssetImagePath()) }}{{ entity.country.flag }}" alt="" width="20" height="13" />{% endif %}</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Family"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ ("quotation.admin." ~ (entity.family|ucfirst))|trans([], "validators") }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.textQuotation|nl2br }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Explanation"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.explanation|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Source"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source, entity.language) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	{% if entity.tags is not empty %}
		<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Tags"|trans([], "validators") }}</div>
		<div class="form-table-cell">
			<ul>
			{% for data in json_decode(entity.tags) %}
				<li>{{ data.value }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "quotation.admin.Images"|trans([], "validators") }}</div>
	<div class="form-table-cell">
	{% if entity.images is not empty %}
		{% for imageEntity in entity.images %}
			<div>
				{{ imageEntity.image|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}
				&nbsp;
				<a class="btn btn-danger" href="{{ path('Quotation_Admin_RemoveImage', {'id': entity.id, 'quotationImageId': imageEntity.id}) }}"><i class="fas fa-trash" aria-hidden="true"></i></a>
			</div>
			<br>
		{% endfor %}
	{% endif %}
	</div>

	<a href="{{ path(entity.showRoute, { 'id' : entity.id }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{% import "quotation/QuotationAdmin/macro_quotation.html.twig" as macro_quotation %}
	{{ macro_quotation.generate_image_quotation_form(entity, imageGeneratorForm) }}
	
	{% import "index/macro/macro_index.html.twig" as macro_index %}

	{% set tags = "" %}

	{% if entity.tags is not empty %}
		{% set tags = ((json_decode(entity.tags)|column("value"))|map(p => " #" ~ slug(p)))|join(" ") %}
	{% endif %}

	{% if entity.isQuotationFamily() or entity.isPoemFamily() %}
		{{ macro_index.twitter_form(entity, true, '"', '", ' ~ entity.authorQuotation.title ~ " " ~ tags) }}
		{{ macro_index.facebook_form(entity, '"' ~ entity.textQuotation ~ '", ' ~ entity.authorQuotation.title ~ " " ~ tags) }}
		{{ macro_index.diaspora_form(entity, '"' ~ entity.textQuotation ~ '", ' ~ entity.authorQuotation.title ~ " " ~ tags) }}
		{{ macro_index.mastodon_form(entity, '"', '", ' ~ entity.authorQuotation.title ~ " " ~ tags) }}
	{% else %}
		{{ macro_index.twitter_form(entity, true, '"', '", ' ~ entity.country.title ~ " " ~ tags) }}
		{{ macro_index.facebook_form(entity, '"' ~ entity.textQuotation ~ '", ' ~ entity.country.title ~ " " ~ tags) }}
		{{ macro_index.diaspora_form(entity, '"' ~ entity.textQuotation ~ '", ' ~ entity.country.title ~ " " ~ tags) }}
		{{ macro_index.mastodon_form(entity, '"', '", ' ~ entity.country.title ~ " " ~ tags) }}
	{% endif %}
	{{ macro_index.muse_form(entity) }}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.facebook_form_js() }}
	{{ macro_index.diaspora_form_js() }}
{% endblock %}