<img src="{{ asset('extended/photo/followus.jpg') }}" class="img-fluid" alt="Follow us!" loading="lazy">

{% set partners = partners() %}

<div class="text-center mt-2">
	{% for partner in partners %}
		<a class="btn social-share mb-1" style="background-color: {{ partner.color }}; color: {{ partner.getTextColor() }}" href="{{ partner.link }}" target="_blank"><i class="{{ partner.icon }}"></i> {{ partner.title }}</a>
	{% endfor %}
</div>