<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "theme.admin.Theme"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "theme.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.surTheme, "theme.admin.Family"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.surTheme) }}{{ form_widget(form.surTheme, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.internationalName, "civility.admin.InternationalName"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.internationalName) }}{{ form_widget(form.internationalName, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.pdfTheme, "theme.admin.File"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{% if entity.pdfTheme is not empty %}
		<b><u>{{ "admin.general.CurrentFile"|trans([], "validators") }}</u></b> {{ entity.pdfTheme }}
		<br />
	{% endif %}
	{{ form_errors(form.pdfTheme) }}{{ form_widget(form.pdfTheme, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.photo, "theme.admin.Photo"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.photo) }}{{ form_widget(form.photo) }}
	<br>
	{{ form_widget(form.photo_selector) }}
</div>