{% macro updateListForm(form) %}
	$("#{{ form.language.vars.id }}").change(function()
	{
		$.ajax({
			type: "POST",
			url: "{{ path('Theme_Admin_ReloadListsByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var surTheme = data.surTheme;
				$("#{{ form.surTheme.vars.id }} option").remove();
				$.each(surTheme, function(index, element)
				{
					$("#{{ form.surTheme.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
				
				{% if form.vars.value.surTheme.id is defined %}
					$("#{{ form.surTheme.vars.id }}").val("{{ form.vars.value.surTheme.id }}");
				{% endif %}
			}
		});
	});
	
	$("#{{ form.language.vars.id }}").change();
	
{% endmacro %}