{% macro updateListForm(form) %}
	$("#{{ form.language.vars.id }}").change(function()
	{
		$.ajax({
			type: "POST",
			url: "{{ path('Theme_Admin_ReloadListsByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var parentTheme = data.parentTheme;
				$("#{{ form.parentTheme.vars.id }} option").remove();
				
				$("#{{ form.parentTheme.vars.id }}").append('<option value=""></option>');
				
				$.each(parentTheme, function(index, element)
				{
					$("#{{ form.parentTheme.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
				
				{% if form.vars.value.parentTheme.id is defined %}
					$("#{{ form.parentTheme.vars.id }}").val("{{ form.vars.value.parentTheme.id }}");
				{% endif %}
			}
		});
	});
	
	$("#{{ form.language.vars.id }}").change();
	
{% endmacro %}