{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/store.png') }}" width="27" class="mt-1" alt="Book"/></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block meta_plus %}
	<meta name="twitter:card" content="summary">
	<meta property="og:title" content="{{ entity.title }}">
	<meta property="og:image" content="{{ absolute_url(asset(entity.getAssetImagePath()~entity.photoIllustrationFilename)) }}">

	{% if entity.location is not empty %}
		{% set locationDatas = json_decode(entity.location) %}
		<link rel="stylesheet" href="{{ asset('extended/js/cartography/leaflet/leaflet.css') }}">
		<link href='{{ asset('extended/js/cartography/Leaflet.fullscreen/dist/leaflet.fullscreen.css') }}' rel='stylesheet'>
		<link rel="stylesheet" href="{{ asset('extended/css/cartography.css') }}" type="text/css" media="screen">
		<script src="{{ asset('extended/js/cartography/leaflet/leaflet.js') }}"></script>
		<script src="{{ asset('extended/js/cartography/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js') }}"></script>

		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				var map = L.map('map-canvas').setView([{{ locationDatas.lat }}, {{ locationDatas.lon }}], 15);
				var markersArray = new Array();

				L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
				}).addTo(map);

				map.addControl(new L.Control.Fullscreen());
				var marker = L.marker([{{ locationDatas.lat }}, {{ locationDatas.lon }}]).addTo(map);
				map.setView(marker.getLatLng(), 12);
			});
		</script>
	{% endif %}
{% endblock %}

{% block APBlog_body %}
	{% if app.user is not empty and entity.author is not empty and app.user.id == entity.author.id %}
		{% if entity.state.isStateDisplayed() %}
			<p class="text-center"><a href="{{ path('ClassifiedAds_State', {id: entity.id, state: 0 }) }}" class="btn btn-danger">{{ "classifiedAds.read.RemoveMyAd"|trans([], "validators") }}</a></p>
		{% elseif entity.state.isWaiting() %}
			<div class="alert alert-warning">{{ "classifiedAds.read.YourClassifiedAdIsAwaitingValidation"|trans([], "validators") }}</div>
		{% else %}
			<p class="text-center"><a href="{{ path('ClassifiedAds_State', {id: entity.id, state: 1 }) }}" class="btn btn-success">{{ "classifiedAds.read.PublishMyAd"|trans([], "validators") }}</a></p>
		{% endif %}
	{% endif %}

	<div class="alert alert-info pb-0">
		<p><b><i class="fa-solid fa-calendar-days"></i> {{ "classifiedAds.read.PublicationDate"|trans([], "validators") }}</b> {{ entity.publicationDate|dodate(false, app.request.locale) }}</p>
		{% if entity.locationArray is not empty %}
			<p><b><i class="fa-solid fa-location-dot"></i> {{ "classifiedAds.read.Address"|trans([], "validators") }}</b> {{ entity.locationArray|join(", ") }}</p>
		{% endif %}
	</div>
	{% if entity.illustration is not empty %}
		{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" })|raw }}
	{% endif %}
	<br>
	
	{% if entity.price is not empty %}
		<div class="text-center"><span class="price">{{ entity.price|format_price(entity.currencyPrice, app.request.locale) }}</span></div>
		<br>
	{% endif %}
	
	{% if entity.text is not empty %}
		<h3><i class="fa-solid fa-highlighter"></i> {{ "classifiedAds.read.Description"|trans([], "validators") }}</h3>
		{{ entity.text|raw }}
	{% endif %}

	<br>

	<div class="alert alert-warning">
		<h4><i class="fa-solid fa-circle-info"></i> {{ "classifiedAds.read.UsefulInformation"|trans([], "validators") }}</h4>
		<br>
		<ul>
			<li>{{ "classifiedAds.read.AvoidScams"|trans([], "validators") }}</li>
			<li>{{ "classifiedAds.read.NeverPay"|trans([], "validators") }}</li>
			<li>{{ "classifiedAds.read.DontBuy"|trans([], "validators") }}</li>
			<li>{{ "classifiedAds.read.Transaction"|trans([], "validators") }}</li>
		</ul>
	</div>
	
	<br>
	<h3><i class="fa-solid fa-at"></i> {{ "classifiedAds.read.ContactPublisher"|trans([], "validators") }}</h3>
	
	<ul>
	{% if entity.author is not empty %}
		<li><b>{{ "classifiedAds.read.Username"|trans([], "validators") }}</b> {% if entity.author.enabled %}<a href="{{ path('APUserBunble_otherprofile', {id: entity.author.id}) }}">{{ entity.author.username }}</a>{% else %}{{ entity.author.username }}{% endif %}</li>
		{% if entity.displayEmail %}
			<li><b>{{ "classifiedAds.read.Email"|trans([], "validators") }}</b> <a href="mailto:{{ entity.author.email }}">{{ entity.author.email }}</a></li>
		{% endif %}
	{% else %}
		<li><b>{{ "classifiedAds.read.Username"|trans([], "validators") }}</b> {{ entity.contactName }}</li>
		{% if entity.displayEmail %}
			<li><b>{{ "classifiedAds.read.Email"|trans([], "validators") }}</b> <a href="mailto:{{ entity.contactEmail }}">{{ entity.contactEmail }}</a></li>
		{% endif %}
	{% endif %}
	</ul>
	<br>
	
	{% if entity.author is not empty %}
		<div class="text-center"><a href="{{ path('Contact_SendPrivateMessage', {userId: entity.author.id, initialMessageId: 0, idClassName: entity.id, className: 'ClassifiedAds'}) }}" class="btn btn-primary"><i class="fa-solid fa-envelope"></i> {{ "classifiedAds.read.ContactPublisher"|trans([], "validators") }}</a></div>
	{% else %}
		<div class="text-center"><a href="{{ path('Contact_SendPrivateMessage', {userId: 0, initialMessageId: 0, idClassName: entity.id, className: 'ClassifiedAds'}) }}" class="btn btn-primary"><i class="fa-solid fa-envelope"></i> {{ "classifiedAds.read.ContactPublisher"|trans([], "validators") }}</a></div>
	{% endif %}
	<br>

	{% if entity.location is not empty %}
		<div>
			<h3><i class="fa-solid fa-map-location-dot"></i> {{ "classifiedAds.new.ListingLocation"|trans([], "validators") }}</h3>
			<div id="map-canvas" style="width:100%; height:400px"></div>
		</div>
		<br>
	{% endif %}
	
	<div>
	<h3><i class="fa-solid fa-eye"></i> {{ "classifiedAds.read.MarkAs"|trans([], "validators") }}</h3>
	<select name="markAs form-select" id="markAs" class="form-select">
		<option>{{ "classifiedAds.read.MarkAs"|trans([], "validators") }}</option>
		<option value="spam">{{ "classifiedAds.read.Spam"|trans([], "validators") }}</option>
		<option value="badcat">{{ "classifiedAds.read.Badcat"|trans([], "validators") }}</option>
		<option value="repeated">{{ "classifiedAds.read.Repeated"|trans([], "validators") }}</option>
		<option value="expired">{{ "classifiedAds.read.Expired"|trans([], "validators") }}</option>
		<option value="offensive">{{ "classifiedAds.read.Offensive"|trans([], "validators") }}</option>
	</select>
	</div>
	
	<br>

	<hr class="hr2">
	<p>
		<span><i class="fa-solid fa-tag"></i> <a href="{{ path('ClassifiedAds_Index', {idCategory: entity.category.id}) }}">{{ entity.category.title }}</a></span>
	</p>
	<hr class="hr2">
	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.title, 'entity':entity, 'url':app.request.server.get("REQUEST_URI") } %}

	{{ render(controller("App\\Controller\\VoteController::indexAction", { 'idClassName' : entity.id, 'className': 'ClassifiedAds' })) }}

	<hr class="hr2">
	{{ "google"|advertisement|raw }}
	
	<script>
		document.getElementById("markAs").addEventListener("change", (e) => {
			window.location.href = "{{ path('ClassifiedAds_MarkAs', {id: entity.id}) }}?mark_as=" + e.target.value;
		});
	</script>
{% endblock %}