{% import "admin/GenericAdmin/macro.html.twig" as macro_admin %}

<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "eventMessage.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.abstractText, "eventMessage.admin.AbstractText"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ macro_admin.import_wikipedia(form.abstractText.vars.id, form.source.vars.id) }}
	{{ form_errors(form.abstractText) }}{{ form_widget(form.abstractText) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "eventMessage.admin.Text"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ macro_admin.import_wikipedia(form.text.vars.id) }}
	{{ form_errors(form.text) }}{{ form_widget(form.text) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.type, "eventMessage.admin.Type"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.type) }}{{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "eventMessage.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.dateFrom, "eventMessage.admin.DateFrom"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.dateFrom) }}{{ form_widget(form.dateFrom, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.dateTo, "eventMessage.admin.DateTo"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.dateTo) }}{{ form_widget(form.dateTo, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.pseudoUsed, "eventMessage.admin.PseudoUsed"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.pseudoUsed) }}{{ form_widget(form.pseudoUsed, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.licence, "eventMessage.admin.Licence"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.licence) }}{{ form_widget(form.licence, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.state, "eventMessage.admin.State"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.state) }}{{ form_widget(form.state, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.illustration, "eventMessage.admin.Photo"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.illustration) }}{{ form_widget(form.illustration) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.thumbnail, "eventMessage.admin.Thumbnail"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{% if entity.thumbnail is not empty %}
		<b><u>{{ "admin.general.CurrentFile"|trans([], "validators") }}</u></b> {{ entity.thumbnail }}
		<br>
	{% endif %}
	{{ form_errors(form.thumbnail) }}{{ form_widget(form.thumbnail) }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.theme, "eventMessage.admin.Theme"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.theme) }}{{ form_widget(form.theme, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.latitude, "eventMessage.admin.Latitude"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.latitude) }}{{ form_widget(form.latitude, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.longitude, "eventMessage.admin.Longitude"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.longitude) }}{{ form_widget(form.longitude, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.source, "eventMessage.admin.Source"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.source) }}{{ form_widget(form.source) }}</div>