{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.EventMessage"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('EventMessage_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('EventMessage_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('EventMessage_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('EventMessage_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block archive_admin_route %}{{ path('EventMessage_Admin_Archive', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.AbstractText"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.abstractText|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20px" height="13px" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Licence"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.licence }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	{% if entity.wikidata is not empty %}
		<div class="form-table-cell form-table-cell-head">Wikidata</div>
		<div class="form-table-cell">{{ entity.wikidata }} (<a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}">Wikidata</a>)</div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Type"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ ("eventMessage.dayMonth."~entity.type|ucfirst)|trans([], "validators") }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.PseudoUsed"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.PseudoUsed }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.DateFrom"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.dayFrom|doYearMonthDayDate(entity.monthFrom, entity.yearFrom, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.DateTo"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.dayTo|doYearMonthDayDate(entity.monthTo, entity.yearTo, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"}, null, true, entity.archive)|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Thumbnail"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.thumbnail is not empty %}{{ entity.thumbnail|imgsize(200, entity.getAssetImagePath())|raw }}{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Latitude"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.latitude }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Longitude"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.longitude }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "eventMessage.admin.Source"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source, entity.language) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "tag.admin.Tags"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ get_tags(entity, true, false, true) }}</div>

	<a href="{{ path('EventMessage_Read', { 'id' : entity.id, 'title_slug': entity.urlSlug }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{% if entity.state.isWaiting() %}
		<a href="{{ path('EventMessage_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Validate' }) }}" alt="Validate" class="btn btn-success">{{ "eventMessage.admin.Validate"|trans([], "validators") }}</a>
		<a href="{{ path('EventMessage_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Refused' }) }}" alt="Refuse" class="btn btn-danger">{{ "eventMessage.admin.Refuse"|trans([], "validators") }}</a>
	{% else %}
		{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "EventMessage_Admin_Internationalization", "showRoute": "EventMessage_Admin_Show", "editRoute": "EventMessage_Admin_Edit"})) }}
	{% endif %}

	<hr>

	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}
		
		{% if entity.archive == false %}
			{{ macro_index.twitter_form(entity) }}
			{{ macro_index.blogger_form(entity, "news") }}
			{{ macro_index.facebook_form(entity) }}
			{{ macro_index.mastodon_form(entity) }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.facebook_form_js() }}
	{{ macro_index.mastodon_form_js() }}
{% endblock %}