{% extends "content_layout.html.twig" %}

{% block title %}{{ "contact.index.ContactUs"|trans([], "validators") }}{% endblock %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/mail.png') }}" width="25" class="mt-1" alt="Mail"/></span>Message à {{ recipient.username }}</h2>
{% endblock h2_title %}

{% block header_plus %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}

	{{ macro_index.tinymce_init_js() }}
	{{ macro_index.tinymce_js(form.messageContact.vars.id) }}
{% endblock %}

{% block APBlog_body %}
	{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}private-message.png" alt="Red devil girl" /></p>
	<br>
	<hr class="hr2">
		{{ form_start(form, {'action': path('Contact_SendPrivateMessage', {userId: recipient.id, initialMessageId: initialMessageId}), 'attr':{'class' : 'form-horizontal', novalidate: 'novalidate'}}) }}
			<div class="form-table form-table-4cols form-table-collapse">
				{% if is_granted("IS_AUTHENTICATED_FULLY") == false %}
					<div class="form-table-cell form-table-cell-head">{{ form_label(form.pseudoContact, "contact.index.Name"|trans([], "validators")) }}</div>
					<div class="form-table-cell">
						{{ form_errors(form.pseudoContact) }}
						{{ form_widget(form.pseudoContact, {'attr':{'class' : 'form-control'}}) }}
					</div>

					<div class="form-table-cell form-table-cell-head">{{ form_label(form.emailContact, "contact.index.Email"|trans([], "validators")) }}</div>
					<div class="form-table-cell">
						{{ form_errors(form.emailContact) }}
						{{ form_widget(form.emailContact, {'attr':{'class' : 'form-control'}}) }}
					</div>
				{% endif %}

				<div class="form-table-cell form-table-cell-head">{{ form_label(form.subjectContact, "contact.index.Subject"|trans([], "validators")) }}</div>
				<div class="form-table-cell">{{ form_errors(form.subjectContact) }}{{ form_widget(form.subjectContact, {'attr':{'class' : 'form-control'}}) }}</div>

				<div class="form-table-cell form-table-cell-head">{{ form_label(form.messageContact, "contact.index.Message"|trans([], "validators")) }}</div>
				<div class="form-table-cell">{{ form_errors(form.messageContact) }}{{ form_widget(form.messageContact) }}</div>
			</div>
			<br>
			
			{% if is_granted("IS_AUTHENTICATED_FULLY") == false %}
				{% include 'index/Captcha/captcha_form.html.twig' with {field: form.captcha} %}
				{% include 'index/Captcha/captcha_js.html.twig' with {field: form.captcha} %}
			{% endif %}

			{{ form_rest(form) }}
			<div class="text-end mt-3">
				<button type="submit" class="submitcomment btn">{{ "contact.index.Send"|trans([], "validators") }}</button>
			</div>
		{{ form_end(form) }}
		<br>
		{{ "google"|advertisement|raw }}
{% endblock %}