{% extends "content_layout.html.twig" %}

{% block title %}{{ initialMessage.subjectContact }}{% endblock %}

{% block h2_title %}
	<h2><span class="float-start"><img src="{{ asset('extended/photo/mail.png') }}" width="25" class="mt-1" alt="Mail"/></span>{{ initialMessage.subjectContact }}</h2>
{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}private-message-user-read.jpg" alt="Ghost" /></p>
	<br>
	<hr class="hr2">

	{% for entity in entities %}
		{% set color = entity.recipient.id == app.user.id ? "orangered" : "dodgerblue" %}
		<fieldset class="border border-success p-2" style="border-color: {{ color }} !important">
			<legend class="scheduler-border"><i class="fa-solid fa-user-tie" style="color: {{ color }}"></i> {% if entity.sender is not empty %}<a href="{{ path('APUserBunble_otherprofile', {id : entity.sender.id}) }}" alt="See profile">{{ entity.sender.username }}</a>{% else %}{{ entity.senderString }}{% endif %} - <i class="fa-solid fa-calendar-week" style="color: {{ color }}"></i> {{ entity.dateContact|dodate(true, app.request.locale) }}</legend>
			{{ entity.messageContact|raw }}
			
			{% if entity.sender is empty %}
				<hr>
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fa-solid fa-at"></i></span><a href="mailto:{{ entity.emailContact }}">{{ entity.emailContact }}</a></li>
					{% if entity.phoneNumber is not empty %}
						<li><span class="fa-li"><i class="fa-solid fa-blender-phone"></i></span><a href="tel:{{ entity.phoneNumber }}">{{ entity.phoneNumber }}</a></li>
					{% endif %}
				</ul>
			{% endif %}
		</fieldset>
		<br>
	{% endfor %}

	{% if initialMessage.sender is not empty %}
		{% set recipient = app.user.id == initialMessage.sender.id ? initialMessage.recipient : initialMessage.sender %}
		<a href="{{ path('Contact_SendPrivateMessage', {userId: recipient.id, initialMessageId: initialMessage.id}) }}" class="btn btn-primary float-end"><i class="fa-solid fa-reply"></i> {{ "privateMessage.read.Reply"|trans([], "validators") }}</a>
		<br>
	{% endif %}
	
	<br>
	{{ "google"|advertisement|raw }}
{% endblock %}