{% extends "content_layout.html.twig" %}

{% block title %}{{ "contact.send.Confirmation"|trans([], "validators") }}{% endblock %}

{% block h2_title %}
		<h2><span class="float-left"><img src="{{ asset('extended/photo/unicorn.png') }}" width="25" class="mt-1" alt="Success send"/></span>{{ "contact.send.Confirmation"|trans([], "validators") }}</h2>
{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper fl_image mx-auto d-block img-fluid" src="{{ asset('extended/photo/') }}contact-confirmation.jpg" alt="Contact - abduction" /></p>
	<br />
	<hr class="hr2"/>
	<div class="alert alert-success">{{ "contact.send.messageSucces"|trans([], "validators") }}</div>
	<p>{{ "contact.send.messageConfirmation"|trans([], "validators") }}</p>
	
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}