{% extends "content_layout.html.twig" %}

{% block title %}{% if entity is not empty %}{{ entity.title }}{% endif %}{% endblock %}

{% block h2_title %}
		<h2><span class="float-left"><img src="{{ asset('extended/photo/faq.svg') }}" width="25" class="mt-1" alt="FAQ"/></span>{% if entity is not empty %}{{ entity.title }}{% endif %}</h2>
{% endblock h2_title %}

{% block APBlog_body %}
	{% if entity is not empty %}
		{{ entity.text|raw }}
	{% endif %}
	
	<hr class="hr2"/>
	{{ "google"|advertisement|raw }}
{% endblock %}