{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
<p class="image">{{ "renew-password.jpg"|imgsize(550, 'extended/photo/', true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</p>
<br>
{{ form_start(form, {'action': path('Profile_Change_Password'), 'attr':{'class' : 'form-horizontal change_password', novalidate: 'novalidate'}}) }}
	<div class="form-table form-table-4cols form-table-collapse mb-3">
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.current_password, "user.changePassword.CurrentPassword"|trans([], "validators")) }}</div>
		<div class="form-table-cell">{{ form_errors(form.current_password) }}{{ form_widget(form.current_password, {'attr':{'class' : 'form-control'}}) }}</div>

		<div class="form-table-cell form-table-cell-head">{{ form_label(form.password.first, "user.changePassword.Password"|trans([], "validators")) }}</div>
		<div class="form-table-cell">{{ form_errors(form.password.first) }}{{ form_widget(form.password.first, {'attr':{'class' : 'form-control'}}) }}</div>
		
		<div class="form-table-cell form-table-cell-head">{{ form_label(form.password.second, "user.changePassword.RepeatPassword"|trans([], "validators")) }}</div>
		<div class="form-table-cell">{{ form_errors(form.password.second) }}{{ form_widget(form.password.second, {'attr':{'class' : 'form-control'}}) }}</div>
	</div>
    {{ form_widget(form) }}
	{{ form_rest(form) }}
    <div class="mt-3 text-end">
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="submitcomment btn" />
    </div>
{{ form_end(form) }}