{% macro blogger_form(entity, type, defaultValue = null) %}
	{% if get_env("APP_ENV") == "dev" %}
		{% set type = "test" %}
	{% endif %}

	{% set type = type~"_"~entity.language.abbreviation %}

	{% if isBloggerAvailable(type) %}
		<div class="accordion mb-2" id="accordionParentBlogger">
			{% set obj = null %}
			{% set method = "POST" %}
			{% if method_exists(entity, "getSocialNetworkIdentifiers") %}
				{% if entity.socialNetworkIdentifiers["Blogger"] is defined and entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] is defined %}
					{% set obj = entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] %}
					{% set method = "PUT" %}
				{% endif %}
			{% endif %}

			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingBlogger">
					<span class="panel-title">
					<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBlogger" aria-expanded="false" aria-controls="collapseOne">
					<i class="fa-brands fa-blogger"></i> Blogger
					</a>
					</span>
				</div>
				<div id="collapseBlogger" class="collapse" aria-labelledby="headingBlogger"  data-parent="#accordionParentBlogger">
					<div class="card-body">
						<form action="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: method }) }}" method="POST">
							{% set tags = blogger_tags(type) %}
							<select multiple name="blogger_tags[]" class="form-select select2_list" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								{% for tag in tags %}
									<option value="{{ tag }}" {% if obj is not empty and tag in obj.labels %}selected{% elseif slug(tag) == slug(defaultValue) %}selected{% endif %}>{{ tag }}</option>
								{% endfor %}
							</select>
							<br><br>
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />

							{% if obj is not empty %}
								<a href="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'DELETE' }) }}" class="btn btn-outline-danger">{{ "admin.general.Delete"|trans([], "validators") }}</a>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		{{ _self.blogger_multi_form(entity, type) }}
	{% endif %}
{% endmacro %}

{% macro blogger_multi_form(entity, type) %}
	{% set type = type~"_"~entity.language.abbreviation %}

	<div class="accordion mb-2" id="accordionParentBloggerMulti">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingBloggerMulti">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBloggerMulti" aria-expanded="false" aria-controls="collapseOne">
				<i class="fa-brands fa-blogger"></i> Blogger
				</a>
				</span>
			</div>
			<div id="collapseBloggerMulti" class="collapse" aria-labelledby="headingBloggerMulti"  data-parent="#accordionParentBloggerMulti">
				<div class="card-body">
					<form action="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'POST' }) }}" method="POST" id="blogger_multi_form">
						<div class="row">
							<div class="col">
								{% set list = blogger_list(entity.language.abbreviation) %}

								<select name="blogger_list[]" id="blogger_list" class="form-select" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
									{% for t, l in list %}
										<option value="{{ t }}" {{ type == t ? "selected" : "" }}>{{ l }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col">
								<select multiple name="blogger_tags[]" id="blogger_tags" class="form-select" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								</select>
							</div>
						</div>
						<br>
						<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						
						<div id="blogger_multi_delete" class="float-end"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(function() {
			$('#blogger_tags').select2();
		});
		function changeBlogger(val) {
			let xmlHttp = new XMLHttpRequest();

			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					$('#blogger_tags').select2('destroy');
					document.querySelectorAll('#blogger_tags option').forEach(option => option.remove());
					
					let data = JSON.parse(xmlHttp.responseText);
					
					for(var i = 0; i < data.tags.length; i++) {
						let isSelected = data.obj != null ? data.obj.labels.includes(data.tags[i]) : false;
						document.querySelector("select#blogger_tags").add(new Option(data.tags[i], data.tags[i], isSelected, isSelected));
					}
					
					$('#blogger_tags').select2();
					
					document.querySelector('#blogger_multi_delete').innerHTML = '';
					
					document.getElementById("blogger_multi_form").action = data.urlAddUpdate;
					
					if(data.urlDelete != null) {
						var a = document.createElement('a');
						
						a.innerHTML = '{{ "admin.general.Delete"|trans([], "validators") }}';
						a.href = data.urlDelete;
						a.className = "btn btn-outline-danger";
						
						document.getElementById("blogger_multi_delete").appendChild(a);
					}
				}
			}

			xmlHttp.overrideMimeType("application/json");
			xmlHttp.open("GET", "{{ path('Admin_BloggerTags', {id : entity.id, path: entity.entityName|url_encode, routeToRedirect: app.request.attributes.get('_route')}) }}?type=" + val, true);
			xmlHttp.send();
		}
		
		changeBlogger(document.getElementById("blogger_list").value);

		document.querySelector("select#blogger_list").addEventListener("change", (e) => {
			changeBlogger(e.target.value);
		});
	</script>
{% endmacro %}

{% macro shopify_form(entity, type) %}
	{#{% set type_locale = type~"_"~entity.language.abbreviation %}

	{% if isShopifyAvailable(type_locale) %}
		<div class="accordion mb-2" id="accordionParentShopify">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingShopify">
					<span class="panel-title">
					<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseShopify" aria-expanded="false" aria-controls="collapseOne">
					<i class="fab fa-shopify"></i> Shopify
					</a>
					</span>
				</div>
				<div id="collapseShopify" class="collapse" aria-labelledby="headingShopify"  data-parent="#accordionParentShopify">
					<div class="card-body">
						<form action="{{ path('Admin_Shopify', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type_locale }) }}" method="POST">
							{% if type == "magic" %}
								{% set tags = grimoire_themes_by_language(entity.language.abbreviation) %}
							{% else %}
								{% set tags = themes_by_language(entity.language.abbreviation) %}
							{% endif %}
							<select multiple name="shopify_tags[]" class="form-select select2_list" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								{% for tag in tags %}
									<option value="{{ tag }}">{{ tag }}</option>
								{% endfor %}
							</select>
							<br><br>
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}#}
{% endmacro %}

{% macro blogger_music_form(entity, type, defaultValue = null) %}
	{% if get_env("APP_ENV") == "dev" %}
		{% set type = "test" %}
	{% endif %}

	{% if entity.language is not empty %}
		{% set type = type~"_"~entity.language.abbreviation %}
		{% if isBloggerAvailable(type) %}
			{% set obj = null %}
			{% set method = "POST" %}
			{% if method_exists(entity, "getSocialNetworkIdentifiers") %}
				{% if entity.socialNetworkIdentifiers["Blogger"] is defined and entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] is defined %}
					{% set obj = entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] %}
					{% set method = "PUT" %}
				{% endif %}
			{% endif %}
			<div class="accordion mb-2" id="accordionParentBloggerMusic">
				<div class="card sub_block">
					<div class="card-header" role="tab" id="headingBloggerMusic">
						<span class="panel-title">
						<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBloggerMusic" aria-expanded="false" aria-controls="collapseOne">
						<i class="fas fa-music" aria-hidden="true"></i> Blogger
						</a>
						</span>
					</div>
					<div id="collapseBloggerMusic" class="collapse" aria-labelledby="headingBloggerMusic" data-parent="#accordionParentBloggerMusic">
						<div class="card-body">
							<form action="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: method }) }}" method="POST">
								{% set tags = music_genres(entity.language.abbreviation) %}
								<select multiple name="blogger_tags[]" class="form-select select2_list" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
									{% for tag in tags %}
										<option value="{{ tag.title }}" {% if obj is not empty and tag.title in obj.labels %}selected{% elseif slug(tag.title) == slug(defaultValue) %}selected{% endif %}>{{ tag.title }}</option>
									{% endfor %}
								</select>
								<br><br>
								<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
								
								{% if obj is not empty %}
									<a href="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'DELETE' }) }}" class="btn btn-outline-danger">{{ "admin.general.Delete"|trans([], "validators") }}</a>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro facebook_form(entity, text = null) %}
	{% if isFacebookAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentFacebook">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingFacebook">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFacebook" aria-expanded="false" aria-controls="collapseFacebook">
				<i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook
				</a>
				</span>
			</div>
			<div id="collapseFacebook" class="collapse" aria-labelledby="headingFacebook" data-parent="#accordionParentFacebook">
				<div class="card-body">
					<form action="{{ path('Admin_Facebook', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						{{ _self.tags_list("facebook_area", "tags_facebook") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						{% set tagsArray = tags|split(", ") %}
						{% if entity.theme is defined and entity.theme is not empty %}{% set tagsArray = tagsArray|merge([ slug(entity.theme.title) ]) %}{% endif %}

						<textarea id="facebook_area" name="facebook_area" rows="3" cols="70" class="form-control" data-tags="{{ tagsArray|json_encode }}">{% if text is not null %}{{ ((text|replace({"\n": " ", "\r": " ", "\t": " "}))|striptags)|raw }}{% else %}{{ entity.title }}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="facebook_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro facebook_form_js() %}
	{{ _self.generic_tags("facebook_area", "tags_facebook") }}
{% endmacro %}

{% macro flickr_form(entity, text = null) %}
	{% if isFlickrAvailable(entity) %}
	{% set type = entity.language.abbreviation %}
		{% set obj = null %}
		{% if method_exists(entity, "getSocialNetworkIdentifiers") %}
			{% if entity.socialNetworkIdentifiers["Flickr"] is defined and entity.socialNetworkIdentifiers["Flickr"][flickr_id(type)] is defined %}
				{% set obj = entity.socialNetworkIdentifiers["Flickr"][flickr_id(type)] %}
			{% endif %}
		{% endif %}
		<div class="accordion mb-2" id="accordionParentFlickr">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingFlickr">
					<span class="panel-title">
					<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFlickr" aria-expanded="false" aria-controls="collapseFlickr">
					<i class="fab fa-flickr"></i> Flickr
					</a>
					</span>
				</div>
				<div id="collapseFlickr" class="collapse" aria-labelledby="headingFlickr" data-parent="#accordionParentFlickr">
					<div class="card-body">
						<form action="{{ path('Admin_Flickr', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
							<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="flickr" type="submit" class="btn btn-outline-secondary" />

							{% if obj is not empty %}
								<a href="{{ path('Admin_Flickr', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'DELETE', photoId: obj.id }) }}" class="btn btn-outline-danger">{{ "admin.general.Delete"|trans([], "validators") }}</a>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro flickr_form_js() %}
	{{ _self.generic_tags("flickr_area", "tags_flickr") }}
{% endmacro %}

{% macro wordpress_form(entity, text = null) %}
	{% if isWordpressAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentFlickr">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingWordpress">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseWordpress" aria-expanded="false" aria-controls="collapseWordpress">
				<i class="fa-brands fa-wordpress-simple"></i> Wordpress
				</a>
				</span>
			</div>
			<div id="collapseWordpress" class="collapse" aria-labelledby="headingWordpress" data-parent="#accordionParentWordpress">
				<div class="card-body">
					<form action="{{ path('Admin_Wordpress', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro tags_list(textarea, id) %}
	<div id="{{ id }}">
		<a href="#" class="btn btn-outline-secondary tag" data-tag="ovni">OVNI</a>
		<a href="#" class="btn btn-outline-secondary tag" data-tag="ufo">UFO</a>
		<a href="#" class="btn btn-outline-secondary tag" data-tag="fantôme">Fantôme</a>
		<a href="#" class="btn btn-outline-secondary tag" data-tag="ghost">Ghost</a>
		<a href="#" class="btn btn-outline-secondary tag" data-tag="fantasma">Fantasma</a>
		<a href="#" class="btn btn-outline-secondary tag" data-tag="weird">Weird</a>
		{{ _self.emoji_form(textarea) }}
	</div>
{% endmacro %}

{% macro generic_tags(textarea, tags) %}
	<script>
		var datas = document.getElementById("{{ textarea }}").innerHTML.split(" ");
		var tags = JSON.parse(document.getElementById("{{ textarea }}").dataset.tags);
		tags = tags.filter((element) => element !== '' && element !== null && element !== undefined);

		for (var j = 0; j < tags.length; j++) {
			for(var i = 0; i < datas.length; i++) {
				if(typeof tags[j] !== "undefined" && tags[j].toLowerCase() == datas[i].toLowerCase()) {
					datas[i] = "#" + datas[i];
					let start = tags.indexOf(datas[i]);
					tags = tags.splice(start - 1, 1);
				}
			}
		}

		tags = tags.map((x) => "#" + x.replace(/-/g, ''));

		tags.forEach((e) => {
			if(datas.join(" ").toLowerCase().includes(e.toLowerCase()))
				tags.splice(tags.indexOf(e), 1);
		});

		document.getElementById("{{ textarea }}").innerHTML = datas.join(" ") + " " + tags.join(" ");

		document.querySelectorAll("div#{{ tags }} a.tag").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();

				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("{{ textarea }}").selectionStart;
				let textareaContent = document.getElementById('{{ textarea }}').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('{{ textarea }}').value = output;
			});
		});
	</script>
{% endmacro %}

{% macro diaspora_form(entity, text = null) %}
	{% if isDiasporaAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentDiaspora">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingDiaspora">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseDiaspora" aria-expanded="false" aria-controls="collapseDiaspora">
				<i class="fab fa-diaspora" aria-hidden="true"></i> Diaspora
				</a>
				</span>
			</div>
			<div id="collapseDiaspora" class="collapse" aria-labelledby="headingDiaspora" data-parent="#accordionParentDiaspora">
				<div class="card-body">
					<form action="{{ path('Admin_Diaspora', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						{{ _self.tags_list("diaspora_area", "tags_diaspora") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						{% set tagsArray = tags|split(", ") %}
						{% if entity.theme is defined and entity.theme is not empty %}{% set tagsArray = tagsArray|merge([ slug(entity.theme.title) ]) %}{% endif %}
						
						<textarea id="diaspora_area" name="diaspora_area" rows="3" cols="70" class="form-control" data-tags="{{ tagsArray|json_encode }}">{% if text is not null %}{{ ((text|replace({"\n": " ", "\r": " ", "\t": " "}))|striptags)|raw }}{% else %}{{ entity.title }}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="diaspora_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro diaspora_form_js() %}
	{{ _self.generic_tags("diaspora_area", "tags_diaspora") }}
{% endmacro %}

{% macro vk_form(entity, text = null) %}
	{% if isVKAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentVK">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingVK">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseVK" aria-expanded="false" aria-controls="collapseVK">
				<i class="fab fa-vk" aria-hidden="true"></i> VK
				</a>
				</span>
			</div>
			<div id="collapseVK" class="collapse" aria-labelledby="headingVK" data-parent="#accordionParentVK">
				<div class="card-body">
					<form action="{{ path('Admin_VK', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						{{ _self.tags_list("vk_area", "tags_vk") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						{% set tagsArray = tags|split(", ") %}
						{% if entity.theme is defined and entity.theme is not empty %}{% set tagsArray = tagsArray|merge([ slug(entity.theme.title) ]) %}{% endif %}

						<textarea id="vk_area" name="vk_area" rows="3" cols="70" class="form-control" data-tags="{{ tagsArray|json_encode }}">{% if text is not null %}{{ ((text|replace({"\n": " ", "\r": " ", "\t": " "}))|striptags)|raw }}{% else %}{{ entity.title }}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="vk_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="vk" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro vk_form_js() %}
	{{ _self.generic_tags("vk_area", "tags_vk") }}
{% endmacro %}

{% macro instagram_form(entity) %}
	{% if isInstagramAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentInstagram">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingInstagram">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseInstagram" aria-expanded="false" aria-controls="collapseInstagram">
				<i class="fab fa-instagram-square" aria-hidden="true"></i> Instagram
				</a>
				</span>
			</div>
			<div id="collapseInstagram" class="collapse" aria-labelledby="headingInstagram" data-parent="#accordionParentInstagram">
				<div class="card-body">
					<form action="{{ path('Admin_Instagram', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						{{ _self.tags_list("instagram_area", "tags_instagram") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						<textarea id="instagram_area" name="instagram_area" rows="3" cols="70" class="form-control">{{ entity.title }}{% if tags is not empty %} {% for t in tags|split(', ') %}#{{ t }}{% if loop.last == false %} {% endif %}{% endfor %}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="instagram_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro instagram_form_js() %}
	<script>
		var datas = document.getElementById("instagram_area").innerHTML.split(" ");

		document.querySelectorAll("div#tags_instagram a").forEach((e) => {
			for(var i = 0; i < datas.length; i++) {
				if(e.innerHTML.toLowerCase() == datas[i].toLowerCase())
					datas[i] = "#" + datas[i];
			}
		});

		document.getElementById("instagram_area").innerHTML = datas.join(" ");

		document.querySelectorAll("div#tags_instagram a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();

				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("instagram_area").selectionStart;
				let textareaContent = document.getElementById('instagram_area').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('instagram_area').value = output;
			});
		});
	</script>
{% endmacro %}

{% macro bluesky_form(entity, textBefore = "", textAfter = "") %}
	{% if isBlueskyAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentBluesky">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingBluesky">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBluesky" aria-expanded="false" aria-controls="collapseBluesky">
				<i class="fa-solid fa-spaghetti-monster-flying"></i></i> Bluesky
				</a>
				</span>
			</div>
			<div id="collapseBluesky" class="collapse" aria-labelledby="headingBluesky" data-parent="#accordionParentBluesky">
				<div class="card-body">
					<form id="form_bluesky" action="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'bluesky', family: 'bluesky' }) }}" method="post">
						{{ _self.tags_list("bluesky_area", "tags_bluesky") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						{% set tagsArray = tags|split(", ") %}
						{% if entity.theme is defined and entity.theme is not empty %}{% set tagsArray = tagsArray|merge([ slug(entity.theme.title) ]) %}{% endif %}
						<textarea id="bluesky_area" name="bluesky_area" rows="3" cols="70" class="form-control" data-tags="{{ tagsArray|json_encode }}">{% if textBefore is not empty %}{{ textBefore }}{% endif %}{{ entity.title }}{% if textAfter is not empty %}{{ textAfter }}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="bluesky_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
						
						{% if isTwitterAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Bluesky + Twitter" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'bluesky', family: 'twitter|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
						{% if isMastodonAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Bluesky + Mastodon" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'bluesky', family: 'mastodon|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
						{% if isTwitterAvailable(entity) and isBlueskyAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Mastodon + Bluesky" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'bluesky', family: 'twitter|mastodon|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro bluesky_form_js() %}
	{{ _self.generic_tags("bluesky_area", "tags_bluesky") }}

	<script>
		document.getElementById("form_mastodon").addEventListener("submit", (e) => {
			e.preventDefault();
			e.target.setAttribute("action", e.submitter.getAttribute("data-url"));

			e.target.submit();
		});
	</script>
{% endmacro %}

{% macro mastodon_form(entity, textBefore = "", textAfter = "") %}
	{% if isMastodonAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentMastodon">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingMastodon">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseMastodon" aria-expanded="false" aria-controls="collapseMastodon">
				<i class="fab fa-mastodon" aria-hidden="true"></i> Mastodon
				</a>
				</span>
			</div>
			<div id="collapseMastodon" class="collapse" aria-labelledby="headingMastodon" data-parent="#accordionParentMastodon">
				<div class="card-body">
					<form id="form_mastodon" action="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'mastodon', family: 'mastodon' }) }}" method="post">
						{{ _self.tags_list("mastodon_area", "tags_mastodon") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						{% set tagsArray = tags|split(", ") %}
						{% if entity.theme is defined and entity.theme is not empty %}{% set tagsArray = tagsArray|merge([ slug(entity.theme.title) ]) %}{% endif %}
						<textarea id="mastodon_area" name="mastodon_area" rows="3" cols="70" class="form-control" data-tags="{{ tagsArray|json_encode }}">{% if textBefore is not empty %}{{ textBefore }}{% endif %}{{ entity.title }}{% if textAfter is not empty %}{{ textAfter }}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="mastodon_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />

						{% if isTwitterAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Mastodon + Twitter" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'mastodon', family: 'twitter|mastodon' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
						{% if isBlueskyAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Mastodon + Bluesky" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'mastodon', family: 'mastodon|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
						{% if isTwitterAvailable(entity) and isBlueskyAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Mastodon + Bluesky" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'mastodon', family: 'twitter|mastodon|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro mastodon_form_js() %}
	{{ _self.generic_tags("mastodon_area", "tags_mastodon") }}
	<script>
		document.getElementById("form_mastodon").addEventListener("submit", (e) => {
			e.preventDefault();
			e.target.setAttribute("action", e.submitter.getAttribute("data-url"));

			e.target.submit();
		});
	</script>
{% endmacro %}

{% macro twitter_form(entity, addPhoto = false, textBefore = "", textAfter = "") %}
	{% if isTwitterAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentTwitter">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingTwitter">
				<span class="panel-title">
					<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwitter" aria-expanded="false" aria-controls="collapseTwitter">
						<i class="fab fa-x-twitter" aria-hidden="true"></i> X.com
					</a>
				</span>
			</div>
			<div id="collapseTwitter" class="collapse" aria-labelledby="headingTwitter" data-parent="#accordionParentTwitter">
				<div class="card-body">
					<form id="form_twitter" action="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'twitter', family: 'twitter' }) }}" method="post">
						<p>{{ "twitter.admin.NumberOfRemainingCharacters"|trans([], "validators") }} <span id="limit_string" class="badge bg-danger">280</span></p>

						{% if addPhoto == true %}
							<label class="align-middle" for="add_image">{{ "twitter.admin.AddImage"|trans([], "validators") }}</label> <input type="checkbox" id="add_image" name="add_image" />
						{% endif %}

						{{ _self.tags_list("twitter_area", "tags_twitter") }}
						<br>
						{% set tags = get_tags(entity, false, true) %}
						{% set tagsArray = tags|split(", ") %}
						{% if entity.theme is defined and entity.theme is not empty %}{% set tagsArray = tagsArray|merge([ slug(entity.theme.title) ]) %}{% endif %}
						<textarea id="twitter_area" name="twitter_area" rows="3" cols="70" class="form-control" data-tags="{{ tagsArray|json_encode }}">{% if textBefore is not empty %}{{ textBefore }}{% endif %}{{ entity.title }}{% if textAfter is not empty %}{{ textAfter }}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="twitter_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />

						{% if isMastodonAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Mastodon" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'twitter', family: 'twitter|mastodon' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
						{% if isBlueskyAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Bluesky" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'twitter', family: 'twitter|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
						{% if isMastodonAvailable(entity) and isBlueskyAvailable(entity) %}
							<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Mastodon + Bluesky" data-url="{{ path('Admin_TwitterMastodonBluesky', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'twitter', family: 'twitter|mastodon|bluesky' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro tumblr_form(entity, type) %}
	{% set type = type~"_"~entity.language.abbreviation %}
	{% if isTumblrAvailable(type) %}
		<div class="accordion mb-2" id="accordionParentTumblr">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingTumblr">
					<span class="panel-title">
					<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTumblr" aria-expanded="true" aria-controls="collapseOne">
					<i class="fab fa-tumblr-square" aria-hidden="true"></i> Tumblr
					</a>
					</span>
				</div>
				<div id="collapseTumblr" class="collapse" aria-labelledby="headingTumblr" data-bs-parent="#accordionParentTumblr">
					<div class="card-body">
						<form action="{{ path('Admin_Tumblr', {'id': entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="POST">
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro twitter_form_js() %}
	{{ _self.generic_tags("twitter_area", "tags_twitter") }}
	<script>
		var limit = 280;

		var twitterAreaFunction = function(e) {
			document.getElementById("limit_string").innerHTML = limit - this.value.length;

			if(limit <= this.value.length) {
				document.querySelector("input[type=submit]#tweet").setAttribute("disabled", "disabled");
				document.querySelector("input[type=submit]#tweetMastodon").setAttribute("disabled", "disabled");
			}
			else {
				document.querySelector("input[type=submit]#tweet").removeAttribute("disabled");
				document.querySelector("input[type=submit]#tweetMastodon").removeAttribute("disabled");
			}
		};

		document.getElementById("twitter_area").addEventListener("keydown", twitterAreaFunction);
		document.getElementById("twitter_area").addEventListener("keyup", twitterAreaFunction);
		document.getElementById("limit_string").innerHTML = limit - document.getElementById("twitter_area").value.length;

		//Twitter Tags
		document.querySelectorAll("div#tags_twitter a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();
				document.getElementById("limit_string").innerHTML = limit - document.getElementById("twitter_area").value.length;
			});
		});

		document.getElementById("form_twitter").addEventListener("submit", (e) => {
			e.preventDefault();
			e.target.setAttribute("action", e.submitter.getAttribute("data-url"));

			e.target.submit();
		});
	</script>
{% endmacro %}

{% macro pinterest_form(entity) %}
	{% if isPinterestAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentPinterest">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingPinterest">
				<span class="panel-title">
				<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapsePinterest" aria-expanded="false" aria-controls="collapsePinterest">
				<i class="fab fa-pinterest" aria-hidden="true"></i> Pinterest
				</a>
				</span>
			</div>
			<div id="collapsePinterest" class="collapse" aria-labelledby="headingPinterest" data-parent="#accordionParentPinterest">
				<div class="card-body">
					<form action="{{ path('Admin_Pinterest', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<textarea id="pinterest_area" name="twitter_area" rows="3" cols="70" class="form-control">{{ entity.title }}</textarea>
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro tinymce_init_js() %}
	<script src="{{ asset('extended/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
{% endmacro %}

{% macro tinymce_js(id) %}
	{% set language = null %}
	{% if app.request.locale == "fr" %}
		{% set language = "fr_FR" %}
	{% elseif app.request.locale == "es" %}
		{% set language = "es" %}
	{% endif %}

	<script>
		function loadTinyMCE{{ id }}() {
			tinymce.init({
				selector:'#{{ id }}',
				height: 250,
				{% if language is not null %}
					language: '{{ language }}',
				{% endif %}
				menubar: false,
				statusbar: false,
				browser_spellcheck: true,
				plugins: 'lists link image charmap media',
				toolbar: 'bold italic underline | forecolor backcolor insert | alignleft aligncenter alignright alignjustify | bullist numlist | link image | undo redo',
				setup: function (editor) {
					editor.on('change', function () {
						tinymce.triggerSave();
					});
				}
			});
		}

		loadTinyMCE{{ id }}("#{{ id }}");
	</script>
{% endmacro %}

{% macro tinymce_light_js(id) %}
	{% set language = null %}
	{% if app.request.locale == "fr" %}
		{% set language = "fr_FR" %}
	{% elseif app.request.locale == "es" %}
		{% set language = "es" %}
	{% endif %}

	<script>
	tinymce.init({
		selector:'#{{ id }}',
		height: 150,
		{% if language is not null %}
			language: '{{ language }}',
		{% endif %}
		menubar: false,
		statusbar: false,
		browser_spellcheck: true,
		plugins: 'lists link image charmap media code',
		toolbar: 'bold italic underline | link | undo redo | code',
		setup: function (editor) {
			editor.on('change', function () {
				tinymce.triggerSave();
			});
		}
	});
	</script>
{% endmacro %}

{% macro tinymce_admin_js(selector, uploadRoute) %}
	{% set language = null %}
	{% if app.request.locale == "fr" %}
		{% set language = "fr_FR" %}
	{% elseif app.request.locale == "es" %}
		{% set language = "es" %}
	{% endif %}

	<script>
		tinymce.init({
			statusbar: false,
			extended_valid_elements : "a[class|name|href|target|title|onclick|rel],script[type|src],iframe[src|style|width|height|scrolling|marginwidth|marginheight|frameborder],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name]",
			height: 300,
			block_formats: 'Header 3=h3;Header 4=h4;Header 5=h5;Header 6=h6',
			menubar: false,
			browser_spellcheck: true,
			{% if language is not null %}
				language: '{{ language }}',
			{% endif %}
			selector:'#{{ selector }}',
			entity_encoding: "raw",
			toolbar: 'bold italic underline | blocks | forecolor backcolor | alignleft aligncenter alignright alignjustify | numlist bullist | link image media replacePWithBr code | undo redo | fullscreen',
			plugins: 'lists link image charmap media code fullscreen',
			paste_preprocess : function(pl, o) {
				o.content = o.content.replace(/(<|&lt;)br\s*\/*(>|&gt;)/gi, '');
				o.content = o.content.replace(/<(\w+)\s*(?:(?:(?:(?!href=|alt=)[^>]))*((?:href|alt)=['"][^'"]*['"]\s*)?)(?:(?:(?:(?!href=|alt=)[^>]))*((?:href|alt)=['"][^'"]*['"]\s*)?)(?:(?:(?:(?!href=|alt=)[^>]))*((?:href|alt)=['"][^'"]*['"]\s*)?)[^>]*>/gi, '<$1 $2$3$4>');
				o.content = o.content.replace(/<[a-z][a-z0-9]*\s*?>\s*<\/[a-z][a-z0-9]*>/gi, '');
				o.content = o.content.replace(/(<|&lt;)br\s*\/*(>|&gt;)/gi, '');
				o.content = o.content.replace(/<p>[\n\r]+<\/p>/g, '');
				o.content = o.content.replace(/(<p>\s*<\/p>)*/gi, '');
			},
			setup: function (editor) {
				editor.ui.registry.addButton('replacePWithBr', {
					tooltip: "Replace paragraph with line break",
					icon: "line-height",
					onAction: (_) => {
						var selection = editor.selection.getContent();
						selection = selection.replace(/(<p.*?>)/igm, '').replace(/<\/p>/igm, '<br>');
						selection  = "<p>"+selection+"</p>";
						editor.insertContent(selection);
					}
				});
			},
			{% if uploadRoute != "" %}
				file_picker_types: 'file image',
				image_caption: true,
				relative_urls: false,
				file_picker_callback: function (cb, value, meta) {
					var input = document.createElement('input');
					input.setAttribute('type', 'file');
					input.addEventListener('change', (e) => {
						const file = e.target.files[0];

						var formdata = new FormData();
						formdata.append("image", file);

						var xhr = new XMLHttpRequest();

						xhr.open("POST", "{{ uploadRoute }}?fileType=" + meta.filetype, true);    
						
						xhr.send(formdata);
						
						xhr.onreadystatechange = function() {
							if(xhr.readyState == 4 && xhr.status == 200)
							{
								var json = JSON.parse(xhr.response);
								console.log(json)
								cb(json.title);
							}
						}
						return
					});

					input.click();
				}
			{% endif %}
		});
	</script>
{% endmacro %}

{% macro muse_form(entity) %}
	{% if isMuseAvailable(entity.language.abbreviation) %}
		<div class="accordion mb-2" id="accordionParentMuse">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingMuse">
					<span class="panel-title">
					<a href="#" role="button" data-bs-toggle="collapse" data-bs-target="#collapseMuse" aria-expanded="false" aria-controls="collapseMuse">
					<i class="fas fa-palette"></i> Muse
					</a>
					</span>
				</div>
				<div id="collapseMuse" class="collapse" aria-labelledby="headingMuse" data-parent="#accordionParentMuse">
					<div class="card-body">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#museModal">{{ "admin.general.Send"|trans([], "validators") }}</button>

					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="museModal" tabindex="-1" aria-labelledby="museModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="museModalLabel"><i class="fas fa-palette"></i> Muse</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{% if entity.isPoemFamily == false %}
						<form id="form" method="post" enctype="multipart/form-data">
							<div class="mb-3">
								<label for="url">URL</label>
								<input type="text" name="url" class="form-control" id="url" required>
							</div>
							<div class="mb-3">
								<label for="size">{{ "admin.general.Size"|trans([], "validators") }}</label>
								<input type="number" name="size" class="form-control" id="size" value="35" required>
							</div>
							<button type="submit" class="btn btn-success" id="loadImage"><i class="fas fa-arrows-rotate"></i> {{ "admin.general.Generate"|trans([], "validators") }}</button>
						</form>
						<img src="" id="img_preview" style="display: none" class="img-fluid w-100 mt-2" />
						{% endif %}
					</div>
					<div class="modal-footer">
						<form action="{{ path('Admin_Muse', {'id': entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route')}) }}" method="POST">
							<input type="text" value="" name="image_generated" id="image_generated" style="display: none" />
							<button type="submit" class="btn btn-outline-secondary">{{ "admin.general.Send"|trans([], "validators") }}</button>
						</form>
					</div>
				</div>
			</div>
		</div>	

		<script>
			document.querySelector("#form").addEventListener("submit", (e) => {
				e.preventDefault();

				document.getElementById("img_preview").style.display = "none";

				var data = new FormData();

				data.append('url', document.getElementById("url").value);
				data.append('size', document.getElementById("size").value);

				document.querySelector('#loadImage .fa-arrows-rotate').classList.add("fa-spin");

				var xhr = new XMLHttpRequest();

				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4) {
						let data = JSON.parse(xhr.responseText)
						document.getElementById("img_preview").style.display = "block";
						document.getElementById("img_preview").setAttribute("src", "data:image/png;base64," + data.content);
						document.getElementById("image_generated").value = data.content;
						document.querySelector('#loadImage .fa-arrows-rotate').classList.remove("fa-spin");
					}
				};

				xhr.open('POST', '{{ path("Quotation_Admin_GenerateImageAjax", {id: entity.id}) }}');
				xhr.send(data);
			});
		</script>
	{% endif %}
{% endmacro %}

{% macro select_list_theme(themes, routePath, text_button) %}
	<form name="choixTheme" id="choose_theme_news" action="{{ path(routePath, { 'page' : 1}) }}" method="post" class="d-flex flex-row align-items-center flex-wrap">
		<label for="theme_news">{{ "news.index.ChoisissezUnTheme"|trans([], "validators") }} : </label>
		<div class="input-group w-auto">
			<select id="theme_news" name="theme_news" class="form-select selected_theme_news">
				<option value="">{{ "news.index.Tout"|trans([], "validators") }}</option>
				{% for theme in themes %}
					<option value="{{ theme.id }}">{{ theme.title }}</option>
				{% endfor %}
			</select>
			<button id="selectTheme" type="submit" class="btn btn-primary"><i class="far fa-eye" aria-hidden="true"></i>{% if is_mobile() == false %} {{ text_button|trans([], 'validators') }}{% endif %}</button> 
		</div>
	</form>
{% endmacro %}

{% macro select2_autocomplete() %}
	<link rel="stylesheet" type="text/css" href="{{ asset('extended/js/select2/dist/css/select2.min.css') }}" media="screen" />
	<script src="{{ asset('extended/js/select2/dist/js/select2.full.min.js') }}"></script>
	<script src="{{ asset('extended/js/select2/dist/js/i18n/'~app.request.locale~'.js') }}"></script>
	<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endmacro %}

{% macro emoji_form(textareaId) %}
	<div class="dropdown emoji-container d-inline">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu_{{ textareaId }}" data-bs-toggle="dropdown" aria-expanded="false">
			{{ "admin.emoji.Emoji"|trans([], "validators") }}
		</button>
		<ul class="dropdown-menu px-2" aria-labelledby="dropdownMenu_{{ textareaId }}" id="dropdownMenuList_{{ textareaId }}">
			<li><b>{{ "admin.emoji.Smiley"|trans([], "validators") }}</b><br><a class="dropdown-item" href="#">🤥</a><a class="dropdown-item" href="#">😵</a><a class="dropdown-item" href="#">😱</a><a class="dropdown-item" href="#">🤐</a><a class="dropdown-item" href="#">🤢</a><a class="dropdown-item" href="#">🤮</a><a class="dropdown-item" href="#">😇</a><a class="dropdown-item" href="#">😈</a><a class="dropdown-item" href="#">👿</a><a class="dropdown-item" href="#">🤡</a><a class="dropdown-item" href="#">👹</a><a class="dropdown-item" href="#">👺</a><a class="dropdown-item" href="#">💀</a><a class="dropdown-item" href="#">☠</a><a class="dropdown-item" href="#">👻</a><a class="dropdown-item" href="#">👽</a><a class="dropdown-item" href="#">👾</a><a class="dropdown-item" href="#">🤖</a></li>
			<li><b>{{ "admin.emoji.Character"|trans([], "validators") }}</b><br><a class="dropdown-item" href="#">👩‍🚀</a><a class="dropdown-item" href="#">👨‍🚀</a><a class="dropdown-item" href="#">🤶</a><a class="dropdown-item" href="#">🎅</a><a class="dropdown-item" href="#">🧙‍♀️</a><a class="dropdown-item" href="#">🧙‍♂️</a><a class="dropdown-item" href="#">🧝‍♀️</a><a class="dropdown-item" href="#">🧝‍♂️</a><a class="dropdown-item" href="#">🧛‍♀️</a><a class="dropdown-item" href="#">🧛‍♂️</a><a class="dropdown-item" href="#">🧟‍♀️</a><a class="dropdown-item" href="#">🧟‍♂️</a><a class="dropdown-item" href="#">🧞‍♀️</a><a class="dropdown-item" href="#">🧞‍♂️</a><a class="dropdown-item" href="#">🧜‍♀️</a><a class="dropdown-item" href="#">🧜‍♂️</a><a class="dropdown-item" href="#">🧚‍♀️</a><a class="dropdown-item" href="#">🧚‍♂️</a><a class="dropdown-item" href="#">👼</a><a class="dropdown-item" href="#">🛸</a></li>
			<li><b>{{ "admin.emoji.Body"|trans([], "validators") }}</b><br><a class="dropdown-item" href="#">🖖</a><a class="dropdown-item" href="#">🤘</a><a class="dropdown-item" href="#">🙏</a></li>
			<li><b>{{ "admin.emoji.Symbol"|trans([], "validators") }}</b><br><a class="dropdown-item" href="#">☮️</a><a class="dropdown-item" href="#">✝️</a><a class="dropdown-item" href="#">☪️</a><a class="dropdown-item" href="#">🕉</a><a class="dropdown-item" href="#">☸️</a><a class="dropdown-item" href="#">✡️</a><a class="dropdown-item" href="#">🔯</a><a class="dropdown-item" href="#">🕎</a><a class="dropdown-item" href="#">☯️</a><a class="dropdown-item" href="#">☦️</a><a class="dropdown-item" href="#">🛐</a><a class="dropdown-item" href="#">⛎</a><a class="dropdown-item" href="#">♈️</a><a class="dropdown-item" href="#">♉️</a><a class="dropdown-item" href="#">♊️</a><a class="dropdown-item" href="#">♋️</a><a class="dropdown-item" href="#">♌️</a><a class="dropdown-item" href="#">♍️</a><a class="dropdown-item" href="#">♎️</a><a class="dropdown-item" href="#">♏️</a><a class="dropdown-item" href="#">♐️</a><a class="dropdown-item" href="#">♑️</a><a class="dropdown-item" href="#">♒️</a><a class="dropdown-item" href="#">♓️</a><a class="dropdown-item" href="#">🆔</a><a class="dropdown-item" href="#">⚛️</a><a class="dropdown-item" href="#">🉑</a><a class="dropdown-item" href="#">☢️</a><a class="dropdown-item" href="#">☣️</a></li>
			<li><b>{{ "admin.emoji.Flag"|trans([], "validators") }}</b><br><a class="dropdown-item" href="#">&#127482;&#127480;</a><a class="dropdown-item" href="#">&#127468;&#127463;</a><a class="dropdown-item" href="#">&#127464;&#127462;</a><a class="dropdown-item" href="#">&#127467;&#127479;</a><a class="dropdown-item" href="#">&#127465;&#127466;</a><a class="dropdown-item" href="#">&#127466;&#127479;</a><a class="dropdown-item" href="#">&#127470;&#127481;</a><a class="dropdown-item" href="#">&#127471;&#127472;</a><a class="dropdown-item" href="#">&#127464;&#127475;</a><a class="dropdown-item" href="#">&#127468;&#127469;</a></li>
		</ul>
	</div>

	<script>
		document.querySelectorAll('#dropdownMenuList_{{ textareaId }} .dropdown-item').forEach(el => el.addEventListener('click', event => {
			event.preventDefault();
			var textarea = document.getElementById("{{ textareaId }}");
			var text = textarea.value;
			var position = textarea.selectionStart;
			text = text.slice(0, position) + event.target.innerHTML + text.slice(position);
			document.getElementById("{{ textareaId }}").value = text;
		}));
	</script>
{% endmacro %}

{% macro analytics_gtags() %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-F5KWDJ9VW2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-F5KWDJ9VW2');
	</script>
{% endmacro %}