{% macro blogger_form(entity, type, defaultValue = null) %}
	{% if get_env("APP_ENV") == "dev" %}
		{% set type = "test" %}
	{% endif %}

	{% set type = type~"_"~entity.language.abbreviation %}

	{% if isBloggerAvailable(type) %}
		<div class="accordion mb-2" id="accordionParentBlogger">
			{% set obj = null %}
			{% set method = "POST" %}
			{% if method_exists(entity, "getSocialNetworkIdentifiers") %}
				{% if entity.socialNetworkIdentifiers["Blogger"] is defined and entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] is defined %}
					{% set obj = entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] %}
					{% set method = "PUT" %}
				{% endif %}
			{% endif %}

			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingBlogger">
					<span class="panel-title">
					<a href="#" role="button" data-toggle="collapse" data-target="#collapseBlogger" aria-expanded="false" aria-controls="collapseOne">
					<i class="fa-brands fa-blogger"></i> Blogger
					</a>
					</span>
				</div>

				<div id="collapseBlogger" class="collapse" aria-labelledby="headingBlogger"  data-parent="#accordionParentBlogger">
					<div class="card-body">
						<form action="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: method }) }}" method="POST">
							{% set tags = blogger_tags(type) %}
							<select multiple name="blogger_tags[]" class="form-control selectpicker" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								{% for tag in tags %}
									<option value="{{ tag }}" {% if obj is not empty and tag in obj.labels %}selected{% elseif slug(tag) == slug(defaultValue) %}selected{% endif %}>{{ tag }}</option>
								{% endfor %}
							</select>
							<br><br>
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
							
							{% if obj is not empty %}
								<a href="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'DELETE' }) }}" class="btn btn-outline-danger">{{ "admin.general.Delete"|trans([], "validators") }}</a>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro blogger_multi_form(entity, type) %}
	{% set type = type~"_"~entity.language.abbreviation %}

	<div class="accordion mb-2" id="accordionParentBloggerMulti">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingBloggerMulti">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapseBloggerMulti" aria-expanded="false" aria-controls="collapseOne">
				<i class="fa-brands fa-blogger"></i> Blogger
				</a>
				</span>
			</div>
			<div id="collapseBloggerMulti" class="collapse" aria-labelledby="headingBloggerMulti"  data-parent="#accordionParentBloggerMulti">
				<div class="card-body">
					<form action="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'POST' }) }}" method="POST" id="blogger_multi_form">
						<div class="row">
							<div class="col">
								{% set list = blogger_list(entity.language.abbreviation) %}

								<select name="blogger_list[]" id="blogger_list" class="form-control" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
									{% for t, l in list %}
										<option value="{{ t }}" {{ type == t ? "selected" : "" }}>{{ l }}</option>
									{% endfor %}
								</select>
							</div>
							
							<div class="col">
								<select multiple name="blogger_tags[]" id="blogger_tags" class="form-control selectpicker" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								</select>
							</div>
						</div>
						<br>
						<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						
						<div id="blogger_multi_delete" class="float-right"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function changeBlogger(val) {
			let xmlHttp = new XMLHttpRequest();

			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					$('#blogger_tags').selectpicker('destroy');
					document.querySelectorAll('#blogger_tags option').forEach(option => option.remove());
					
					let data = JSON.parse(xmlHttp.responseText);
					
					for(var i = 0; i < data.tags.length; i++) {
						let isSelected = data.obj != null ? data.obj.labels.includes(data.tags[i]) : false;
						document.querySelector("select#blogger_tags").add(new Option(data.tags[i], data.tags[i], isSelected, isSelected));
					}
					
					$('#blogger_tags').selectpicker('refresh');
					
					document.querySelector('#blogger_multi_delete').innerHTML = '';
					
					document.getElementById("blogger_multi_form").action = data.urlAddUpdate;
					
					if(data.urlDelete != null) {
						var a = document.createElement('a');
						
						a.innerHTML = '{{ "admin.general.Delete"|trans([], "validators") }}';
						a.href = data.urlDelete;
						a.className = "btn btn-outline-danger";
						
						document.getElementById("blogger_multi_delete").appendChild(a);
					}
				}
			}

			xmlHttp.overrideMimeType("application/json");
			xmlHttp.open("GET", "{{ path('Admin_BloggerTags', {id : entity.id, path: entity.entityName|url_encode, routeToRedirect: app.request.attributes.get('_route')}) }}?type=" + val, true);
			xmlHttp.send();
		}
		
		changeBlogger(document.getElementById("blogger_list").value);

		document.querySelector("select#blogger_list").addEventListener("change", (e) => {
			changeBlogger(e.target.value);
		});
	</script>
{% endmacro %}

{% macro shopify_form(entity, type) %}
	{#{% set type_locale = type~"_"~entity.language.abbreviation %}

	{% if isShopifyAvailable(type_locale) %}
		<div class="accordion mb-2" id="accordionParentShopify">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingShopify">
					<span class="panel-title">
					<a href="#" role="button" data-toggle="collapse" data-target="#collapseShopify" aria-expanded="false" aria-controls="collapseOne">
					<i class="fab fa-shopify"></i> Shopify
					</a>
					</span>
				</div>
				<div id="collapseShopify" class="collapse" aria-labelledby="headingShopify"  data-parent="#accordionParentShopify">
					<div class="card-body">
						<form action="{{ path('Admin_Shopify', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type_locale }) }}" method="POST">
							{% if type == "magic" %}
								{% set tags = grimoire_themes_by_language(entity.language.abbreviation) %}
							{% else %}
								{% set tags = themes_by_language(entity.language.abbreviation) %}
							{% endif %}
							<select multiple name="shopify_tags[]" class="form-control selectpicker" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								{% for tag in tags %}
									<option value="{{ tag }}">{{ tag }}</option>
								{% endfor %}
							</select>
							<br><br>
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}#}
{% endmacro %}

{% macro blogger_music_form(entity, type, defaultValue = null) %}
	{% if get_env("APP_ENV") == "dev" %}
		{% set type = "test" %}
	{% endif %}

	{% if entity.language is not empty %}
		{% set type = type~"_"~entity.language.abbreviation %}
		{% if isBloggerAvailable(type) %}
			{% set obj = null %}
			{% set method = "POST" %}
			{% if method_exists(entity, "getSocialNetworkIdentifiers") %}
				{% if entity.socialNetworkIdentifiers["Blogger"] is defined and entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] is defined %}
					{% set obj = entity.socialNetworkIdentifiers["Blogger"][blogger_id(type)] %}
					{% set method = "PUT" %}
				{% endif %}
			{% endif %}
			<div class="accordion mb-2" id="accordionParentBloggerMusic">
				<div class="card sub_block">
					<div class="card-header" role="tab" id="headingBloggerMusic">
						<span class="panel-title">
						<a href="#" role="button" data-toggle="collapse" data-target="#collapseBloggerMusic" aria-expanded="false" aria-controls="collapseOne">
						<i class="fas fa-music" aria-hidden="true"></i> Blogger
						</a>
						</span>
					</div>
					<div id="collapseBloggerMusic" class="collapse" aria-labelledby="headingBloggerMusic" data-parent="#accordionParentBloggerMusic">
						<div class="card-body">
							<form action="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: method }) }}" method="POST">
								{% set tags = music_genres(entity.language.abbreviation) %}
								<select multiple name="blogger_tags[]" class="form-control selectpicker" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
									{% for tag in tags %}
										<option value="{{ tag.title }}" {% if obj is not empty and tag.title in obj.labels %}selected{% elseif slug(tag.title) == slug(defaultValue) %}selected{% endif %}>{{ tag.title }}</option>
									{% endfor %}
								</select>
								<br><br>
								<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
								
								{% if obj is not empty %}
									<a href="{{ path('Admin_Blogger', { 'id' : entity.id, 'path' : entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), 'type': type, method: 'DELETE' }) }}" class="btn btn-outline-danger">{{ "admin.general.Delete"|trans([], "validators") }}</a>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro facebook_form(entity, text = null) %}
	{% if isFacebookAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentFacebook">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingFacebook">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapseFacebook" aria-expanded="false" aria-controls="collapseFacebook">
				<i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook
				</a>
				</span>
			</div>
			
			<div id="collapseFacebook" class="collapse" aria-labelledby="headingFacebook" data-parent="#accordionParentFacebook">
				<div class="card-body">
					<form action="{{ path('Admin_Facebook', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<div id="tags_facebook">
							<a href="#" class="btn btn-outline-secondary" data-tag="ovni">OVNI</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ufo">UFO</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantôme">Fantôme</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ghost">Ghost</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantasma">Fantasma</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="weird">Weird</a>
						</div>
						<br>
						{% set tags = get_tags(entity, false, true) %}
						<textarea id="facebook_area" name="facebook_area" rows="3" cols="70" class="form-control">{% if text is not null %}{{ text }}{% else %}{{ entity.title }}{% endif %}{% if tags is not empty %} {% for t in tags|split(', ') %}#{{ t }}{% if loop.last == false %} {% endif %}{% endfor %}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="facebook_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro facebook_form_js() %}
	<script>
		var datas = document.getElementById("facebook_area").innerHTML.split(" ");

		document.querySelectorAll("div#tags_facebook a").forEach((e) => {
			for(var i = 0; i < datas.length; i++) {
				if(e.innerHTML.toLowerCase() == datas[i].toLowerCase())
					datas[i] = "#" + datas[i];
			}
		});

		document.getElementById("facebook_area").innerHTML = datas.join(" ");

		document.querySelectorAll("div#tags_facebook a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();

				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("facebook_area").selectionStart;
				let textareaContent = document.getElementById('facebook_area').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('facebook_area').value = output;
			});
		});
	</script>
{% endmacro %}

{% macro diaspora_form(entity, text = null) %}
	{% if isDiasporaAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentDiaspora">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingDiaspora">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapseDiaspora" aria-expanded="false" aria-controls="collapseDiaspora">
				<i class="fab fa-diaspora" aria-hidden="true"></i> Diaspora
				</a>
				</span>
			</div>
			
			<div id="collapseDiaspora" class="collapse" aria-labelledby="headingDiaspora" data-parent="#accordionParentDiaspora">
				<div class="card-body">
					<form action="{{ path('Admin_Diaspora', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<div id="tags_diaspora">
							<a href="#" class="btn btn-outline-secondary" data-tag="ovni">OVNI</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ufo">UFO</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantôme">Fantôme</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ghost">Ghost</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantasma">Fantasma</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="weird">Weird</a>
						</div>
						<br>
						{% set tags = get_tags(entity, false, true) %}
						<textarea id="diaspora_area" name="diaspora_area" rows="3" cols="70" class="form-control">{% if text is not null %}{{ text }}{% else %}{{ entity.title }}{% endif %}{% if tags is not empty %} {% for t in tags|split(', ') %}#{{ t }}{% if loop.last == false %} {% endif %}{% endfor %}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="diaspora_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro diaspora_form_js() %}
	<script>
		var datas = document.getElementById("diaspora_area").innerHTML.split(" ");

		document.querySelectorAll("div#tags_diaspora a").forEach((e) => {
			for(var i = 0; i < datas.length; i++) {
				if(e.innerHTML.toLowerCase() == datas[i].toLowerCase())
					datas[i] = "#" + datas[i];
			}
		});

		document.getElementById("diaspora_area").innerHTML = datas.join(" ");

		document.querySelectorAll("div#tags_diaspora a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();

				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("diaspora_area").selectionStart;
				let textareaContent = document.getElementById('diaspora_area').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('diaspora_area').value = output;
			});
		});
	</script>
{% endmacro %}

{% macro instagram_form(entity) %}
	{% if isInstagramAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentInstagram">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingInstagram">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapseInstagram" aria-expanded="false" aria-controls="collapseInstagram">
				<i class="fab fa-instagram-square" aria-hidden="true"></i> Instagram
				</a>
				</span>
			</div>
			
			<div id="collapseInstagram" class="collapse" aria-labelledby="headingInstagram" data-parent="#accordionParentInstagram">
				<div class="card-body">
					<form action="{{ path('Admin_Instagram', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<div id="tags_instagram">
							<a href="#" class="btn btn-outline-secondary" data-tag="ovni">OVNI</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ufo">UFO</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantôme">Fantôme</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ghost">Ghost</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantasma">Fantasma</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="weird">Weird</a>
						</div>
						<br>
						{% set tags = get_tags(entity, false, true) %}
						<textarea id="instagram_area" name="instagram_area" rows="3" cols="70" class="form-control">{{ entity.title }}{% if tags is not empty %} {% for t in tags|split(', ') %}#{{ t }}{% if loop.last == false %} {% endif %}{% endfor %}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="instagram_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro instagram_form_js() %}
	<script>
		var datas = document.getElementById("instagram_area").innerHTML.split(" ");

		document.querySelectorAll("div#tags_instagram a").forEach((e) => {
			for(var i = 0; i < datas.length; i++) {
				if(e.innerHTML.toLowerCase() == datas[i].toLowerCase())
					datas[i] = "#" + datas[i];
			}
		});

		document.getElementById("instagram_area").innerHTML = datas.join(" ");

		document.querySelectorAll("div#tags_instagram a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();

				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("instagram_area").selectionStart;
				let textareaContent = document.getElementById('instagram_area').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('instagram_area').value = output;
			});
		});
	</script>
{% endmacro %}

{% macro mastodon_form(entity) %}
	{% if isMastodonAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentMastodon">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingMastodon">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapseMastodon" aria-expanded="false" aria-controls="collapseMastodon">
				<i class="fab fa-mastodon" aria-hidden="true"></i> Mastodon
				</a>
				</span>
			</div>
			
			<div id="collapseMastodon" class="collapse" aria-labelledby="headingMastodon" data-parent="#accordionParentMastodon">
				<div class="card-body">
					<form id="form_mastodon" action="{{ path('Admin_Mastodon', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<div id="tags_mastodon">
							<a href="#" class="btn btn-outline-secondary" data-tag="ovni">OVNI</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ufo">UFO</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantôme">Fantôme</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ghost">Ghost</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantasma">Fantasma</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="weird">Weird</a>
						</div>
						<br>
						{% set tags = get_tags(entity, false, true) %}
						<textarea id="mastodon_area" name="mastodon_area" rows="3" cols="70" class="form-control">{{ entity.title }}{% if tags is not empty %} {% for t in tags|split(', ') %}#{{ t }}{% if loop.last == false %} {% endif %}{% endfor %}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="mastodon_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
						<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Mastodon" data-url="{{ path('Admin_TwitterMastodon', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'mastodon' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro mastodon_form_js() %}
	<script>
		var datas = document.getElementById("mastodon_area").innerHTML.split(" ");

		document.querySelectorAll("div#tags_mastodon a").forEach((e) => {
			for(var i = 0; i < datas.length; i++) {
				if(e.innerHTML.toLowerCase() == datas[i].toLowerCase())
					datas[i] = "#" + datas[i];
			}
		});
		
		document.getElementById("mastodon_area").innerHTML = datas.join(" ");

		document.querySelectorAll("div#tags_mastodon a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();

				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("mastodon_area").selectionStart;
				let textareaContent = document.getElementById('mastodon_area').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('mastodon_area').value = output;
			});
		});

		document.getElementById("form_mastodon").addEventListener("submit", (e) => {
			e.preventDefault();

			if(e.submitter.id == "tweetMastodon")
				e.target.setAttribute("action", document.getElementById("tweetMastodon").dataset.url);

			e.target.submit();
		});
	</script>
{% endmacro %}

{% macro twitter_form(entity, addPhoto = false) %}
	{% if isTwitterAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentTwitter">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingTwitter">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapseTwitter" aria-expanded="false" aria-controls="collapseTwitter">
				<i class="fab fa-twitter-square" aria-hidden="true"></i> Twitter
				</a>
				</span>
			</div>
			
			<div id="collapseTwitter" class="collapse" aria-labelledby="headingTwitter" data-parent="#accordionParentTwitter">
				<div class="card-body">
					<form id="form_twitter" action="{{ path('Admin_Twitter', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<p>{{ "twitter.admin.NumberOfRemainingCharacters"|trans([], "validators") }} <span id="limit_string" class="badge badge-danger">280</span></p>

						{% if addPhoto == true %}
							<label class="align-middle" for="add_image">{{ "twitter.admin.AddImage"|trans([], "validators") }}</label> <input type="checkbox" id="add_image" name="add_image" />
						{% endif %}

						<div id="tags_twitter">
							<a href="#" class="btn btn-outline-secondary" data-tag="ovni">OVNI</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ufo">UFO</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantôme">Fantôme</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="ghost">Ghost</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="fantasma">Fantasma</a>
							<a href="#" class="btn btn-outline-secondary" data-tag="weird">Weird</a>
						</div>
						<br>
						{% set tags = get_tags(entity, false, true) %}
						<textarea id="twitter_area" name="twitter_area" rows="3" cols="70" class="form-control">{{ entity.title }}{% if tags is not empty %} {% for t in tags|split(', ') %}#{{ t }}{% if loop.last == false %} {% endif %}{% endfor %}{% endif %}</textarea>
						<br>
						<input type="url" placeholder="https://example.com" name="twitter_url" class="form-control" value="{{ url(entity.showRoute, {id: entity.id, title_slug: entity.urlSlug}) }}" />
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
						<input value="{{ "admin.general.Send"|trans([], "validators") }} Twitter + Mastodon" data-url="{{ path('Admin_TwitterMastodon', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route'), socialNetwork: 'twitter' }) }}" id="tweetMastodon" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro twitter_form_js() %}
	<script>
		var datas = document.getElementById("twitter_area").innerHTML.split(" ");

		document.querySelectorAll("div#tags_twitter a").forEach((e) => {
			for(var i = 0; i < datas.length; i++) {
				if(e.innerHTML.toLowerCase() == datas[i].toLowerCase())
					datas[i] = "#" + datas[i];
			}
		});

		document.getElementById("twitter_area").innerHTML = datas.join(" ");

		var limit = 280;

		var twitterAreaFunction = function(e) {
			document.getElementById("limit_string").innerHTML = limit - this.value.length;

			if(limit <= this.value.length) {
				document.querySelector("input[type=submit]#tweet").setAttribute("disabled", "disabled");
				document.querySelector("input[type=submit]#tweetMastodon").setAttribute("disabled", "disabled");
			}
			else {
				document.querySelector("input[type=submit]#tweet").removeAttribute("disabled");
				document.querySelector("input[type=submit]#tweetMastodon").removeAttribute("disabled");
			}
		};

		document.getElementById("twitter_area").addEventListener("keydown", twitterAreaFunction);
		document.getElementById("twitter_area").addEventListener("keyup", twitterAreaFunction);

		document.getElementById("limit_string").innerHTML = limit - document.getElementById("twitter_area").value.length;

		//Twitter Tags
		document.querySelectorAll("div#tags_twitter a").forEach(e => {
			e.addEventListener('click', (e2) => {
				e2.preventDefault();
			
				let textToInsert = "#" + e2.srcElement.dataset.tag;
				let position = document.getElementById("twitter_area").selectionStart;
				let textareaContent = document.getElementById('twitter_area').value;
				let output = [textareaContent.slice(0, position), textToInsert, textareaContent.slice(position)].join('');

				document.getElementById('twitter_area').value = output;
				document.getElementById("limit_string").innerHTML = limit - document.getElementById("twitter_area").value.length;
			});
		});

		document.getElementById("form_twitter").addEventListener("submit", (e) => {
			e.preventDefault();

			if(e.submitter.id == "tweetMastodon")
				e.target.setAttribute("action", document.getElementById("tweetMastodon").dataset.url);

			e.target.submit();
		});
	</script>
{% endmacro %}

{% macro pinterest_form(entity) %}
	{% if isPinterestAvailable(entity) %}
	<div class="accordion mb-2" id="accordionParentPinterest">
		<div class="card sub_block">
			<div class="card-header" role="tab" id="headingPinterest">
				<span class="panel-title">
				<a href="#" role="button" data-toggle="collapse" data-target="#collapsePinterest" aria-expanded="false" aria-controls="collapsePinterest">
				<i class="fab fa-pinterest" aria-hidden="true"></i> Pinterest
				</a>
				</span>
			</div>
			<div id="collapsePinterest" class="collapse" aria-labelledby="headingPinterest" data-parent="#accordionParentPinterest">
				<div class="card-body">
					<form action="{{ path('Admin_Pinterest', { 'id' : entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route') }) }}" method="post">
						<textarea id="pinterest_area" name="twitter_area" rows="3" cols="70" class="form-control">{{ entity.title }}</textarea>
						<br>
						<input value="{{ "admin.general.Send"|trans([], "validators") }}" id="tweet" type="submit" class="btn btn-outline-secondary" />
					</form>
				</div>
			</div>
		</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro tinymce_init_js() %}
	<script src="{{ asset('extended/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
{% endmacro %}

{% macro tinymce_js(id) %}
	{% set language = null %}
	{% if app.request.locale == "fr" %}
		{% set language = "fr_FR" %}
	{% elseif app.request.locale == "es" %}
		{% set language = "es" %}
	{% endif %}

	<script>
		function loadTinyMCE{{ id }}() {
			tinymce.init({
				selector:'#{{ id }}',
				height: 250,
				{% if language is not null %}
					language: '{{ language }}',
				{% endif %}
				menubar: false,
				statusbar: false,
				browser_spellcheck: true,
				plugins: 'lists link image charmap media',
				toolbar: 'bold italic underline | forecolor backcolor insert | alignleft aligncenter alignright alignjustify | bullist numlist | link image | undo redo',
				setup: function (editor) {
					editor.on('change', function () {
						tinymce.triggerSave();
					});
				}
			});
		}

		loadTinyMCE{{ id }}("#{{ id }}");
	</script>
{% endmacro %}

{% macro tinymce_light_js(id) %}
	{% set language = null %}
	{% if app.request.locale == "fr" %}
		{% set language = "fr_FR" %}
	{% elseif app.request.locale == "es" %}
		{% set language = "es" %}
	{% endif %}

	<script>
	tinymce.init({
		selector:'#{{ id }}',
		height: 150,
		{% if language is not null %}
			language: '{{ language }}',
		{% endif %}
		menubar: false,
		statusbar: false,
		browser_spellcheck: true,
		plugins: 'lists link image charmap media code',
		toolbar: 'bold italic underline | link | undo redo | code',
		setup: function (editor) {
			editor.on('change', function () {
				tinymce.triggerSave();
			});
		}
	});
	</script>
{% endmacro %}

{% macro tinymce_admin_js(selector, uploadRoute) %}
	{% set language = null %}
	{% if app.request.locale == "fr" %}
		{% set language = "fr_FR" %}
	{% elseif app.request.locale == "es" %}
		{% set language = "es" %}
	{% endif %}

	<script>
		tinymce.init({
			statusbar: false,
			extended_valid_elements : "a[class|name|href|target|title|onclick|rel],script[type|src],iframe[src|style|width|height|scrolling|marginwidth|marginheight|frameborder],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name]",
			height: 300,
			block_formats: 'Header 3=h3;Header 4=h4;Header 5=h5;Header 6=h6',
			menubar: false,
			browser_spellcheck: true,
			{% if language is not null %}
				language: '{{ language }}',
			{% endif %}
			selector:'#{{ selector }}',
			entity_encoding: "raw",
			toolbar: 'bold italic underline | blocks | forecolor backcolor | alignleft aligncenter alignright alignjustify | numlist bullist | link image media replacePWithBr code | undo redo | fullscreen',
			plugins: 'lists link image charmap media code fullscreen',
			paste_preprocess : function(pl, o) {
				o.content = o.content.replace(/(<|&lt;)br\s*\/*(>|&gt;)/gi, '');
				o.content = o.content.replace(/<(\w+)\s*(?:(?:(?:(?!href=|alt=)[^>]))*((?:href|alt)=['"][^'"]*['"]\s*)?)(?:(?:(?:(?!href=|alt=)[^>]))*((?:href|alt)=['"][^'"]*['"]\s*)?)(?:(?:(?:(?!href=|alt=)[^>]))*((?:href|alt)=['"][^'"]*['"]\s*)?)[^>]*>/gi, '<$1 $2$3$4>');
				o.content = o.content.replace(/<[a-z][a-z0-9]*\s*?>\s*<\/[a-z][a-z0-9]*>/gi, '');
				o.content = o.content.replace(/(<|&lt;)br\s*\/*(>|&gt;)/gi, '');
				o.content = o.content.replace(/<p>[\n\r]+<\/p>/g, '');
				o.content = o.content.replace(/(<p>\s*<\/p>)*/gi, '');
			},
			setup: function (editor) {
				editor.ui.registry.addButton('replacePWithBr', {
					tooltip: "Replace paragraph with line break",
					icon: "line-height",
					onAction: (_) => {
						var selection = editor.selection.getContent();
						selection = selection.replace(/(<p.*?>)/igm, '').replace(/<\/p>/igm, '<br>');
						selection  = "<p>"+selection+"</p>";
						editor.insertContent(selection);
					}
				});
			},
			{% if uploadRoute != "" %}
				file_picker_types: 'file image',
				image_caption: true,
				relative_urls: false,
				file_picker_callback: function (cb, value, meta) {
					var input = document.createElement('input');
					input.setAttribute('type', 'file');
					input.addEventListener('change', (e) => {
						const file = e.target.files[0];

						var formdata = new FormData();
						formdata.append("image", file);
						
						var xhr = new XMLHttpRequest();

						xhr.open("POST", "{{ uploadRoute }}?fileType=" + meta.filetype, true);    
						
						xhr.send(formdata);
						
						xhr.onreadystatechange = function() {
							if(xhr.readyState == 4 && xhr.status == 200)
							{
								var json = JSON.parse(xhr.response);
								console.log(json)
								cb(json.title);
							}
						}
						return
					});

					input.click();
				}
			{% endif %}
		});
	</script>
{% endmacro %}

{% macro thedailytruth_form(entity) %}
	{% if isTheDailyTruthAvailable(entity.language.abbreviation) %}
		<div class="accordion mb-2" id="accordionParentTheDailyTruth">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingTheDailyTruth">
					<span class="panel-title">
					<a href="#" role="button" data-toggle="collapse" data-target="#collapseTheDailyTruth" aria-expanded="false" aria-controls="collapseTheDailyTruth">
					<i class="fas fa-yin-yang"></i> The Daily Truth
					</a>
					</span>
				</div>
				<div id="collapseTheDailyTruth" class="collapse" aria-labelledby="headingTheDailyTruth" data-parent="#accordionParentTheDailyTruth">
					<div class="card-body">
						<form action="{{ path('Admin_TheDailyTruth', {'id': entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route')}) }}" method="POST">
							{% set tags = themes_by_language(entity.language.abbreviation) %}

							<select multiple name="thedailytruth_tags[]" class="form-control selectpicker" data-live-search="true" data-width="100%" style="z-index: inherit; position: relative">
								{% for tag in tags %}
									<option value="{{ tag }}">{{ tag }}</option>
								{% endfor %}
							</select>
							<br>
							<br>
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro wakondaguru_form(entity) %}
	{% if isWakondaGuruAvailable(entity.language.abbreviation) %}
		<div class="accordion mb-2" id="accordionParentWakondaGuru">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingWakondaGuru">
					<span class="panel-title">
					<a href="#" role="button" data-toggle="collapse" data-target="#collapseWakondaGuru" aria-expanded="false" aria-controls="collapseWakondaGuru">
					<i class="fas fa-robot"></i> Wakonda.GURU
					</a>
					</span>
				</div>
				<div id="collapseWakondaGuru" class="collapse" aria-labelledby="headingWakondaGuru" data-parent="#accordionParentWakondaGuru">
					<div class="card-body">
						<form action="{{ path('Admin_WakondaGuru', {'id': entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route')}) }}" method="POST">
							<input type="submit" value="{{ "admin.general.Send"|trans([], "validators") }}" class="btn btn-outline-secondary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endmacro %}

{% macro muse_form(entity) %}
	{% if isMuseAvailable(entity.language.abbreviation) %}
		<div class="accordion mb-2" id="accordionParentMuse">
			<div class="card sub_block">
				<div class="card-header" role="tab" id="headingMuse">
					<span class="panel-title">
					<a href="#" role="button" data-toggle="collapse" data-target="#collapseMuse" aria-expanded="false" aria-controls="collapseMuse">
					<i class="fas fa-palette"></i> Muse
					</a>
					</span>
				</div>
				<div id="collapseMuse" class="collapse" aria-labelledby="headingMuse" data-parent="#accordionParentMuse">
					<div class="card-body">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#museModal">{{ "admin.general.Send"|trans([], "validators") }}</button>

					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="museModal" tabindex="-1" aria-labelledby="museModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="museModalLabel"><i class="fas fa-palette"></i> Muse</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="form" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="url">URL</label>
								<input type="text" name="url" class="form-control" id="url" required>
							</div>
							<div class="form-group">
								<label for="size">{{ "admin.general.Size"|trans([], "validators") }}</label>
								<input type="number" name="size" class="form-control" id="size" value="35" required>
							</div>
							<button type="submit" class="btn btn-success" id="loadImage"><i class="fas fa-arrows-rotate"></i> {{ "admin.general.Generate"|trans([], "validators") }}</button>
						</form>
						<img src="" id="img_preview" style="display: none" class="img-fluid w-100 mt-2" />
					</div>
					<div class="modal-footer">
						<form action="{{ path('Admin_Muse', {'id': entity.id, 'path': entity.entityName|url_encode, 'routeToRedirect' : app.request.attributes.get('_route')}) }}" method="POST">
							<input type="text" value="" name="image_generated" id="image_generated" style="display: none" />
							<button type="submit" class="btn btn-outline-secondary">{{ "admin.general.Send"|trans([], "validators") }}</button>
						</form>
					</div>
				</div>
			</div>
		</div>	

		<script>
			document.querySelector("#form").addEventListener("submit", (e) => {
				e.preventDefault();

				document.getElementById("img_preview").style.display = "none";

				var data = new FormData();

				data.append('url', document.getElementById("url").value);
				data.append('size', document.getElementById("size").value);

				document.querySelector('#loadImage .fa-arrows-rotate').classList.add("fa-spin");

				var xhr = new XMLHttpRequest();

				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4) {
						let data = JSON.parse(xhr.responseText)
						document.getElementById("img_preview").style.display = "block";
						document.getElementById("img_preview").setAttribute("src", "data:image/png;base64," + data.content);
						document.getElementById("image_generated").value = data.content;
						document.querySelector('#loadImage .fa-arrows-rotate').classList.remove("fa-spin");
					}
				};

				xhr.open('POST', '{{ path("Quotation_Admin_GenerateImageAjax", {id: entity.id}) }}');
				xhr.send(data);
			});
		</script>
	{% endif %}
{% endmacro %}

{% macro select_list_theme(themes, routePath, text_button) %}
	<form name="choixTheme" id="choose_theme_news" action="{{ path(routePath, { 'page' : 1}) }}" method="post" class="form-inline">
		<label for="theme_news">{{ "news.index.ChoisissezUnTheme"|trans([], "validators") }} : </label>
		<div class="input-group">
			<select id="theme_news" name="theme_news" class="form-control selected_theme_news">
				<option value="">{{ "news.index.Tout"|trans([], "validators") }}</option>
				{% for theme in themes %}
					<option value="{{ theme.id }}">{{ theme.title }}</option>
				{% endfor %}
			</select>
			<div class="input-group-append">
				<button id="selectTheme" type="submit" class="btn btn-primary"><i class="far fa-eye" aria-hidden="true"></i>{% if is_mobile() == false %} {{ text_button|trans([], 'validators') }}{% endif %}</button> 
			</div>
		</div>
	</form>
{% endmacro %}

{% macro select2_autocomplete() %}
	<link rel="stylesheet" type="text/css" href="{{ asset('extended/js/select2/dist/css/select2.min.css') }}" media="screen" />
	<script src="{{ asset('extended/js/select2/dist/js/select2.full.min.js') }}"></script>
	<script src="{{ asset('extended/js/select2/dist/js/i18n/'~app.request.locale~'.js') }}"></script>
	<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endmacro %}

{% macro tarteaucitron_js() %}
	<script src="{{ asset('extended/js/tarteaucitron.js/tarteaucitron.min.js') }}"></script>
	
	<script type="text/javascript">
	tarteaucitron.init({
	  "privacyUrl": "", /* Privacy policy url */
	  "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
	  "cookieName": "tarteaucitron", /* Cookie name */

	  "orientation": "middle", /* Banner position (top - bottom) */
   
	  "groupServices": false, /* Group services by category */
	  "serviceDefaultState": "wait", /* Default state (true - wait - false) */
					   
	  "showAlertSmall": false, /* Show the small banner on bottom right */
	  "cookieslist": false, /* Show the cookie list */
					   
	  "closePopup": false, /* Show a close X on the banner */

	  "showIcon": true, /* Show cookie icon to manage cookies */
	  //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
	  "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

	  "adblocker": false, /* Show a Warning if an adblocker is detected */
					   
	  "DenyAllCta" : true, /* Show the deny all button */
	  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
	  "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
					   
	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

	  "removeCredit": false, /* Remove credit link */
	  "moreInfoLink": true, /* Show more info link */

	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
	  "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
					  
	  "readmoreLink": "{{ path("Page_Cookie") }}", /* Change the default readmore link */

	  "mandatory": true, /* Show a message about mandatory cookies */
	  "mandatoryCta": true /* Show the disabled accept button when mandatory on */
	});
	
	(tarteaucitron.job = tarteaucitron.job || []).push('adsense');
	</script>
{% endmacro %}