{% extends "admin/admin.html.twig" %}

{% block h2_title %}{{ "admin.index.News"|trans([], "validators") }} - {{ state.title }}{% endblock %}

{% block new_entry %}
	<li class="nav-item"><a class="nav-link" href="{{ path('Admin_Index') }}" title="Index"><i class="fas fa-home" aria-hidden="true"></i> Index</a></li>
{% endblock %}

{% block style_edit %}
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap4.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/extensions/Responsive/css/responsive.bootstrap4.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block js_edit %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap4.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/extensions/Responsive/js/responsive.bootstrap4.min.js') }}"></script>
	<script>
		$(function ()
		{
			oTable = $('table.index_admin').dataTable( {
				"oLanguage": {
					"sUrl": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"bFilter": true,
				"bInfo": true,
				"bLengthChange": true,
				"aaSorting": [[ 0, "desc" ]],
				"sPaginationType": "full_numbers",
				"iDisplayLength": {{ total_line_display }}
			});
		});
	</script>
{% endblock %}

{% block body_main %}
	<table class="table table-striped table-bordered dataTable index_admin">
		<thead>
			<tr>
				<th class="label_form">Id</th>
				<th class="label_form">{{ "news.admin.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Date"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Author"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Theme"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Archive"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Language"|trans([], "validators") }}</th>
				<th class="label_form">{{ "admin.index.Action"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td><a href="{{ path('News_Admin_Show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
				<td>{{ entity.title }}</td>
				<td>{{ entity.publicationDate|date('Y-m-d') }}</td>
				<td>{{ entity.pseudoUsed }}</td>
				<td>{{ entity.theme.title }}</td>
				<td>{{ entity.archive }}</td>
				<td>{% if entity.language.logo is defined %}<img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20px" height="13px" />{% endif %}</td>
				<td>
					<a href="{{ path('News_Admin_Show', { 'id': entity.id }) }}"><i class="fas fa-book" aria-hidden="true"></i> {{ "admin.general.Read"|trans([], "validators") }}</a><br />
					<a href="{{ path('News_Admin_Edit', { 'id': entity.id }) }}"><i class="fas fa-sync-alt" aria-hidden="true"></i> {{ "admin.general.Update"|trans([], "validators") }}</a><br />
				</td>
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">Id</th>
				<th class="label_form">{{ "news.admin.Title"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Date"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Author"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Theme"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Archive"|trans([], "validators") }}</th>
				<th class="label_form">{{ "news.admin.Language"|trans([], "validators") }}</th>
				<th class="label_form">{{ "admin.index.Action"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<div class="clearfix"></div>
{% endblock %}