{% macro updateListForm(form) %}
	$("#{{ form.vars.language.id }}").change(function()
	{
		var currentState = $("#{{form.vars.state.id }}").find('option:selected').data('intl');

		$.ajax({
			type: "POST",
			url: "{{ path('News_Admin_ReloadThemeByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var theme = data.theme;
				$("#{{ form.vars.theme.id }} option").remove();
				$.each(theme, function(index, element)
				{
					$("#{{ form.vars.theme.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
				var state = data.state;
				$("#{{ form.vars.state.id }} option").remove();
				$.each(state, function(index, element)
				{
					$("#{{ form.vars.state.id }}").append('<option value="'+ element.id +'" data-intl="'+ element.intl +'"' + (currentState == element.intl ? "selected" : "") + '>'+ element.title +'</option>');
				});
				var licence = data.licence;
				$("#{{form.vars.licence.id }} option").remove();
				$.each(licence, function(index, element)
				{
					$("#{{ form.vars.licence.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
			}
		});
	});
{% endmacro %}