{% extends "admin/GenericAdmin/index.html.twig" %}

{% block h2_title %}{{ "admin.index.Photo"|trans([], "validators") }}{% endblock %}

{% block new_admin_route %}{{ path('Photo_Admin_New') }}{% endblock %}
{% block indexdatatables_admin_route %}{{ path('Photo_Admin_IndexDatatables') }}{% endblock %}

{% block thead_admin_table %}
	<th class="label_form">Id</th>
	<th class="label_form">{{ "photo.admin.Title"|trans([], "validators") }}</th>
	<th class="label_form">{{ "photo.admin.PublicationDate"|trans([], "validators") }}</th>
	<th class="label_form">{{ "admin.index.Action"|trans([], "validators") }}</th>
{% endblock %}

{% block tfoot_admin_table %}
	<th class="label_form">Id</th>
	<th class="label_form">{{ "photo.admin.Title"|trans([], "validators") }}</th>
	<th class="label_form">{{ "photo.admin.PublicationDate"|trans([], "validators") }}</th>
	<th class="label_form">{{ "admin.index.Action"|trans([], "validators") }}</th>
{% endblock %}

{% block body_main_additional_bottom %}
	<div class="container-fluid mt-3">
		<h3>{{ "admin.general.Assessment"|trans([], "validators") }}</h3>
		<table class="table table-striped table-bordered">
			<tr>
				<th>{{ "admin.general.Archived"|trans([], "validators") }}</th>
				<td><span class="badge badge-danger">{{ count_archived("App\\Entity\\Photo") }}</span></td>
			</tr>
		</table>
	</div>
{% endblock %}