{% set version = 'v2' %}

{% if app.session.has('v') and app.session.get('v') == 'v3' %}
	{% set version = 'v3' %}
{% endif %}

{% extends "layout_"~version~".html.twig" %}

{% block title %}{% endblock %}

{% block content %}
	{{ parent() }}
	<div class="content">
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success text-center">
			{{ flashMessage|raw }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="alert alert-danger text-center">
			{{ flashMessage|raw }}
		</div>
		{% endfor %}
	
		{% block APBlog_body %}
		{% endblock %}
	</div>
{% endblock %}

{## V3 ##
{% extends "layout_v3.html.twig" %}

{% block h2_title %}{% endblock %}
{% block title %}{% endblock %}

{% block content %}
	{{ parent() }}
	<div class="content">
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success text-center">
			{{ flashMessage|raw }}
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="alert alert-danger text-center">
			{{ flashMessage|raw }}
		</div>
		{% endfor %}

		{% block APBlog_body %}
		{% endblock %}
	</div>
{% endblock %}
## END_V3 ##}