<div id="social_network" class="d-flex justify-content-between justify-content-md-start flex-wrap">
	{% if entity.getPdfVersionRoute() is defined %}
	<div class="d-none d-sm-inline pe-1 pb-1">
		<a href="{{ path(entity.getPdfVersionRoute(), {'id':entity.id} ) }}"><img src="{{ asset('extended/photo/pdf.svg') }}" width="40" alt="PDF version" class="social_network_to_select"></a>
	</div>
	{% endif %}
	<div class="d-none d-sm-inline pe-1 pb-1">
		<span id="print_page" class="social_network_to_select"><img src="{{ asset('extended/photo/print.svg') }}" width="40" alt="Print version"></span>
		<script>
			document.getElementById("print_page").addEventListener("click", (e) => {
				window.print();
			});
		</script>
	</div>
	<div class="pe-1 pb-1">
		<a href="#" class="btn social-share facebook share-data {{ is_mobile() ? 'btn-sm' : '' }}" title="Facebook"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
	</div>
	<div class="pe-1 pb-1">
		<a href="#" class="btn social-share twitter share-data {{ is_mobile() ? 'btn-sm' : '' }}" title="Twitter"><i class="fab fa-x-twitter fa-lg fa-fw"></i></a>
	</div>
	<div class="pe-1 pb-1">
		<a href="#" class="btn social-share whatsapp share-data {{ is_mobile() ? 'btn-sm' : '' }}" title="WhatsApp"><i class="fab fa-whatsapp fa-lg fa-fw"></i></a>
	</div>
	<div class="pe-1 pb-1">
		<a href="#" class="btn social-share linkedin share-data {{ is_mobile() ? 'btn-sm' : '' }}" title="LinkedIn"><i class="fab fa-linkedin-in fa-lg fa-fw"></i></a>
	</div>
	<div class="pe-1 pb-1">
		<a href="#" class="btn social-share flipboard share-data {{ is_mobile() ? 'btn-sm' : '' }}" title="Flipboard"><i class="fab fa-flipboard fa-lg fa-fw"></i></a>
	</div>
	<div class="pe-1 pb-1">
		<a href="#" class="btn social-share mastodon {{ is_mobile() ? 'btn-sm' : '' }}" title="Mastodon" data-bs-toggle="modal" data-bs-target="#mastodonModal"><i class="fab fa-mastodon fa-lg fa-fw"></i></a>
	</div>
	<div class="pb-1">
		<a href="#" class="btn social-share weibo share-data {{ is_mobile() ? 'btn-sm' : '' }}" title="Sina Weibo"><i class="fab fa-weibo fa-lg fa-fw"></i></a>
	</div>
</div>

<div class="modal fade" id="mastodonModal" tabindex="-1" aria-labelledby="mastodonModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-white h4" id="mastodonModalLabel"><i class="fab fa-mastodon"></i> {{ "mastodon.index.PleaseEnterYourInstance"|trans([], "validators") }}</h4>
				<button type="button" class="close text-danger" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="fas fa-times"></i></span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-white h5">{{ "mastodon.index.ChooseAnInstance"|trans([], "validators") }}</p>
				<div class="input-group">
					<span class="input-group-text">https://</span>
					<input type="text" class="form-control" placeholder="URL" id="url-mastodon-value" value="mastodon.social">
				</div>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-primary share-mastodon"><i class="fas fa-share"></i> {{ "mastodon.index.Share"|trans([], "validators") }}</button>
			</div>
		</div>
	</div>
</div>

<script>
	function socialWindow(url) {
		var left = (screen.width - 570) / 2;
		var top = (screen.height - 570) / 2;
		var params = "menubar=no,toolbar=no,status=no,width=570,height=570,top=" + top + ",left=" + left;
		window.open(url,"NewWindow",params);
	}

	var pageUrl = encodeURIComponent(document.URL);
	var title = encodeURIComponent(document.querySelector("title").innerHTML);

	document.querySelector(".share-data.facebook").addEventListener("click", (e) => {
		e.preventDefault();
		e.stopPropagation();
		url = "https://www.facebook.com/sharer.php?u=" + pageUrl;
		socialWindow(url);
	});
	
	document.querySelector(".share-data.twitter").addEventListener("click", (e) => {
		e.stopPropagation();
		e.preventDefault();
		url = "https://twitter.com/intent/tweet?url=" + pageUrl + "&text=" + title;
		socialWindow(url);
	});

	document.querySelector(".share-data.linkedin").addEventListener("click", (e) => {
		e.stopPropagation();
		e.preventDefault();
		url = "https://www.linkedin.com/shareArticle?mini=true&url=" + pageUrl;
		socialWindow(url);
	});

	document.querySelector(".share-data.whatsapp").addEventListener("click", (e) => {
		e.stopPropagation();
		e.preventDefault();
		url = "https://wa.me/?text=" + title + " " + pageUrl;
		socialWindow(url);
	});

	document.querySelector(".share-data.flipboard").addEventListener("click", (e) => {
		e.stopPropagation();
		e.preventDefault();
		url = "https://share.flipboard.com/bookmarklet/popout?v=2&title=" + title + "&url=" + pageUrl;
		socialWindow(url);
	});

	document.querySelector(".share-data.weibo").addEventListener("click", (e) => {
		e.stopPropagation();
		e.preventDefault();
		url = "https://service.weibo.com/share/share.php?title=" + title + "&url=" + pageUrl;
		socialWindow(url);
	});

	document.querySelector(".share-mastodon").addEventListener("click", (e) => {
		e.preventDefault();
		e.stopPropagation();

		new bootstrap.Modal(document.getElementById('mastodonModal')).show();

		let url = document.getElementById("url-mastodon-value").value
		url = url.replace(/^https?:\/\//, '').replace(/^\/+|\/+$/g, '');

		socialWindow("https://" + url + "/share?text=" + title + " " + pageUrl);
	});
</script>