{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Contact"|trans([], "validators") }}{% endblock %}

{% block new_admin_route %}{% endblock %}
{% block index_admin_route %}{{ path('Contact_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Contact_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "contact.admin.Pseudo"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.pseudoContact }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "contact.admin.Email"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.emailContact }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "contact.admin.Subject"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.subjectContact }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "contact.admin.Message"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.messageContact|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "contact.admin.Date"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.dateContact|dodate(false, app.request.locale) }}</div>
{% endblock %}