{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Country"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Country_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Country_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Country_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Country_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "country.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "country.admin.Flag"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.getAssetImagePath()) }}{{ entity.flag }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "country.admin.InternationalName"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.internationalName }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "country.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Country_Admin_Internationalization", "showRoute": "Country_Admin_Show", "editRoute": "Country_Admin_Edit"})) }}
{% endblock %}