{% for entity in entities %}
	<h3>{{ entity.title }}</h3>
	<p>{{ entity.text|raw }}</p>
	<br>
	<p class="text-center"><a href="{{ entity.link }}" target="_blank"><img class="image" src="{{ asset('extended/photo/licence/'~entity.logo) }}" alt="{{ entity.title }}"></a></p>
{% endfor %}