{% extends "content_layout.html.twig" %}

{% block title %}{{ "quotation.index.Proverb"|trans([], "validators") }} - {{ country.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset(country.getAssetImagePath()) }}{{ country.flag }}" alt="" width="20" height="13" /></span>{{ "quotation.index.Proverb"|trans([], "validators") }} - {{ country.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script>
		$(function ()
		{
			oTable = $('table.doc_datatables').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"lengthChange": true,
				"order": [[ 0, "desc" ]],
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"processing": true,
				"serverSide": true,
				"responsive": {
					"details": {
						display: $.fn.dataTable.Responsive.display.childRowImmediate,
						type: 'none',
						target: ''
					}
				},
				"ajax": "{{ path('Proverb_listProverbByCountryDatatables', { countryId: country.id }) }}",
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/angel-proverb.jpg') }}" alt="Angel AI" width="550" /></p>
	<hr>
	<table class="doc_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "quotation.list.Proverb"|trans([], "validators") }}</th>
				<th class="label_form">{{ "quotation.list.Read"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "quotation.list.Proverb"|trans([], "validators") }}</th>
				<th class="label_form">{{ "quotation.list.Read"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}