{% extends "content_layout.html.twig" %}

{% block title %}{{ "quotation.index.Quotation"|trans([], "validators") }} - {{ entity.authorQuotation.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/avengers-hawkeye-icon.png') }}" width="25" class="mt-1" alt="Werewolf"/></span>{{ "quotation.index.Quotation"|trans([], "validators") }}{% if entity.isQuotationFamily %} - {{ entity.authorQuotation.title }}{% endif %}</h2>{% endblock h2_title %}

{% block meta_plus %}
	<meta name="twitter:card" content="summary">
	<meta property="og:title" content="{{ "quotation.index.Quotation"|trans([], "validators") }} - {{ entity.authorQuotation.title }}">

	{% if entity.images is not empty %}
		{% set img = entity.images|last %}
		<meta property="og:image" content="{{ absolute_url(asset(entity.getAssetImagePath() ~ img.image)) }}">
	{% endif %}
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/read-quote.webp') }}" alt="Angel sitting" width="550"></p>
	<hr>
	<div id="quotation_bubble" class="alert alert-light text-center">
		&ldquo;{{ entity.textQuotation|nl2br }}&rdquo;
	</div>

	<i class="fa-solid fa-user"></i> <a href="{{ path('Biography_Show', { id: entity.authorQuotation.id, title_slug: entity.authorQuotation.slug }) }}" alt="{{ entity.authorQuotation.title }}" class="fw-bold">{{ entity.authorQuotation.title }}</a>

	{% if entity.images is not empty %}
		<div id="carousel-quote-read" class="carousel-pagination carousel slide mt-3" data-interval="false">
			<ol class="carousel-indicators carousel-indicators-numbers pagination">
			{% set i = 0 %}
			{% set j = 1 %}
			{% for imageEntity in entity.images %}
				<li data-bs-target="#carousel-quote-read" data-bs-slide-to="{{ i }}" {{ i == 0 ? 'class="active"' : '' }}>{{ j }}</li>
				{% set i = i + 1 %}
				{% set j = j + 1 %}
			{% endfor %}
			</ol>

			<div class="carousel-inner">
				{% set i = 0 %}
				{% for imageEntity in entity.images %}
					<div class="carousel-item {{ i == 0 ? 'active' : '' }}">
						<div>{{ imageEntity.image|imgsize(550, entity.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</div>
					</div>
					{% set i = i + 1 %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	
	{% if entity.explanation is not empty %}
	<br>
	<br>
	<h3>{{ "quotation.read.Explanation"|trans([], "validators") }}</h3>
	{{ entity.explanation|raw }}
	{% endif %}

	{% set sources = source_document(entity.source, entity.language) %}
	{% if sources is not empty %}
		<br>
		<h3>{{ "news.index.Sources"|trans([], "validators") }}</h3>
		{{ sources|raw }}
	{% endif %}
	<hr>
	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.textQuotation~'('~entity.authorQuotation.title~')', 'entity':entity, 'url':app.request.server.get("REQUEST_URI")} %}

	{% if entity.tags is not empty %}
		<br>
		{% set tags = json_decode(entity.tags)|column("value") %}
		<fieldset class="p-2">
			<legend class="ml-2 float-none"> Tags </legend>
			{% for tag in tags %}
				<a href="{{ path('Quotation_Index', { family: constant('App\\Entity\\Quotation::QUOTATION_FAMILY'), keyword: tag }) }}" class="tags_display">{{ tag }}</a>
			{% endfor %}
		</fieldset>
	{% endif %}
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}