{% extends "content_layout.html.twig" %}

{% block title %}{{ "quotation.index.Proverb"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/avengers-hawkeye-icon.png') }}" width="25" class="mt-1" alt="Werewolf"/></span>{{ "quotation.index.Poem"|trans([], "validators") }} - {{ entity.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/poem-read.webp') }}" alt="Angel in water" width="400" /></p>
	<hr>
	{{ entity.textQuotation|nl2br }}
	<hr>
	<div id="author_quotation"><a href="{{ path('Biography_Show', { 'id' : entity.authorQuotation.id, 'title': entity.authorQuotation.title }) }}" alt="{{ entity.authorQuotation.title }}" class="fw-bold">{{ entity.authorQuotation.title }}</a></div>
	<hr>

	{% if entity.images is not empty %}
		<div id="carousel-quote-read" class="carousel-pagination carousel slide mt-3" data-interval="false">
			<!-- Indicators -->
			<ol class="carousel-indicators carousel-indicators-numbers pagination">
			{% set i = 0 %}
			{% set j = 1 %}
			{% for imageEntity in entity.images %}
				<li data-bs-target="#carousel-quote-read" data-bs-slide-to="{{ i }}" {{ i == 0 ? 'class="active"' : '' }}>{{ j }}</li>
				{% set i = i + 1 %}
				{% set j = j + 1 %}
			{% endfor %}
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{% set i = 0 %}
				{% for imageEntity in entity.images %}
					<div class="carousel-item {{ i == 0 ? 'active' : '' }}">
						<div>{{ imageEntity.image|imgsize(550, entity.getAssetImagePath(), true, { 'class': 'mx-auto d-block img-fluid'})|raw }}</div>
					</div>
					{% set i = i + 1 %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	
	{% if entity.explanation is not empty %}
	<br>
	<br>
	<h3>{{ "quotation.read.Explanation"|trans([], "validators") }}</h3>
	{{ entity.explanation|raw }}
	{% endif %}

	{% set sources = source_document(entity.source, entity.language) %}
	{% if sources is not empty %}
		<br>
		<h3>{{ "news.index.Sources"|trans([], "validators") }}</h3>
		{{ sources|raw }}
	{% endif %}

	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.textQuotation~'('~entity.country.title~')', 'entity':entity, 'url':app.request.server.get("REQUEST_URI")} %}

	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}