{% macro import_wikipedia(fieldId, sourceField = null) %}
<style>
	.select2-container--default {
		height: calc(1.5em + .75rem + 2px);
	}
	.select2-selection--multiple {
		height: calc(1.5em + .75rem + 2px);
		overflow: auto;
	}
</style>
<div class="input-group mb-2">
	<div class="input-group-prepend">
		<span class="input-group-text"><i class="fab fa-wikipedia-w"></i></span>
	</div>
	<input type="text" id="url_{{ fieldId }}" class="form-control"/>
	<select id="sections_{{ fieldId }}" name="sections[]" multiple="multiple" style="min-width: 25%"></select>
	<button type="button" class="btn btn-success" id="import_url_{{ fieldId }}"><i class="fas fa-check" id="import_url_icon_{{ fieldId }}"></i></button>
</div>
<link rel="stylesheet" type="text/css" href="{{ asset('extended/js/select2/dist/css/select2.min.css') }}" media="screen" />
<script src="{{ asset('extended/js/select2/dist/js/select2.full.min.js') }}"></script>
<script src="{{ asset('extended/js/select2/dist/js/i18n/'~app.request.locale~'.js') }}"></script>
<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
<script>
	$(function() {
		$('#sections_{{ fieldId }}').select2();
		$("#url_{{ fieldId }}").on("change paste", function(e) {
			e.preventDefault();
			
			let url = $("#url_{{ fieldId }}").val();
			
			if(typeof (e.originalEvent || e).clipboardData !== "undefined") {
				url = (e.originalEvent || e).clipboardData.getData('text/plain');
				$("#url_{{ fieldId }}").val(url);
			}
			
			if(url == "")
				return;

			$.ajax({
				type: "GET",
				url: "{{ path('Admin_WikipediaSections') }}",
				data: { "url" : url },
				success: function(data)
				{
					$('#sections_{{ fieldId }}').html("").select2({"data": data, closeOnSelect: false});
				}
			});
		});

		$("#import_url_{{ fieldId }}").click(function(e) {
			e.preventDefault();
			let url = $("#url_{{ fieldId }}").val();
			let sections = $("#sections_{{ fieldId }}").val();
			
			$("#import_url_icon_{{ fieldId }}").removeClass("fa-check").addClass("fa-sync fa-spin");

			$.ajax({
				type: "POST",
				url: "{{ path('Admin_ImportWikipedia') }}",
				data: { "url" : url, "sections": sections },
				beforeSend: function( xhr ) {
					{% if sourceField is not null %}
						var data = editor{{ sourceField }}.getValue();
						data.type = "url"
						data.url = url
						editor{{ sourceField }}.setValue(data)
					{% endif %}
				},
				success: function(data)
				{
					tinymce.get("{{ fieldId }}").setContent(data.content);

					{% if sourceField is not null %}
						document.getElementById('add_source_{{ sourceField }}').click();
					{% endif %}
				},
				complete: function(data) {
					$("#import_url_icon_{{ fieldId }}").addClass("fa-check").removeClass("fa-sync fa-spin");
				}
			});
		});
	});
</script>
{% endmacro %}

{% macro wikidata_html_generic(form) %}
<div class="form-table-cell form-table-cell-head">{{ form_label(form.wikidata, "Wikidata") }}</div>
<div class="form-table-cell">
	<div class="input-group">{{ form_errors(form.wikidata) }}{{ form_widget(form.wikidata, { 'attr': {'class': 'form-control'}}) }}
		<div class="input-group-append">
			<button id="wikidata" class="btn btn-outline-secondary" type="button"><i class="fas fa-sync"></i></button>
		</div>
	</div>
</div>
{% endmacro %}

{% macro import_wikidata_generic(wikidataFieldId, languageFieldId, titleFieldId, textFieldId, illustrationForm) %}
<script>
	document.getElementById("wikidata").addEventListener("click", (e) => {
		e.preventDefault();
		let locale = document.getElementById("{{ languageFieldId }}").value;
		let code = document.getElementById("{{ wikidataFieldId }}").value;

		if (code == "")
			return;

		let xmlHttp = new XMLHttpRequest();
		
		document.querySelector('#wikidata .fa-sync').classList.add("fa-spin");
		
		xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				let data = JSON.parse(xmlHttp.responseText);
				
				document.getElementById("{{ titleFieldId }}").value = data.title;
				document.getElementById("url_{{ textFieldId }}").value = data.url;
				document.getElementById("url_{{ textFieldId }}").dispatchEvent(new Event("change"));

				{% if illustrationForm is not empty %}
					if(document.getElementById("{{ illustrationForm.photo_selector.vars.id }}").value == "") {
						document.getElementById("{{ illustrationForm.photo_selector.vars.id }}").value = data.image.url;
						
						{% if illustrationForm.license is defined %}
							document.getElementById("{{ illustrationForm.license.vars.id }}").value = data.image.license;
						{% endif %}
						
						{% if illustrationForm.author is defined %}
							document.getElementById("{{ illustrationForm.author.vars.id }}").value = data.image.user;
						{% endif %}
						
						{% if illustrationForm.urlSource is defined %}
							document.getElementById("{{ illustrationForm.urlSource.vars.id }}").value = data.image.url;
						{% endif %}
					}
				{% endif %}
					
				document.querySelector('#wikidata .fa-sync').classList.remove("fa-spin");
			}
		};
		
		xmlHttp.overrideMimeType("application/json");
		xmlHttp.open("GET", "{{ path('Admin_WikidataGeneric') }}?locale=" + locale + "&code=" + code, true);
		xmlHttp.send();
	});
</script>
{% endmacro %}