{% macro updateListForm(form) %}
	$("#{{ form.language.vars.id }}").change(function()
	{
		$.ajax({
			type: "POST",
			url: "{{ path('SurThemeGrimoire_Admin_ReloadListsByLanguage') }}",
			data: { "id" : $(this).val() },
			success: function(data)
			{
				var menuGrimoire = data.menuGrimoire;
				$("#{{ form.menuGrimoire.vars.id }} option").remove();
				$.each(menuGrimoire, function(index, element)
				{
					$("#{{ form.menuGrimoire.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
				});
				
				{% if form.vars.value.menuGrimoire.id is defined %}
					$("#{{ form.menuGrimoire.vars.id }}").val("{{ form.vars.value.menuGrimoire.id }}");
				{% endif %}
			}
		});
	});
	
	$("#{{ form.language.vars.id }}").change();
{% endmacro %}