{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Movie"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Movie_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Movie_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Movie_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Movie_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block archive_admin_route %}{{ path('Movie_Admin_Archive', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"})|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Introduction"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.introduction|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20px" height="13px" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Theme"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.theme.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Country"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.country.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Trailer"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.trailer|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.FullStreaming"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.fullStreaming|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Duration"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.duration }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.ReleaseYear"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.releaseYear|doPartialDate(app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Genre"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.genre|raw }}</div>

	{% if entity.previous is not empty %}
		<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Previous"|trans([], "validators") }}</div>
		<div class="form-table-cell"><a href="{{ path('Movie_Admin_Show', { id: entity.previous.id }) }}">{{ entity.previous.title }}</a></div>
	{% endif %}

	<div class="form-table-cell form-table-cell-head">{{ "biographies.admin.Biographies"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% for biography in entity.movieBiographies %}
			<p><a href="{{ path('Biography_Admin_Show', {id: biography.biography.id}) }}" class="badge badge-info text-white"><i class="fas fa-eye fa-fw"></i></a> <a href="{{ path('Biography_Admin_Edit', {id: biography.biography.id}) }}" class="badge badge-success text-white"><i class="fas fa-pencil-alt fa-fw"></i></a> <b>{{ biography.biography.title }}</b> - {{ ("biographies.admin."~biography.occupation|capitalize)|trans([], "validators") }}{{ (biography.role is not empty ? " (<i>"~biography.role~"</i>)" : "")|raw }}</p>
		{% endfor %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Sources"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ source_document(entity.source) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "tag.admin.Tags"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ get_tags(entity, true, false, true) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.BoxOffice"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.boxOffice }} {{ entity.boxOfficeUnit }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Cost"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.cost }} {{ entity.costUnit }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.ReviewScores"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% set datas = json_decode(entity.reviewScores) %}
		{% if datas is not empty %}
			<ul>
				{% for data in datas %}
					<li>{{ data.source }} (<i>{{ data.score }}</i>)</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "movie.admin.Identifiers"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% set datas = json_decode(entity.identifiers) %}
		{% if datas is not empty %}
			<ul>
				{% for data in datas %}
					<li>{{ data.identifier }} (<i>{{ data.value }}</i>)</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{% if entity.wikidata is not empty %}
		<div class="form-table-cell form-table-cell-head">Wikidata</div>
		<div class="form-table-cell">{{ entity.wikidata }} (<a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}">Wikidata</a>)</div>
	{% endif %}

	<div class="d-flex flex-row mt-3">
		<div><a href="{{ path('Movie_Show', { 'id' : entity.id, 'title_slug' : entity.urlSlug }) }}" class="btn btn-warning" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a></div>
		<div class="ml-2"><a href="{{ path('Store_Admin_New', {category: constant('App\\Entity\\Stores\\Store::MOVIE_CATEGORY'), id: entity.id}) }}" class="btn btn-info"><i class="fas fa-store"></i> {{ "store.admin.AddProduct"|trans([], "validators") }}</a></div>
	</div>
{% endblock %}

{% block data_bottom %}
	{{ render(controller('App\\Controller\\AdminController::internationalizationSelectGenericAction', {entity: entity, route: "Movie_Admin_Internationalization", "showRoute": "Movie_Admin_Show", "editRoute": "Movie_Admin_Edit"})) }}
	
	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}
		{% if entity.archive == false %}
			{{ macro_index.twitter_form(entity) }}
		{% endif %}
	{% endif %}
{% endblock %}