{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "admin.index.Doc"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('Document_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('Document_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('Document_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('Document_Admin_Delete', { 'id': entity.id }) }}{% endblock %}
{% block archive_admin_route %}{{ path('Document_Admin_Archive', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Document"|trans([], "validators") }}</div>
	<div class="form-table-cell"><a href="{{ asset(entity.getAssetImagePath())}}{{ entity.pdfDoc }}" alt="" target="_blank" >{{ entity.pdfDoc }}</a></div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.PseudoUsed"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.pseudoUsed }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.ReleaseDateOfDocument"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.releaseDateOfDocumentText|doPartialDate(app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.PublicationDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.AuthorDocumentBiographies"|trans([], "validators") }}</div>
	<div class="form-table-cell">
	{% for authorDocumentBiography in entity.authorDocumentBiographies %}
		<p><a href="{{ path('Biography_Admin_Show', {id: authorDocumentBiography.id}) }}" class="badge bg-info text-white"><i class="fas fa-eye fa-fw"></i></a> <a href="{{ path('Biography_Admin_Edit', {id: authorDocumentBiography.id}) }}" class="badge bg-success text-white"><i class="fas fa-pencil-alt fa-fw"></i></a> {{ authorDocumentBiography.title }}</p>
	{% endfor %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell"><img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" /></div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Category"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.getDocumentFamily.title }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Abstract"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Licence"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.licence is not empty ? entity.licence.title : "" }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.Theme"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.theme is not empty ? entity.theme.title : "" }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "document.admin.WritingDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "tag.admin.Tags"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ get_tags(entity, true, false, true) }}</div>

	<a href="{{ path('DocumentBundle_AbstractDocument', { 'id' : entity.id, 'title_slug': entity.urlSlug }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}