<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "classifiedAds.admin.Title"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.text, "classifiedAds.admin.Text"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.text) }}{{ form_widget(form.text) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.price, "classifiedAds.admin.Price"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	{{ form_errors(form.price) }}
	<div class="form-group-inline">
		<div class="row">
			<div class="col-md-6">
				{{ form_widget(form.price, { 'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-md-6">
				{{ form_widget(form.currencyPrice, { 'attr': {'class': 'form-select'}}) }}
			</div>
		</div>
	</div>
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.illustration, "classifiedAds.admin.Photo"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.illustration) }}{{ form_widget(form.illustration) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.contactName, "classifiedAds.admin.ContactName"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.contactName) }}{{ form_widget(form.contactName, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.contactEmail, "classifiedAds.admin.ContactEmail"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.contactEmail) }}{{ form_widget(form.contactEmail, { 'attr': {'class': 'form-control'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.displayEmail, "classifiedAds.admin.DisplayEmail"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.displayEmail) }}{{ form_widget(form.displayEmail) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.language, "classifiedAds.admin.Language"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.language) }}{{ form_widget(form.language, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.category, "classifiedAds.admin.Category"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.category) }}{{ form_widget(form.category, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.markAs, "classifiedAds.admin.MarkAs"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.markAs) }}{{ form_widget(form.markAs, { 'attr': {'class': 'form-select'} }) }}</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.location, "classifiedAds.admin.Address"|trans([], "validators")) }}</div>
<div class="form-table-cell">
	<div id="map" style="width:100%; height:400px"></div>
	{{ entity.locationArray|join(", ") }}
</div>

<div class="form-table-cell form-table-cell-head">{{ form_label(form.state, "classifiedAds.admin.State"|trans([], "validators")) }}</div>
<div class="form-table-cell">{{ form_errors(form.state) }}{{ form_widget(form.state, { 'attr': {'class': 'form-select'} }) }}</div>

<script>
	{% import "classifiedAds/ClassifiedAdsAdmin/macro_classifiedads.html.twig" as macro_classifiedads %}
	{{ macro_classifiedads.map(form.location.vars.id) }}
</script>