{% extends "admin/GenericAdmin/show.html.twig" %}

{% block h2_title %}{{ "classifiedAds.admin.ClassifiedAds"|trans([], "validators") }}{% endblock %}

{% block edit_admin_route %}{{ path('ClassifiedAds_Admin_Edit', { 'id': entity.id }) }}{% endblock %}
{% block new_admin_route %}{{ path('ClassifiedAds_Admin_New') }}{% endblock %}
{% block index_admin_route %}{{ path('ClassifiedAds_Admin_Index') }}{% endblock %}
{% block delete_admin_route %}{{ path('ClassifiedAds_Admin_Delete', { 'id': entity.id }) }}{% endblock %}

{% block tbody_admin_table %}
	<div class="form-table-cell form-table-cell-head">Id</div>
	<div class="form-table-cell">{{ entity.id }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Title"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.title }}</div>
	
	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Text"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.text|raw }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Photo"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.illustration is not empty %}
			{{ entity.illustration.titleFile|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid"}, null, true)|raw }}
			{% import "filemanagement/FileManagementAdmin/macro.html.twig" as macro_filemanagement %}
			{{ macro_filemanagement.license_picture_admin(entity.illustration) }}
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Price"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.price }} {{ entity.currencyPrice }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Author"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.authorToString }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Language"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.language is not empty %}<img src="{{ asset(entity.language.getAssetImagePath()) }}{{ entity.language.logo }}" alt="" width="20" height="13" />{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Category"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.category is not empty ? entity.category.title : "" }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.DisplayEmail"|trans([], "validators") }}</div>
	<div class="form-table-cell">
		{% if entity.displayEmail %}
			<span class="text-success"><i class="fas fa-check" aria-hidden="true"></i></span>
		{% else %}
			<span class="text-danger"><i class="fas fa-times" aria-hidden="true"></i></span>
		{% endif %}
	</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.MarkAs"|trans([], "validators") }}</div>
	<div class="form-table-cell">{% if entity.markAs is not empty %}{{ ("classifiedAds.admin." ~ (entity.markAs|capitalize))|trans([], "validators") }}{% endif %}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.Address"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.locationArray|join(", ") }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.WritingDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.writingDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.PublicationDate"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.publicationDate|dodate(false, app.request.locale) }}</div>

	<div class="form-table-cell form-table-cell-head">{{ "classifiedAds.admin.State"|trans([], "validators") }}</div>
	<div class="form-table-cell">{{ entity.state }}</div>

	<a href="{{ path('ClassifiedAds_Read', { 'id' : entity.id, 'title_slug' : entity.urlSlug }) }}" class="btn btn-warning mt-2" target="_blank">{{ "admin.general.Display"|trans([], "validators") }}</a>
{% endblock %}

{% block data_bottom %}
	{% if entity.state.isStateDisplayed() %}
		{% import "index/macro/macro_index.html.twig" as macro_index %}

		{{ macro_index.twitter_form(entity) }}
		{{ macro_index.facebook_form(entity) }}
		{{ macro_index.vk_form(entity) }}
		{{ macro_index.mastodon_form(entity) }}
		{{ macro_index.diaspora_form(entity) }}
	{% endif %}

	{% if entity.state.isWaiting() %}
		<a href="{{ path('ClassifiedAds_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Validate' }) }}" alt="Validate" class="btn btn-success">{{ "news.admin.Validate"|trans([], "validators") }}</a>
		<a href="{{ path('ClassifiedAds_Admin_ChangeState', { 'id' : entity.id, 'state' : 'Refused' }) }}" alt="Refuse" class="btn btn-danger">{{ "news.admin.Refuse"|trans([], "validators") }}</a>
	{% endif %}
{% endblock %}

{% block js_specific %}
	{% import "index/macro/macro_index.html.twig" as macro_index %}
	{{ macro_index.twitter_form_js() }}
	{{ macro_index.facebook_form_js() }}
	{{ macro_index.vk_form_js() }}
	{{ macro_index.mastodon_form_js() }}
	{{ macro_index.diaspora_form_js() }}
{% endblock %}