{% extends "content_layout.html.twig" %}

{% block title %}{{ "biography.index.Biography"|trans([], "validators") }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/nibble.svg') }}" width="25" class="mt-1" alt="Monster vampire" /></span>{{ "biography.index.Biography"|trans([], "validators") }}</h2>{% endblock h2_title %}

{% block header_plus %}
	<script src="{{ asset('extended/js/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.bootstrap5.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('extended/js/DataTables/media/js/responsive.bootstrap.min.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			oTable = $('table.biography_datatables').DataTable( {
				"language": {
					"url": "{{ asset('extended/js/DataTables/language/dataTables.'~app.request.locale~'.txt') }}"
				},
				"searching": true,
				"info": true,
				"ordering": true,
				"lengthChange": true,
				"pagingType": "full_numbers",
				"pageLength": {{ total_line_display }},
				"order": [[ 0, "asc" ]],
				"processing": true,
				"serverSide": true,
				"ajax": {
					"url": "{{ path('Biography_ListDatatables') }}",
					"type": "GET",
					"data": function(d) {
						d.form = $("#{{ form.vars.id }}").serialize()
					}
				},
				"preDrawCallback": function(settings) {
					document.getElementById("count_biography").innerHTML = '<i class="fas fa-spinner fa-pulse fa-fw"></i>';
				},
				"drawCallback": function(settings) {
					document.getElementById("count_biography").innerHTML = settings.json.recordsTotal;
				}
			});

			document.querySelector("#{{ form.vars.id }}").addEventListener("submit", (e) => {
				e.preventDefault();
				oTable.ajax.reload();
			});
		});
	</script>
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/dataTables.bootstrap5.min.css') }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ asset('extended/js/DataTables/media/css/responsive.bootstrap.min.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block APBlog_body %}
	<p class="image"><img class="image_wrapper mx-auto d-block img-fluid" src="{{ asset('extended/photo/biography-index.jpg') }}" alt="Bigraphy" width="550" /></p>
	<hr>
	<p>{{ "biography.search.NumberOfBiographies"|trans([], "validators") }}<span class="badge bg-danger" id="count_biography"><i class="fas fa-spinner fa-pulse fa-fw"></i></span></p>
	<hr>
	<h3>{{ "biography.search.SearchSort"|trans([], "validators") }}</h3>
	{% form_theme form 'index/CSS/form_div_layout.html.twig' %}
	{{ form_start(form, {'action': path('Biography_Index'), 'method': 'POST', 'attr': {id: form.vars.id, 'class' : 'form-horizontal', novalidate: 'novalidate'}}) }}
		<div class="form-table form-table-4cols form-table-collapse">
			<div class="form-table-cell form-table-cell-head">{{ form_label(form.title, "biography.search.Title"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.title) }}{{ form_widget(form.title, {'attr':{'class' : 'form-control'}}) }}</div>

			<div class="form-table-cell form-table-cell-head">{{ form_label(form.country, "biography.search.Nationality"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.country) }}{{ form_widget(form.country, {'attr':{'class' : 'form-select'}}) }}</div>

			<div class="form-table-cell form-table-cell-head">{{ form_label(form.occupation, "biography.search.Occupation"|trans([], "validators")) }}</div>
			<div class="form-table-cell">{{ form_errors(form.occupation) }}{{ form_widget(form.occupation, {'attr':{'class' : 'form-select'}}) }}</div>
		</div>
		{{ form_rest(form) }}
		<button type="submit" class="btn submitcomment float-end">{{ "biography.search.Validate"|trans([], "validators") }}</button>
	{{ form_end(form) }}
	<br>
	<hr>
	<br>
	<table class="biography_datatables dt-responsive w-100">
		<thead>
			<tr>
				<th class="label_form">{{ "biography.index.Author"|trans([], "validators") }}</th>
				<th class="label_form">{{ "biography.index.Photo"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<th class="label_form">{{ "biography.index.Author"|trans([], "validators") }}</th>
				<th class="label_form">{{ "biography.index.Photo"|trans([], "validators") }}</th>
			</tr>
		</tfoot>
	</table>
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}