{% extends "index/Generic/pdfVersion_generic.html.twig" %}

{% block main_content_pdf %}
	<h1>{{ entity.title }}</h1>
    <br />
	<p class="text-center">{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), false)|raw }}</p>

	{{ ((entity.abstractText|HTMLPurifier)|formatTextForPDFVersion(entity))|raw }}
	<br />
	{{ ((entity.text)|formatTextForPDFVersion(entity))|raw }}
	
	{% set sources = source_document(entity.source, entity.language) %}
	{% if sources is not empty %}
		<h3>{{ "news.index.Sources"|trans([], "validators") }}</h3>
		<span>{{ sources }}</span>
	{% endif %}
	<hr style="height: 1px"/>
	<p>{{ entity.theme.title }} - {{ entity.publicationDate|dodate(false, app.request.locale) }} - {{ entity.pseudoUsed }} - {{ entity.licence.title }}</p>
{% endblock %}