{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-start"><img src="{{ asset('extended/photo/nibble.svg') }}" width="25" class="mt-1" alt="Monster vampire"></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block header_plus %}
{% endblock %}

{% block APBlog_body %}
	<p class="image">{{ entity.flag|imgsize(550, entity.getAssetImagePath(), true, {class: "mx-auto d-block img-fluid", alt: entity.title})|raw }}</p>
	<hr>
	{% import "page/EventMessage/macro_event.html.twig" as macro_event %}

	{% if biographies is not empty %}
		{% for type, bs in biographies %}
			{% if bs is not empty %}
				<h3><i class="fas fa-{{ macro_event.icon(type) }}"></i> {{ ("region.index." ~ type|ucfirst)|trans([], "validators") }}</h3>
				<ul>
				{% for b in bs %}
					{% set dates = [] %}
					{% if b.birthDate is not empty %}
						{% set dateArray = b.birthDateToArray %}
						
						{% if dateArray.day is not empty and dateArray.month is not empty and dateArray.year is not empty %}
							{% set url = path('EventMessage_SelectDayMonth', {year: dateArray.year, month: dateArray.month, day: dateArray.day}) %}
						{% elseif dateArray.day is empty and dateArray.month is not empty and dateArray.year is not empty %}
							{% set url = path('EventMessage_SelectYearMonth', {year: dateArray.year, month: dateArray.month}) %}
						{% elseif dateArray.day is empty and dateArray.month is empty and dateArray.year is not empty %}
							{% set url = path('EventMessage_SelectYear', {year: dateArray.year}) %}
						{% endif %}

						{% set dates = dates|merge(["<a href='"~ url ~"'>"~b.birthDate|doPartialDate(app.request.locale) ~ "</a>"]) %}
					{% endif %}

					{% set deathDate = "" %}
					{% if b.deathDate is not empty %}
						{% set dateArray = b.deathDateToArray %}
						
						{% if dateArray.day is not empty and dateArray.month is not empty and dateArray.year is not empty %}
							{% set url = path('EventMessage_SelectDayMonth', {year: dateArray.year, month: dateArray.month, day: dateArray.day}) %}
						{% elseif dateArray.day is empty and dateArray.month is not empty and dateArray.year is not empty %}
							{% set url = path('EventMessage_SelectYearMonth', {year: dateArray.year, month: dateArray.month}) %}
						{% elseif dateArray.day is empty and dateArray.month is empty and dateArray.year is not empty %}
							{% set url = path('EventMessage_SelectYear', {year: dateArray.year}) %}
						{% endif %}

						{% set dates = dates|merge(["<a href='"~ url ~"'>"~b.deathDate|doPartialDate(app.request.locale) ~ "</a>"]) %}
					{% endif %}

					{% set nationality = "" %}
					{% if b.nationality is not empty %}
						{% set nationality = "<a href='"~path('Biography_Index')~"?country="~b.nationality.id~"'><img src='"~asset(b.nationality.getAssetImagePath())~b.nationality.flag~"' alt='' width='20' height='13'></a> " %}
					{% endif %}
				
					<li>{{ nationality|raw }}<a href="{{ path('Biography_Show', {id: b.id, title_slug: b.slug}) }}">{{ b.title }}</a>{% if dates|length is not empty %} ({{ (dates|join(" - "))|raw }}){% endif %}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	{% endif %}
	<br>
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}