{% extends "content_layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block h2_title %}<h2><span class="float-left"><img src="{{ asset('extended/photo/cinema.svg') }}" width="25" class="mt-1" alt="Television serie"/></span>{{ entity.title }}</h2>{% endblock h2_title %}

{% block APBlog_body %}
	{% include 'index/Licence/showColorboxByLicenceModal.html.twig' with { 'entity': entity } %}
	<p class="image">{{ entity.photoIllustrationFilename|imgsize(550, entity.getAssetImagePath(), true, {"class": "mx-auto d-block img-fluid" }, entity.photoIllustrationCaption)|raw }}</p>
	<br>
	
	<h3>{{ "televisionSerie.read.Datasheet"|trans([], "validators") }}</h3>
	
	{% set biographyDatas = televisionserie_biographies_by_occupation(entity) %}

	<table class="table">
		<tbody>
			<tr>
				<td class="td_form_table">{{ "televisionSerie.read.Genre"|trans([], "validators") }}</td>
				<td class="tdGene"><a href="{{ path('ByGenreTelevisionSerie_Index', {idGenre: entity.genre.id, titleGenre: entity.genre.title}) }}">{{ entity.genre }}</a></td>
			</tr>
			<tr>
				<td class="td_form_table">{{ "televisionSerie.read.Country"|trans([], "validators") }}</td>
				<td class="tdGene">{% if entity.country is not null %}<img id="flagC" src="{{ asset(entity.country.getAssetImagePath()) }}{{ entity.country.flag }}" alt="" width="20" /> - {{ entity.country.title }}{% endif %}</td>
			</tr>
			{% for occupation, biographies in biographyDatas %}
				{% if occupation != constant('App\\Entity\\Movies\\MediaInterface::ACTOR_OCCUPATION') %}
				<tr>
					<td class="td_form_table">{{ (("televisionSerie.read."~(occupation)|capitalize)~"By")|trans([], "validators") }}</td>
					<td class="tdGene">
						{% set persons = [] %}
						{% for biography in biographies %}
							{% set persons = persons|merge(['<a href="' ~ path('Biography_Show', { id: biography.id, title: biography.title }) ~ '">' ~ biography.title ~ '</a>']) %}
						{% endfor %}
						{{ (persons|join(", "))|raw }}
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	
	{% if entity.introduction is not empty %}
		<h3 class="mt-2">{{ "televisionSerie.read.Introduction"|trans([], "validators") }}</h3>
		{{ entity.introduction|raw }}
	{% endif %}
	
	<h3 class="mt-2">{{ "televisionSerie.read.Text"|trans([], "validators") }}</h3>
	{{ entity.text|raw }}
	
	{% if biographyDatas|length > 0 %}
	<h3>{{ "televisionSerie.read.Cast"|trans([], "validators") }}</h3>
	<table class="table">
		<thead>
			<tr>
				<th>{{ "televisionSerie.read.Actor"|trans([], "validators") }}</th>
				<th>{{ "televisionSerie.read.Role"|trans([], "validators") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for occupation, biographies in biographyDatas %}
				{% if occupation == constant('App\\Entity\\Movies\\MediaInterface::ACTOR_OCCUPATION') %}
					{% for biography in biographies %}
						<tr>
							<td><a href="{{ path('Biography_Show', {id: biography.id, title: biography.title}) }}">{{ biography.title }}</a></td>
							<td>{{ biography.role }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	
	{% set episodes = episodes_television_serie(entity) %}
	
	{% if episodes is not empty %}
		<h3>{{ "televisionSerie.read.Episodes"|trans([], "validators") }}</h3>
		<table class="table">
			<thead>
				<tr>
					<th>{{ "televisionSerie.read.Season"|trans([], "validators") }}</th>
					<th>{{ "televisionSerie.read.NumberEpisodes"|trans([], "validators") }}</th>
					<th>{{ "televisionSerie.read.ReleaseDates"|trans([], "validators") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for episode in episodes %}
					<tr>
						<td><a href="{{ path('TelevisionSerie_Season', {id: entity.id, title_slug: entity.urlSlug, season: episode.season}) }}">{{ "televisionSerie.read.Season"|trans([], "validators") }} {{ episode.season }}</a></td>
						<td><span class="badge badge-danger">{{ episode.totalEpisodes }}</span></td>
						<td>{{ episode.minDate|dodate(false, app.request.locale) }} - {{ episode.maxDate|dodate(false, app.request.locale) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	
	{% if entity.identifiers is not empty %}
		{% set datas = json_decode(entity.identifiers) %}
		{% if datas is not empty %}
			<h3>{{ "televisionSerie.read.Identifiers"|trans([], "validators") }}</h3>
			<ul class="fa-ul">
				{% for data in datas %}
					<li><span class="fa-li"><i class="fas fa-fast-forward"></i></span> {{ data.identifier }} (<i><a href="{{ url_identifier(data.identifier, data.value) }}" target="_blank">{{ data.value }}</a></i>)</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}

	{% if entity.source is not empty %}
		<br>
		<h3>{{ "televisionSerie.read.Sources"|trans([], "validators") }}</h3>
		{{ source_document(entity.source) }}
	{% endif %}
	
	{% set datas = get_store_by_entity(entity, "televisionSerie", "TelevisionSerieStore") %}
	
	{% if datas|length > 0 %}
		<h3>{{ "store.index.Store"|trans([], "validators") }}</h3>
	
		{% for data in datas %}
			{% include "store/Store/_product.html.twig" with { entity: data } %}
		{% endfor %}
	{% endif %}
	
	{{ getTagsByEntityForDisplay(entity) }}

	<hr class="hr2">
	<p>
		<i class="fas fa-dragon"></i> <a dir="{{ entity.language.direction }}" href="{{ path('Theme_Show', { id: entity.theme.id, theme: entity.theme.title }) }}">{{ entity.theme.title }}</a> - <i class="fas fa-calendar-alt"></i> {{ entity.publicationDate|dodate(false, app.request.locale) }} {% if entity.licence is not null %}- <a href="{{ path('Licence_ShowColorboxByLicence', { 'id' : entity.licence.id }) }}" alt="" id="news_licence_link"><img class="align-middle" src="{{ asset('extended/photo/licence/'~entity.licence.logo) }}" alt="{{ entity.licence.title }}" /></a>{% endif %}
		{% include 'index/History/index.html.twig' with { 'entity': entity } %}
	</p>

	{% include 'news/Widget/socialNetwork.html.twig' with {'titleNetwork':entity.title, 'entity':entity, 'url':app.request.server.get("REQUEST_URI") } %}

	{{ getTagsByEntityForDisplay(entity) }}

	{{ render(controller("App\\Controller\\VoteController::indexAction", { 'idClassName' : entity.id, 'className': 'TelevisionSerie' })) }}
	<hr class="hr2">
	{{ "google"|advertisement|raw }}
{% endblock %}

{% block sub_content %}
	{{ render(controller("App\\Controller\\CommentController::indexAction", { 'idClassName' : entity.id, 'className': 'TelevisionSerie' })) }}
{% endblock %}